<div class="card">
    <div class="header">
        <h2>Aspect Ratio</h2>
    </div>
    <div class="body grid grid-gap-3 text-center">
        <div class="border-negative-grey bg-blue v-flex-center rounded hover:scale-105 ratio-16x9">
            16/9</div>
        <div class="border-negative-grey bg-blue v-flex-center rounded hover:scale-105 ratio-1x1">
            1/1</div>
        <div class="border-negative-grey bg-blue v-flex-center rounded hover:scale-105 ratio-9x16">
            9/16</div>
    </div>
    <div class="footer align-right">
        <button class="btn-blue">&lt;code&gt;</button>
    </div>
</div>