<div class="card">
  <div class="header">
    <h2>Background Colors</h2>
  </div>
  <div class="body text-center">

    <div class="rounded hover:scale-105 p-4 m-3 bg-red">Red</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-orange text-black">Orange</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-yellow text-black">Yellow</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-green">Green</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-blue">Blue</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-purple">Purple</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-dark-grey">Dark grey</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-light-grey text-black">Light grey</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-grey">Grey</div>
    <div class="rounded hover:scale-105 p-4 m-3 bg-negative-grey">Negative grey</div>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>