<div class="card">
  <div class="header">
    <h2>Background Colors</h2>
  </div>
  <div class="body text-center">
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-yellow">Yellow</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-orange">Orange</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red">Red</div>   
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-pink">Pink</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-purple">Purple</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-blue">Blue</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-cyan">Cyan</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-green">Green</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-white text-black">White</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-grey">Grey</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-black text-white">Black</div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>