<div class="card">
  <div class="header">
    <h2>Borders Size</h2>
  </div>
  <div class="body text-center">
    <div class="border-0 rounded p-4 m-3 hover:scale-105 border border-negative-grey bg-grey">
      No Border
    </div>
    <div class="border-1 rounded p-4 m-3 hover:scale-105  border border-negative-grey bg-grey">
      1px
    </div>
    <div class="border-2 rounded p-4 m-3 hover:scale-105  border border-negative-grey bg-grey">
      2px
    </div>
    <div class="border-3 rounded p-4 m-3 hover:scale-105  border border-negative-grey bg-grey">
      3px
    </div>
    <div class="border-4 rounded p-4 m-3 hover:scale-105  border border-negative-grey bg-grey">
      4px
    </div>
    <div class="border-5 rounded p-4 m-3 hover:scale-105  border border-negative-grey bg-grey">
      5px
    </div>

  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>