<div class="card">
  <div class="header">
    <h2>Borders Size</h2>
  </div>
  <div class="body text-center">
    <div class="light:bg-white-500 dark:bg-black-500 border-0 rounded-3 p-4 m-3 hover:scale-105 border-yellow border">No Border</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-1 rounded-3 p-4 m-3 hover:scale-105 border-yellow border">1px</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-2 rounded-3 p-4 m-3 hover:scale-105 border-yellow border">2px</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-3 rounded-3 p-4 m-3 hover:scale-105 border-yellow border">3px</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-4 rounded-3 p-4 m-3 hover:scale-105 border-yellow border">4px</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-5 rounded-3 p-4 m-3 hover:scale-105 border-yellow border">5px</div>

  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>