<!-- Border Colors -->
<div class="card">
  <div class="header">
    <h2>Border Colors</h2>
  </div>
  <div class="body">
    <div class="rounded hover:scale-105 p-4 m-3 border border-red">
      <span>Red</span>
      <span>#DE3023</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-orange">
      <span>Orange</span>
      <span>#FFAA40</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-yellow">
      <span>Yellow</span>
      <span>#DED140</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-green">
      <span>Green</span>
      <span>#1F8F49</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-blue">
      <span>Blue</span>
      <span>#162BA9</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-purple">
      <span>Purple</span>
      <span>#B834C7</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-dark-grey">
      <span>Dark Grey</span>
      <span>#3B4154</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-light-grey">
      <span>Light Grey</span>
      <span>#DCDEE6</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-grey">
      <span>Grey</span>
      <span>#??????</span>
    </div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-negative-grey">
      <span>Negative Grey</span>
      <span>#??????</span>
    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>