<!-- Border Colors -->
<div id="border-colors" class="card">
  <div class="header">
    <h2>Border Colors</h2>
  </div>
  <div class="body">
    <div class="rounded-3 p-4 m-3 border-2 border text-center">Default</div>
    <div class="rounded-3 hover:border-yellow-700 p-4 m-3 border-2 border-yellow text-center">Yellow</div>
    <div class="rounded-3 hover:border-orange-700 p-4 m-3 border-2 border-orange text-center">Orange</div>
    <div class="rounded-3 hover:border-red-700 p-4 m-3 border-2 border-transparent text-center">Red</div>
    <div class="rounded-3 hover:border-pink-700 p-4 m-3 border-2 border-pink text-center">Pink</div>
    <div class="rounded-3 hover:border-purple-700 p-4 m-3 border-2 border-purple text-center">Purple</div>    
    <div class="rounded-3 hover:border-blue-700 p-4 m-3 border-2 border-blue text-center">Blue</div>
    <div class="rounded-3 hover:border-cyan-700 p-4 m-3 border-2 border-cyan text-center">Cyan</div>
    <div class="rounded-3 hover:border-green-700 p-4 m-3 border-2 border-green text-center">Green</div>
    <div class="rounded-3 hover:border-white-950 p-4 m-3 border-2 border-white text-center">White</div>
    <div class="rounded-3 hover:border-grey-700 p-4 m-3 border-2 border-grey text-center">Grey</div>
    <div class="rounded-3 hover:border-black-950 p-4 m-3 border-2 border-black text-center">Black</div>    
    <div class="rounded-3 hover:border-blue-700 p-4 m-3 border-2 light:border-pink-700 light:hover:border-red-700 dark:border-cyan-200 dark:hover-blue-200 text-center">Custom</div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="border-colors">&lt;code&gt;</button>
  </div>
</div>


<div id="doc-border-colors" hidden>
  <h2>Border Colors <a href="#border-colors" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/border-colors.ejs %>
  </content>
</div>