<div id="border-width" class="card">
  <div class="header">
    <h2>Borders Width</h2>
  </div>
  <div class="body text-center">
    <div class="light:bg-white-500 dark:bg-black-500 rounded-3 p-4 mx-3 my-4 hover:scale-105 border-blue border-0">No Border</div>
    <div class="light:bg-white-500 dark:bg-black-500 rounded-3 p-4 mx-3 my-4 hover:scale-105 border-blue border-1">1px</div>
    <div class="light:bg-white-500 dark:bg-black-500 rounded-3 p-4 mx-3 my-4 hover:scale-105 border-blue border-2">2px</div>
    <div class="light:bg-white-500 dark:bg-black-500 rounded-3 p-4 mx-3 my-4 hover:scale-105 border-blue border-3">3px</div>
    <div class="light:bg-white-500 dark:bg-black-500 rounded-3 p-4 mx-3 my-4 hover:scale-105 border-blue border-4">4px</div>
    <div class="light:bg-white-500 dark:bg-black-500 rounded-3 p-4 mx-3 my-4 hover:scale-105 border-blue border-5">5px</div>

  </div>
  <div class="footer align-right">
    <button class="btn-blue"  data-open-modal="documentation-modal" data-documentation="border-width">&lt;code&gt;</button>
  </div>
</div>


<div id="doc-border-width" hidden>
  <h2>Border Width <a href="#border-width" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/border-width.ejs %>
  </content>
</div>