<div class="card">
  <div class="header">
    <h2>Borders Styles</h2>
  </div>
  <div class="body text-center">
    <div class="light:bg-white-500 dark:bg-black-500 border-5 rounded-3 hover:scale-105 p-4 m-3 border-orange border-solid ">Solid</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-5 rounded-3 hover:scale-105 p-4 m-3 border-orange border-dotted">Dotted</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-5 rounded-3 hover:scale-105 p-4 m-3 border-orange border-dashed">Dashed</div>
    <div class="light:bg-white-500 dark:bg-black-500 border-5 rounded-3 hover:scale-105 p-4 m-3 border-orange border-double">Double</div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>