<div id="border-side" class="card">
  <div class="header">
    <h2>Border Side</h2>
  </div>
  <div class="body text-center py-5">

    <div class="p-4 mb-5 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-top-5">Top border</div>
    <div class="p-4 mb-5 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-right-5">Right border</div>
    <div class="p-4 mb-5 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-left-5">Left border</div>        
    <div class="p-4 mb-5 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-bottom-5">Bottom border</div>
    <div class="p-4 mb-5 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-x-5">Left and right borders</div>
    <div class="p-4 mb-5 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-y-5">Top and bottom borders</div>    
    <div class="p-4 hover:scale-105 border-red light:bg-white-500 dark:bg-black-500 border-x-5 border-bottom-5">Custom borders</div>
    
    

  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="border-side">&lt;code&gt;</button>
  </div>
</div>


<div id="doc-border-side" hidden>
  <h2>Border Side <a href="#border-side" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/border-side.ejs %>
  </content>
</div>