<div class="card">
  <div class="header">
    <h2>Borders Additive</h2>
  </div>
  <div class="body text-center">

    <div class="p-4 m-3 hover:scale-105 border-5 border-red light:bg-white-500 dark:bg-black-500 border-top">Top border</div>
    <div class="p-4 m-3 hover:scale-105 border-5 border-red light:bg-white-500 dark:bg-black-500 border-right">Right border</div>
    <div class="p-4 m-3 hover:scale-105 border-5 border-red light:bg-white-500 dark:bg-black-500 border-left border-right">Left & right border</div>
    <div class="p-4 m-3 hover:scale-105 border-5 border-red light:bg-white-500 dark:bg-black-500 border-left">Left border</div>    
    <div class="p-4 m-3 hover:scale-105 border-5 border-red light:bg-white-500 dark:bg-black-500 border-bottom">Bottom border</div>
    

  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>