<div class="card">
  <div class="header">
    <h2>Buttons</h2>
  </div>
  <div class="body">
    <div class="m-4 text-center"><button class="btn-red">Red Button</button></div>
    <div class="m-4 text-center"><button class="btn-orange">Orange Button</button></div>
    <div class="m-4 text-center"><button class="btn-yellow">Yellow Button</button></div>
    <div class="m-4 text-center"><button class="btn-green">Green Button</button></div>
    <div class="m-4 text-center"><button class="btn-blue">Blue Button</button></div>
    <div class="m-4 text-center"><button class="btn-purple">Purple Button</button></div>
    <div class="m-4 text-center"><button class="btn-dark-grey">Dark Grey Button</button></div>
    <div class="m-4 text-center"><button class="btn-light-grey">Light Grey Button</button></div>
    <div class="m-4 text-center"><button class="btn-grey">Grey Button</button></div>
    <div class="m-4 text-center"><button class="btn-negative-grey">Negative Grey Button</button></div>
  </div>
  <div class="footer text-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>