<div id="buttons" class="card">
  <div class="header">
    <h2>Buttons</h2>
  </div>
  <div class="body">
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-yellow">Yellow button</button></div>
      <div class="text-center"><button class="w-100 btn-yellow outline">Outline yellow</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-orange">Orange button</button></div>
      <div class="text-center"><button class="w-100 btn-orange outline">Outline orange</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-red">Red button</button></div>
      <div class="text-center"><button class="w-100 btn-red outline">Outline red</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-pink">Pink button</button></div>
      <div class="text-center"><button class="w-100 btn-pink outline">Outline pink</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-purple">Purple button</button></div>
      <div class="text-center"><button class="w-100 btn-purple outline">Outline purple</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-blue">Blue button</button></div>
      <div class="text-center"><button class="w-100 btn-blue outline">Outline blue</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-cyan">Cyan button</button></div>
      <div class="text-center"><button class="w-100 btn-cyan outline">Outline cyan</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-green">Green button</button></div>
      <div class="text-center"><button class="w-100 btn-green outline">Outline green</button></div>
    </div>
    
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-white">White button</button></div>
      <div class="text-center"><button class="w-100 btn-white outline">Outline white</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-grey">Grey button</button></div>
      <div class="text-center"><button class="w-100 btn-grey outline">Outline grey</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-black">Black button</button></div>
      <div class="text-center"><button class="w-100 btn-black outline">Outline black</button></div>
    </div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="buttons">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-buttons" hidden>
  <h2>Buttons <a href="#buttons" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/buttons.ejs %>
  </content>
</div>