<div id="button-disabled" class="card">
  <div class="header">
    <h2>Disabled Buttons</h2>
  </div>
  <div class="body">
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-yellow" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-yellow outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-orange" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-orange outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-red" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-red outline" disabled>Disabled</button></div>
    </div>    
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-pink" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-pink outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-purple" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-purple outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-blue" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-blue outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-cyan" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-cyan outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-green" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-green outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-white" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-white outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-grey" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-grey outline" disabled>Disabled</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="w-100 btn-black" disabled>Disabled</button></div>
      <div class="text-center"><button class="w-100 btn-black outline" disabled>Disabled</button></div>
    </div>

  </div>
  <div class="footer text-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="button-disabled">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-button-disabled" hidden>
  <h2>Disabled Buttons <a href="#button-disabled" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/button-disabled.ejs %>
  </content>
</div>