<div class="card">
  <div class="header">
    <h2>Button Size</h2>
  </div>
  <div class="body">
    <div class="m-4 text-center"><button class="btn-green btn-xs">Button XS</button></div>
    <div class="m-4 text-center"><button class="btn-green outline btn-xs">Button XS</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-green btn-sm">Button SM</button></div>
    <div class="m-4 text-center"><button class="btn-green outline btn-sm">Button SM</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-green">Regular</button></div>
    <div class="m-4 text-center"><button class="btn-green outline">Regular</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-green btn-lg">Button LG</button></div>
    <div class="m-4 text-center"><button class="btn-green btn-lg outline">Button LG</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-green btn-xl">Button XL</button></div>
    <div class="m-4 text-center"><button class="btn-green btn-xl outline">Button XL</button></div>
    <hr>
    <div class="m-4 mx-0 text-center p-0"><button class="btn-green w-100">Full Width Button</button></div>
    <div class="m-4 mx-0 text-center p-0"><button class="btn-green w-100 outline">Full Width Button</button></div>
  </div>
  <div class="footer text-right">    
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>