<div class="card">
  <div class="header">
    <h2>Button Style</h2>
  </div>
  <div class="body">
    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue rounded-pill">Rounded pill</button></div>
      <div class="text-center"><button class="btn-blue outline rounded-pill">Rounded pill</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue btn-circular">Circular</button></div>
      <div class="text-center"><button class="btn-blue btn-circular outline">Circular</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue btn-square">Square</button></div>
      <div class="text-center"><button class="btn-blue btn-square outline">Square</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue border-5 rounded-4 border-blue-700">Square</button></div>
      <div class="text-center"><button class="btn-blue border-5 rounded-4 outline border-blue-700 ">Square</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue border-top-5 rounded-1 border-blue-700">Square</button></div>
      <div class="text-center"><button class="btn-blue border-top-5 rounded-1 outline border-blue-700 ">Square</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue border-bottom-5 rounded-1 border-blue-700">Square</button></div>
      <div class="text-center"><button class="btn-blue border-bottom-5 rounded-1 outline border-blue-700 ">Square</button></div>
    </div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>