<div class="card">
  <div class="header">
    <h2>Buttons</h2>
  </div>
  <div class="body">
    <div class="m-4 text-center"><button class="btn-yellow">Yellow button</button></div>
    <div class="m-4 text-center"><button class="btn-orange">Orange button</button></div>
    <div class="m-4 text-center"><button class="btn-red">Red button</button></div>
    <div class="m-4 text-center"><button class="btn-pink">Pink button</button></div>
    <div class="m-4 text-center"><button class="btn-purple">Purple button</button></div>
    <div class="m-4 text-center"><button class="btn-blue">Blue button</button></div>
    <div class="m-4 text-center"><button class="btn-cyan">Cyan button</button></div>
    <div class="m-4 text-center"><button class="btn-green">Green button</button></div>
    <div class="m-4 text-center"><button class="btn-white">White button</button></div>
    <div class="m-4 text-center"><button class="btn-grey">Grey button</button></div>
    <div class="m-4 text-center"><button class="btn-black">Black button</button></div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>