<div id="button-active" class="card">
  <div class="header">
    <h2>Active Buttons</h2>
  </div>
  <div class="body v-grid gap-4 pt-5 w-fit mx-auto">
    <div class="text-center"><button class="w-100 btn-yellow active">Active yellow</button></div>
    <div class="text-center"><button class="w-100 btn-orange active">Active orange</button></div>
    <div class="text-center"><button class="w-100 btn-red active">Active red</button></div>
    <div class="text-center"><button class="w-100 btn-pink active">Active pink</button></div>
    <div class="text-center"><button class="w-100 btn-purple active">Active purple</button></div>
    <div class="text-center"><button class="w-100 btn-blue active">Active blue</button></div>
    <div class="text-center"><button class="w-100 btn-cyan active">Active cyan</button></div>
    <div class="text-center"><button class="w-100 btn-green active">Active green</button></div>
    <div class="text-center"><button class="w-100 btn-white active">Active white</button></div>
    <div class="text-center"><button class="w-100 btn-grey active">Active grey</button></div>
    <div class="text-center"><button class="w-100 btn-black active">Active black</button></div>
    <div class="text-center"><button class="w-100 btn-link active">Active link</button></div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue" data-open-modal="documentation-modal"
      data-documentation="button-active">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-button-active" hidden>
  <h2>Active Buttons <a href="#button-active" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/button-active.ejs %>
  </content>
</div>