<div class="card">
  <div class="header">
    <h2>Button Size</h2>
  </div>
  <div class="body">
    <div class="m-4 text-center"><button class="btn-blue btn-xs">Button XS</button></div>
    <div class="m-4 text-center"><button class="btn-blue outline btn-xs">Button XS</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-blue btn-sm">Button SM</button></div>
    <div class="m-4 text-center"><button class="btn-blue outline btn-sm">Button SM</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-blue">Regular</button></div>
    <div class="m-4 text-center"><button class="btn-blue outline">Regular</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-blue btn-lg">Button LG</button></div>
    <div class="m-4 text-center"><button class="btn-blue btn-lg outline">Button LG</button></div>
    <hr>
    <div class="m-4 text-center"><button class="btn-blue btn-xl">Button XL</button></div>
    <div class="m-4 text-center"><button class="btn-blue btn-xl outline">Button XL</button></div>
    <hr>
    <div class="m-4 mx-0 text-center p-0"><button class="btn-blue w-100">Full Width Button</button></div>
    <div class="m-4 mx-0 text-center p-0"><button class="btn-blue w-100 outline">Full Width Button</button></div>
  </div>
  <div class="footer text-right">    
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>