<div id="button-style" class="card">
  <div class="header">
    <h2>Button Style</h2>
  </div>
  <div class="body">
    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue rounded-pill">Rounded pill</button></div>
      <div class="text-center"><button class="btn-blue outline rounded-pill">Rounded pill</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue btn-circular">Circular</button></div>
      <div class="text-center"><button class="btn-blue btn-circular outline">Circular</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue btn-square">Square</button></div>
      <div class="text-center"><button class="btn-blue btn-square outline">Square</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue border-5 rounded-4 light:border-blue-700 dark:border-blue-800">Border</button></div>
      <div class="text-center"><button class="btn-blue border-5 rounded-4 light:border-blue-700 dark:border-blue-800 ">Border</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue border-top-5 rounded-1 light:border-blue-700 dark:border-blue-800">Border top</button></div>
      <div class="text-center"><button class="btn-blue border-top-5 rounded-1 light:border-blue-700 dark:border-blue-800">Border top</button></div>
    </div>

    <div class="m-4 grid">
      <div class="text-center"><button class="btn-blue border-bottom-5 rounded-1 light:border-blue-700 dark:border-blue-800">Border bottom</button></div>
      <div class="text-center"><button class="btn-blue border-bottom-5 rounded-1 light:border-blue-700 dark:border-blue-800">Border bottom</button></div>
    </div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="button-style">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-button-style" hidden>
  <h2>Button Style <a href="#button-style" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/button-style.ejs %>
  </content>
</div>