<div id="button-active" class="card">
  <div class="header">
    <h2>Active Buttons</h2>
  </div>
  <div class="body">
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-yellow active">Active yellow</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-orange active">Active orange</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-red active">Active red</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-pink active">Active pink</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-purple active">Active purple</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-blue active">Active blue</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-cyan active">Active cyan</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-green active">Active green</button></div>
    </div>
    
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-white active">Active white</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-grey active">Active grey</button></div>
    </div>
    <div class="my-4 grid">
      <div class="text-center"><button class="btn-black active">Active black</button></div>
    </div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="button-active">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-button-active" hidden>
  <h2>Active Buttons <a href="#button-active" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/button-active.ejs %>
  </content>
</div>