<div id="card" class="card">
  <div class="header">
    <h2>Card with Headers</h2>
  </div>
  <div class="body">Example of card with several <b>headers</b>.</div>
  <div class="header">
    <h2>Another Headers</h2>
  </div>
  <div class="body">You can insert multiple <b>headers</b> in a single card.</div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="card">&lt;code&gt;</button>
  </div>
</div>




<div id="doc-card" hidden>
  <h2>Card <a href="#card" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/card.ejs %>
  </content>
</div>