<!-- Code -->
<div class="card">
  <div class="header">
    <h2>Code</h2>
  </div>
  <div class="body">

    <pre><code class="rounded-2 language-js w-100">// JavaScript

function add(a, b) {
    return a + b;
}

console.log(add(2, 3));
</code></pre>

<pre><code class="language-css rounded w-100">/* CSS */

p { color: green }</code></pre>


    <pre><code class="language-python rounded w-100"># Python

adj = ["green", "big"]
fruits = ["apple", "banana"]

for x in adj:
for y in fruits:
print(x, y)</code></pre>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>


</div>
