<div id="cursor" class="card">
    <div class="header">
        <h2>Cursor</h2>
    </div>
    <div class="body">
        <div class="rounded-3 border p-4 mb-3 text-center cursor-pointer">Pointer</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-wait">Wait</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-text">Text</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-help">Help</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-crosshair">Crosshair</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-not-allowed">Not allowed</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-zoom-in">Zoom in</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-zoom-out">Zoom out</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-grab">Grab</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-default">Default</div>
        <div class="rounded-3 border p-4 mb-3 text-center cursor-auto">Auto</div>
    </div>
    <div class="footer align-right">
        <button class="btn-blue"  data-open-modal="documentation-modal" data-documentation="cursor">&lt;code&gt;</button>
    </div>
</div>




<div id="doc-cursor" hidden>
  <h2>Cursor <a href="#cursor" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/cursor.ejs %>
  </content>
</div>