<div class="card">
  <div class="header">
    <h2>Dotted Grid</h2>
  </div>
  <div class="body text-center text-black-white">
    <div class="rounded hover:scale-105 p-4 m-3 border border-yellow dotted-yellow">Yellow dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-orange dotted-orange">Orange dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-red dotted-red ">Red dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-purple dotted-purple">Purple dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-pink dotted-pink">Pink dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-blue dotted-blue">Blue dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-cyan dotted-cyan">Cyan dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-green dotted-green">Green dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-white dotted-white light:bg-black text-white-50">White dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-grey dotted-grey">Grey dots</div>
    <div class="rounded hover:scale-105 p-4 m-3 border border-black dotted-black dark:bg-white text-black-950">Black dots</div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>