<div class="card">
  <div class="header">
    <h2>Flex</h2>
  </div>
  <div class="body text-center">
    <div class="hatching-grey flex-row-start rounded">
      <div class="p-2 bg-red rounded">01</div>
      <div class="p-2 bg-red rounded">02</div>
      <div class="p-2 bg-red rounded">03</div>


    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>