<div class="card">
  <div class="header">
    <h2>Font Size</h2>
  </div>
  <div class="body">

    <div class="text-4xs monospace mb-4">
      4XS
    </div>

    <div class="text-3xs monospace mb-4">
      3XS
    </div>

    <div class="text-2xs monospace mb-4">
      2XS
    </div>

    <div class="text-xs monospace mb-4">
      XS
    </div>

    <div class="text-sm monospace mb-4">
      SM
    </div>

    <div class="text-md monospace mb-4">
      MD
    </div>

    <div class="text-lg monospace mb-4">
      LG
    </div>

    <div class="text-xl monospace mb-4">
      XL
    </div>

    <div class="text-2xl monospace mb-4">
      2XL
    </div>

    <div class="text-3xl monospace mb-4">
      3XL
    </div>

    <div class="text-4xl overflow-hidden monospace mb-4">
      4XL
    </div>

  </div>



  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>