<div class="card">
  <div class="header">
    <h2>Font Size</h2>
  </div>
  <div class="body">

    <div class="fs-4xs monospace mb-4">
      4XS
    </div>

    <div class="fs-3xs monospace mb-4">
      3XS
    </div>

    <div class="fs-2xs monospace mb-4">
      2XS
    </div>

    <div class="fs-xs monospace mb-4">
      XS
    </div>

    <div class="fs-sm monospace mb-4">
      SM
    </div>

    <div class="fs-md monospace mb-4">
      MD
    </div>

    <div class="fs-lg monospace mb-4">
      LG
    </div>

    <div class="fs-xl monospace mb-4">
      XL
    </div>

    <div class="fs-2xl monospace mb-4">
      2XL
    </div>

    <div class="fs-3xl monospace mb-4">
      3XL
    </div>

    <div class="fs-4xl overflow-hidden monospace mb-4">
      4XL
    </div>

    <div class="fs-5xl overflow-hidden monospace mb-4">
      5XL
    </div>

    <div class="fs-6xl overflow-hidden monospace mb-4">
      6XL
    </div>

    <div class="fs-7xl overflow-hidden monospace mb-4">
      7XL
    </div>

    <div class="fs-8xl overflow-hidden monospace mb-4">
      8XL
    </div>

    <div class="fs-9xl overflow-hidden monospace mb-4">
      9XL
    </div>

  </div>



  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>