<div id="form" class="card">
  <div class="header">
    <h2>Form</h2>
  </div>
  <form class="body">
    <div class="mb-4">
      <label for="exampleFormControlInputText" class="form-label">Text input</label>
      <input type="text" class="form-control" id="exampleFormControlInputText" placeholder="Default Input">
    </div>

    <div class="mb-4">
      <label for="exampleFormControlPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleFormControlPassword" placeholder="••••••••" autocomplete="off">
    </div>

    <div class="mb-4">
      <label for="exampleFormControlTextarea" class="form-label">Textarea</label>
      <textarea type="password" class="form-control" id="exampleFormControlTextarea" rows="5"
        placeholder="Comments"></textarea>
    </div>
    
    <div class="mb-4">
      <label for="exampleFormControlTextarea" class="form-label">Select</label>
      <select class="form-control" aria-label="Default select example">
        <option selected>Select</option>
        <option value="1">First choice</option>
        <option value="2">Second choice</option>
        <option value="3">Third choice</option>
      </select>
    </div>

  </form>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="form">&lt;code&gt;</button>
  </div>
</div>

<div id="doc-form" hidden>
  <h2>Form <a href="#form" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/form.ejs %>
  </content>
</div>