<div class="card">
  <div class="header">
    <h2>Form Styling</h2>
  </div>
  <div class="body">


    <div class="mb-4">
      <label for="exampleFormControlRoundedPill" class="form-label">Disabled</label>
      <input type="text" class="form-control cursor-not-allowed" id="exampleFormControlRoundedPill" disabled
        placeholder="Disabled">
    </div>

    <div class="mb-4">
      <label for="exampleFormControlRoundedPill" class="form-label">Rounded pill</label>
      <input type="text" class="form-control rounded-pill" id="exampleFormControlRoundedPill"
        placeholder="Rounded pill">
    </div>

    <div class="mb-4">
      <label for="exampleFormControlRoundedPill" class="form-label">No border</label>
      <input type="text" class="form-control border-0" id="exampleFormControlRoundedPill" placeholder="No border">
    </div>
    <div class="mb-4">
      <label for="exampleFormControlValid" class="form-label">Valid input</label>
      <input type="email" class="form-control valid" id="exampleFormControlValid" placeholder="Valid input">
    </div>

    <div class="mb-4">
      <label for="exampleFormControlinvalid" class="form-label">Invalid input</label>
      <input type="text" class="form-control invalid" id="exampleFormControlinvalid" rows="3"
        placeholder="Invalid input">
    </div>


  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>