<!-- Horizontal Grid -->
<div id="horizontal-grid" class="card">
  <div class="header">
    <h2>Horizontal Grid</h2>
  </div>
  <div class="body">
    <div
      class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-grid gap-3 rounded monospace mt-3 mb-5 text-center">
      <div class="p-3 bg-green rounded">01</div>
      <div class="p-3 bg-green rounded">02</div>
      <div class="p-3 bg-green rounded">03</div>
      <div class="p-3 bg-green rounded">04</div>
    </div>


    <div
      class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-grid-5 gap-3 rounded monospace mb-5 text-center">
      <div class="p-3 bg-green rounded">01</div>
      <div class="p-3 bg-green rounded">02</div>
      <div class="p-3 bg-green rounded">03</div>
      <div class="p-3 bg-green rounded">04</div>
      <div class="p-3 bg-green rounded">05</div>
      <div class="p-3 bg-green rounded">06</div>
      <div class="p-3 bg-green rounded">07</div>
      <div class="p-3 bg-green rounded">08</div>
    </div>

    <div
      class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-grid-5 gap-3 rounded monospace mb-3 text-center">
      <div class="p-3 bg-green rounded">01</div>
      <div class="p-3 bg-green rounded h-span-2">02</div>
      <div class="p-3 bg-green rounded v-span-2">03</div>
      <div class="p-3 bg-green rounded">04</div>
      <div class="p-3 bg-green rounded">05</div>
      <div class="p-3 bg-green rounded">06</div>
      <div class="p-3 bg-green rounded">07</div>
      <div class="p-3 bg-green rounded">08</div>
    </div>


  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="horizontal-grid">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-horizontal-grid" hidden>
  <h2>Horizontal Grid <a href="#horizontal-grid" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/horizontal-grid.ejs %>
  </content>
</div>