<div class="card">
  <div class="header">
    <h2>Input Groups</h2>
  </div>
  <div class="body">
    <div class="input-group mb-4 mt-2">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-4 rounded-pill">
      <button class="btn-grey px-3"><i class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></button>
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
      <button class="btn-grey px-3"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div
      class="input-group mb-4 rounded-pill light:border-purple-700 dark:border-green-300 light:color-white-900 dark:color-black-100">
      <button
        class="btn light:bg-purple-700 light:hover:bg-purple-500 dark:bg-green-300 dark:hover:bg-green-500 px-3"><i
          class="fa-solid fa-magnifying-glass fa-flip-horizontal"></i></button>
      <input type="text" class="form-control bg-cyan-lighter-5" placeholder="Custom" aria-label="Search"
        aria-describedby="basic-addon1">
      <button
        class="btn light:bg-purple-700 light:hover:bg-purple-500 dark:bg-green-300 dark:hover:bg-green-500 px-3"><i
          class="fa-solid fa-xmark"></i></button>
    </div>

  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>