<div id="background-colors" class="card">
  <div class="header">
    <h2>Background Colors</h2>
  </div>
  <div class="body text-center">
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-yellow">Yellow</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-orange">Orange</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-red">Red</div>   
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-pink">Pink</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-purple">Purple</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-blue">Blue</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-cyan">Cyan</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-green">Green</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-white color-black">White</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-grey">Grey</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 bg-black color-white">Black</div>
    <div class="rounded hover:scale-105 p-4 m-3 rounded-2 dark:bg-yellow-700 dark:hover:bg-purple-700 light:bg-red-500 light:hover:bg-green-500">Custom</div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="background-colors">&lt;code&gt;</button>
  </div>
</div>




<div id="doc-background-colors" hidden>
  <h2>Background Colors <a href="#background-colors" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/background-colors.ejs %>
  </content>
</div>