<div id="loaders" class="card">
  <div class="header">
    <h2>Loaders <span class="d-none">spinners</span></h2>
  </div>
  <div class="body text-center v-grid gap-4 my-5">
    <div class="w-100 text-center h-64px h-grid">
      <span class="loader place-self-center color-red"></span>
      <span class="loader place-self-center h-48px w-48px"></span>
      <span class="loader place-self-center border-purple color-transparent h-48px w-48px"></span>
      <span
        class="loader place-self-center border-transparent color-green h-48px w-48px animation-duration-2000"></span>
    </div>

    <div class="w-100 text-center h-64px h-grid">
      <span class="loader-clip place-self-center color-red"></span>
      <span class="loader-clip place-self-center h-48px w-48px"></span>
      <span class="loader-clip place-self-center color-purple h-48px w-48px"></span>
      <span class="loader-clip place-self-center color-green h-48px w-48px scale-150 animation-duration-2000"></span>
    </div>

    <div class="w-100 text-center h-64px h-grid">
      <span class="loader-grow place-self-center bg-red"></span>
      <span class="loader-grow place-self-center h-48px w-48px"></span>
      <span class="loader-grow place-self-center bg-purple h-48px w-48px"></span>
      <span class="loader-grow place-self-center bg-green h-48px w-48px scale-150"></span>
    </div>

    <div class="w-100 text-center h-64px h-grid">
      <span class="loader-dots-fade place-self-center color-red fs-2xs h-4px w-4px"></span>
      <span class="loader-dots-fade place-self-center"></span>
      <span class="loader-dots-fade place-self-center color-purple"></span>
      <span class="loader-dots-fade place-self-center color-green animation-duration-2000 scale-150"></span>
    </div>

    <div class="w-100 text-center h-64px h-grid">
      <span class="loader-dots-spin place-self-center color-red fs-2xs h-4px w-4px"></span>
      <span class="loader-dots-spin place-self-center"></span>
      <span class="loader-dots-spin place-self-center color-purple"></span>
      <span class="loader-dots-spin place-self-center color-green animation-duration-2000 scale-150"></span>
    </div>

    <div class="w-100 text-center h-64px h-grid">
      <span class="loader-comet place-self-center color-red fs-2xs h-4px w-4px"></span>
      <span class="loader-comet place-self-center"></span>
      <span class="loader-comet place-self-center color-purple"></span>
      <span class="loader-comet place-self-center color-green animation-duration-2000 scale-150"></span>
    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="loaders">&lt;code&gt;</button>
  </div>
</div>





<div id="doc-loaders" hidden>
  <h2>Loaders <a href="#loaders" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/loaders.ejs %>
  </content>
</div>