<div class="card">
  <div class="header">
    <h2>Margins</h2>
  </div>
  <div class="body text-center">
    <div class="mx-auto m-3 rounded-2 w-fit">
      <div class="m-0 bg-purple p-1 w-fit h-fit border border-purple rounded">Margin 0</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit border border-purple hatching-purple">
      <div class="m-1 bg-purple p-1 w-fit rounded">Margin 1</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit border border-purple hatching-purple">
      <div class="m-2 bg-purple p-1 w-fit rounded">Margin 2</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit border border-purple hatching-purple">
      <div class="m-3 bg-purple p-1 rounded">Margin 3</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit border border-purple hatching-purple">
      <div class="m-4 bg-purple p-1 rounded">Margin 4</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit border border-purple  hatching-purple">
      <div class="m-5 bg-purple p-1 rounded">Margin 5</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit border border-purple hatching-purple">
      <div class="m-6 bg-purple p-1 rounded">Margin 6</div>
    </div>
    <div class="mx-auto m-3 rounded-2 w-fit h-fit border border-purple hatching-purple">
      <div class="m-7 bg-purple p-1 rounded">Margin 7</div>
    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>