<div class="card">
  <div class="header">
    <h2>Margins</h2>
  </div>
  <div class="body text-center">
    <div class="mx-auto m-3 rounded-1 w-fit">
      <div class="m-0 bg-blue-lighter-10 p-1 w-fit h-fit border border-blue rounded-1 text-white">Margin 0</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit border border-blue hatching-blue">
      <div class="m-1 bg-blue-lighter-10 p-1 w-fit rounded-1 text-white">Margin 1</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit border border-blue hatching-blue">
      <div class="m-2 bg-blue-lighter-10 p-1 w-fit rounded-1 text-white">Margin 2</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit border border-blue hatching-blue">
      <div class="m-3 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 3</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit border border-blue hatching-blue">
      <div class="m-4 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 4</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit border border-blue  hatching-blue">
      <div class="m-5 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 5</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit border border-blue hatching-blue">
      <div class="m-6 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 6</div>
    </div>
    <div class="mx-auto m-3 rounded-1 w-fit h-fit border border-blue hatching-blue">
      <div class="m-7 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 7</div>
    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>