<div class="card">
    <div class="header">
        <h2>Masonry</h2>
    </div>
    <div class="body">

        <div class="masonry-4 masonry-gap-3">
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">
                1</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
                2</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
                3</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
                4</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
                5</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
                6</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
                7</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
                8</div>
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">
                9</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
                10</div>
            <div class="text-center rounded hover:scale-105 ratio-1x1 bg-cyan">
                11</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
                12</div>
            <div class="text-center rounded hover:scale-105 ratio-9x16 bg-blue">
                13</div>
            <div class="text-center rounded hover:scale-105 ratio-16x9 bg-green">
                14</div>
        </div>
    </div>
    <div class="footer align-right">
        <button class="btn-blue">&lt;code&gt;</button>
    </div>
</div>