<div id="modal" class="card">
    <div class="header">
        <h2>Modal Dialogs</h2>
    </div>
    <div class="body v-flex-center gap-4">
        <!-- <button class="btn-purple w-100 mb-3" btfcss-modal-target="simple-modal">Open modal</button>           -->
        <button class="btn-green btn-lg" data-open-modal="simple-modal">Launch demo modal</button>
        <button class="btn-green btn-lg" data-open-modal="no-animation-modal">No animation</button>
        <button class="btn-green btn-lg" data-open-modal="blurred-modal">No blur</button>
        <button class="btn-green btn-lg" data-open-modal="centered-modal">Centered modal</button>
        <button class="btn-green btn-lg" data-open-modal="long-content-modal">Long content</button>
        <button class="btn-green btn-lg" data-open-modal="toggle-modal-1">Toggle between modals</button>
        <button class="btn-green btn-lg" data-open-modal="full-width-modal">Full width</button>
    </div>
    <div class="footer align-right">
        <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="modal">&lt;code&gt;</button>
    </div>
</div>


<div id="doc-modal" hidden>
  <h2>Modal Dialogs <a href="#modal" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/modal.ejs %>
  </content>
</div>