<div id="object-fit" class="card">
  <div class="header">
    <h2>Object Fit</h2>
  </div>
  <div class="body v-grid gap-3">
    <div
      class="overflow-hidden mx-auto w-100 dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9">
      <img src="/images/skateboard-small.jpg" class="h-100 w-100 object-scale-down">
    </div>

    <div
      class="overflow-hidden mx-auto w-100 dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9">
      <img src="/images/skateboard.jpg" class="h-100 w-100 object-contain">
    </div>

    <div
      class="overflow-hidden mx-auto w-100 dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9">
      <img src="/images/skateboard.jpg" class="h-100 w-100 object-fill">
    </div>

    <div
      class="overflow-hidden mx-auto w-100 dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9">
      <img src="/images/skateboard.jpg" class="h-100 w-100 object-cover">
    </div>

    <div
      class="overflow-hidden mx-auto w-100 dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9">
      <img src="/images/skateboard.jpg" class="h-100 w-100 object-none">
    </div>



  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="object-fit">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-object-fit" hidden>
  <h2>Object Fit <a href="#object-fit" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/object-fit.ejs %>
  </content>
</div>