<div class="card">
  <div class="header">
    <h2>Outline Buttons</h2>
  </div>
  <div class="body">
    <div class="m-4 text-center"><button class="outline btn-red">Red Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-orange">Orange Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-yellow">Yellow Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-blue">Green Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-blue">Blue Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-purple">Purple Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-dark-grey">Dark Grey Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-light-grey">Light Grey Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-grey">Grey Button</button></div>
    <div class="m-4 text-center"><button class="outline btn-negative-grey">Negative Grey Button</button></div>
  </div>
  <div class="footer text-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>