<div class="card">
  <div class="header">
    <h2>Paddings</h2>
  </div>
  <div class="body text-center">
    <div class="p-0 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 0</div>
    <div class="p-1 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 1</div>
    <div class="p-2 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 2</div>
    <div class="p-3 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 3</div>
    <div class="p-4 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 4</div>
    <div class="p-5 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 5</div>
    <div class="p-6 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 6</div>
    <div class="p-7 mx-auto my-3 rounded-2 w-fit text-black stripes-green">Padding 7</div>

  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>