<div class="card">
  <div class="header">
    <h2>Radius</h2>
  </div>
  <div class="body text-center">

    <div class="p-3 m-3 bg-grey hover:scale-105 ">
      Rounded 0
    </div>
    <div class="p-3 m-3 bg-grey hover:scale-105  rounded-1">
      Rounded 1
    </div>
    <div class="p-3 m-3 bg-grey hover:scale-105  rounded-2">
      Rounded 2
    </div>
    <div class="p-4 m-3 bg-grey hover:scale-105  rounded-2">
      Rounded 2
    </div>
    <div class="p-4 m-3 bg-grey hover:scale-105  rounded-3">
      Rounded 3
    </div>
    <div class="p-4 m-3 bg-grey hover:scale-105  rounded-4">
      Rounded 4
    </div>
    <div class="p-5 m-3 bg-grey hover:scale-105  rounded-5">
      Rounded 5
    </div>
    <div class="p-6 m-3 bg-grey hover:scale-105  rounded-6">
      Rounded 6
    </div>
    <div class="p-7 m-3 bg-grey hover:scale-105  rounded-7">
      Rounded 7
    </div>
    <div class="p-7 m-3 bg-grey hover:scale-105  rounded-pill">
      Rounded pill
    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>
