<div id="rotation" class="card">
  <div class="header">
    <h2>Rotation</h2>
  </div>
  <div class="body text-center v-grid grid-gap-4 cursor-default">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-45" src="/images/rotations.jpg">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-90" src="/images/rotations.jpg">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-135" src="/images/rotations.jpg">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-180" src="/images/rotations.jpg">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-225" src="/images/rotations.jpg">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-270" src="/images/rotations.jpg">
    <img class="mx-auto hover:rotate-0 transition-rotate duration-500 rotate-315" src="/images/rotations.jpg">
  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="rotation">&lt;code&gt;</button>
  </div>
</div>

<div id="doc-rotation" hidden>
  <h2>Rotation <a href="#rotation" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/rotation.ejs %>
  </content>
</div>