<div class="card">
  <div class="header">
    <h2>Stripes</h2>
  </div>
  <div class="body text-center">
    <div class="rounded hover:scale-105 p-4 m-3 stripes-yellow">Yellow stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-orange">Orange stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-red">Red stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-pink">Pink stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-purple">Purple stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-blue">Blue stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-cyan">Cyan stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-green">Green stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-white text-black">White stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-grey">Grey stripes</div>
    <div class="rounded hover:scale-105 p-4 m-3 stripes-black text-white">Black stripes</div>
    <div
      class="rounded hover:scale-105 p-4 m-3 light:stripes-fg-yellow-600 dark:stripes-fg-yellow-800 stripes-bg-black-500 text-white">
      Custom stripes</div>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>