<div id="table" class="card">
  <div class="header">
    <h2>Table</h2>
  </div>


  <div class="body">

    <table class="w-100 mb-5">
      <thead>
        <tr>
          <th>#</th>
          <th>Columns</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>John</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Smith</td>
        </tr>
    </table>

    <div class="overflow-x-auto mb-5">
      <table class="light:bg-red-50 dark:bg-red-950">
        <thead>
          <tr>
            <th>#</th>
            <th class="no-wrap">Col 1</th>
            <th class="no-wrap">Col 2</th>
            <th class="no-wrap">Col 3</th>
            <th class="no-wrap">Col 4</th>
            <th class="no-wrap">Col 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>This</td>
            <td>is</td>
            <td>a</td>
            <td>large</td>
            <td>content</td>
          </tr>
          <tr>
            <th>2</th>
            <td>This</td>
            <td>is</td>
            <td>a</td>
            <td>red</td>
            <td>background</td>
          </tr>
      </table>
    </div>


    <table class="w-100 table-striped text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Striped</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>Odd</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Even</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Odd</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Even</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Odd</td>
        </tr>
    </table>


  </div>
  <div class="footer align-right">
    <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="table">&lt;code&gt;</button>
  </div>
</div>



<div id="doc-table" hidden>
  <h2>Table <a href="#table" class="no-decoration hover:underline">#</a></h2>
  <content>
    <%- include ../documentation/table.ejs %>
  </content>
</div>