<div class="card">
  <div class="header">
    <h2>Text Colors</h2>
  </div>
  <div class="body text-center">
    <div class="rounded-1 hover:scale-105 m-2 text-yellow">Yellow</div>
    <div class="rounded-1 hover:scale-105 m-2 text-orange">Orange</div>
    <div class="rounded-1 hover:scale-105 m-2 text-red">Red</div>    
    <div class="rounded-1 hover:scale-105 m-2 text-pink">Pink</div>
    <div class="rounded-1 hover:scale-105 m-2 text-purple">Purple</div>        
    <div class="rounded-1 hover:scale-105 m-2 text-blue">Blue</div>
    <div class="rounded-1 hover:scale-105 m-2 text-cyan">Cyan</div>
    <div class="rounded-1 hover:scale-105 m-2 text-green">Green</div>       
    <div class="rounded-1 hover:scale-105 m-2 light:bg-grey-950 text-white">White</div>
    <div class="rounded-1 hover:scale-105 m-2 text-grey">Grey</div>
    <div class="rounded-1 hover:scale-105 m-2 dark:bg-grey-200 text-black">Black</div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>