<div class="card">
  <div class="header">
    <h2>Left Alignment</h2>
  </div>
  <div class="body">
    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend nisl
      metus, nec venenatis sapien efficitur vitae.</p>
  </div>

  <div class="header">
    <h2>Center</h2>
  </div>
  <div class="body">
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend
      nisl metus, nec venenatis sapien efficitur vitae.</p>
  </div>

  <div class="header">
    <h2>Right</h2>
  </div>
  <div class="body">
    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend
      nisl metus, nec venenatis sapien efficitur vitae.</p>
  </div>

  <div class="header">
    <h2>Justify</h2>
  </div>
  <div class="body">
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend
      nisl
      metus, nec venenatis sapien efficitur vitae.</p>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>