<!-- Typography -->
<div class="card">
  <div class="header">
    <h2>Typography</h2>
  </div>
  <div class="body">
    <abbr title="Abbreviation">Abbr.</abbr>
    <hr>
    <b>Bold</b>
    <hr>
    <i>Italic</i>    
    <hr>
    <s>Strikethrough</s>
    <hr>
    <u>Underline</u>
    <hr>
    <small>Small</small>
    <hr>
    <del>Deleted</del>
    <hr>
    <ins>Inserted</ins>
    <hr>
    <kbd>Ctrl + F</kbd>
    <hr>
    Text <sub>Sub</sub>
    <hr>
    Text <sup>Sup</sup>
    <hr>
    <span class="monospace">Monospace</span>
    <hr>
    <span class="lowercase">Lowercase text</span>
    <hr>
    <span class="capitalize">Capitalize text</span>
    <hr>
    <span class="uppercase">Uppercase text</span>
  </div>
  <div class="footer align-right">
    <button class="btn-green">&lt;code&gt;</button>
  </div>
</div>