<div class="card">
  <div class="header">
    <h2>Vertical Flex</h2>
  </div>
  <div class="body text-center monospace">
    <div class="h-flex-evenly gap-3 mb-6">

      <div class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-start gap-3 rounded h-256">
        <div class="p-3 bg-red fit-content rounded ">01</div>
        <div class="p-3 bg-red rounded ">02</div>
        <div class="p-3 bg-red rounded ">03</div>
      </div>

      <div class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-end gap-3 rounded h-256">
        <div class="p-3 bg-red rounded ">01</div>
        <div class="p-3 bg-red rounded ">02</div>
        <div class="p-3 bg-red rounded ">03</div>
      </div>

      <div class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-center gap-3 rounded h-256">
        <div class="p-3 bg-red rounded ">01</div>
        <div class="p-3 bg-red rounded ">02</div>
        <div class="p-3 bg-red rounded ">03</div>
      </div>
    </div>

    <div class="h-flex-evenly">

      <div class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-between gap-3 h-256">
        <div class="p-3 bg-red rounded">01</div>
        <div class="p-3 bg-red rounded ">02</div>
        <div class="p-3 bg-red rounded ">03</div>
      </div>

      <div class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-around gap-3 h-256">
        <div class="p-3 bg-red rounded">01</div>
        <div class="p-3 bg-red rounded ">02</div>
        <div class="p-3 bg-red rounded ">03</div>
      </div>

      <div class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-evenly gap-3 h-256">
        <div class="p-3 bg-red rounded">01</div>
        <div class="p-3 bg-red rounded monospace">02</div>
        <div class="p-3 bg-red rounded monospace">03</div>
      </div>
    </div>
  </div>
  <div class="footer align-right">
    <button class="btn-blue">&lt;code&gt;</button>
  </div>
</div>