.stroke-red { --stroke-light:var(--red-500);--stroke-dark:var(--red-500);}
.stroke-red-50  { --stroke-light:var(--red-50 );--stroke-dark:var(--red-50 );}
.stroke-red-100 { --stroke-light:var(--red-100);--stroke-dark:var(--red-100);}
.stroke-red-200 { --stroke-light:var(--red-200);--stroke-dark:var(--red-200);}
.stroke-red-300 { --stroke-light:var(--red-300);--stroke-dark:var(--red-300);}
.stroke-red-400 { --stroke-light:var(--red-400);--stroke-dark:var(--red-400);}
.stroke-red-500 { --stroke-light:var(--red-500);--stroke-dark:var(--red-500);}
.stroke-red-600 { --stroke-light:var(--red-600);--stroke-dark:var(--red-600);}
.stroke-red-700 { --stroke-light:var(--red-700);--stroke-dark:var(--red-700);}
.stroke-red-800 { --stroke-light:var(--red-800);--stroke-dark:var(--red-800);}
.stroke-red-900 { --stroke-light:var(--red-900);--stroke-dark:var(--red-900);}
.stroke-red-950 { --stroke-light:var(--red-950);--stroke-dark:var(--red-950);}

.light\:stroke-red { --stroke-light:var(--red-500 ); }
.light\:stroke-red-50  { --stroke-light:var(--red-50 ); }
.light\:stroke-red-100 { --stroke-light:var(--red-100); }
.light\:stroke-red-200 { --stroke-light:var(--red-200); }
.light\:stroke-red-300 { --stroke-light:var(--red-300); }
.light\:stroke-red-400 { --stroke-light:var(--red-400); }
.light\:stroke-red-500 { --stroke-light:var(--red-500); }
.light\:stroke-red-600 { --stroke-light:var(--red-600); }
.light\:stroke-red-700 { --stroke-light:var(--red-700); }
.light\:stroke-red-800 { --stroke-light:var(--red-800); }
.light\:stroke-red-900 { --stroke-light:var(--red-900); }
.light\:stroke-red-950 { --stroke-light:var(--red-950); }

.dark\:stroke-red  { --stroke-dark:var(--red-500 ); }
.dark\:stroke-red-50  { --stroke-dark:var(--red-50 ); }
.dark\:stroke-red-100 { --stroke-dark:var(--red-100); }
.dark\:stroke-red-200 { --stroke-dark:var(--red-200); }
.dark\:stroke-red-300 { --stroke-dark:var(--red-300); }
.dark\:stroke-red-400 { --stroke-dark:var(--red-400); }
.dark\:stroke-red-500 { --stroke-dark:var(--red-500); }
.dark\:stroke-red-600 { --stroke-dark:var(--red-600); }
.dark\:stroke-red-700 { --stroke-dark:var(--red-700); }
.dark\:stroke-red-800 { --stroke-dark:var(--red-800); }
.dark\:stroke-red-900 { --stroke-dark:var(--red-900); }
.dark\:stroke-red-950 { --stroke-dark:var(--red-950); }


.hover\:stroke-red:hover { --stroke-light:var(--red-500);--stroke-dark:var(--red-500);}
.hover\:stroke-red-50:hover  { --stroke-light:var(--red-50 );--stroke-dark:var(--red-50 );}
.hover\:stroke-red-100:hover { --stroke-light:var(--red-100);--stroke-dark:var(--red-100);}
.hover\:stroke-red-200:hover { --stroke-light:var(--red-200);--stroke-dark:var(--red-200);}
.hover\:stroke-red-300:hover { --stroke-light:var(--red-300);--stroke-dark:var(--red-300);}
.hover\:stroke-red-400:hover { --stroke-light:var(--red-400);--stroke-dark:var(--red-400);}
.hover\:stroke-red-500:hover { --stroke-light:var(--red-500);--stroke-dark:var(--red-500);}
.hover\:stroke-red-600:hover { --stroke-light:var(--red-600);--stroke-dark:var(--red-600);}
.hover\:stroke-red-700:hover { --stroke-light:var(--red-700);--stroke-dark:var(--red-700);}
.hover\:stroke-red-800:hover { --stroke-light:var(--red-800);--stroke-dark:var(--red-800);}
.hover\:stroke-red-900:hover { --stroke-light:var(--red-900);--stroke-dark:var(--red-900);}
.hover\:stroke-red-950:hover { --stroke-light:var(--red-950);--stroke-dark:var(--red-950);}

.light\:hover\:stroke-red:hover { --stroke-light:var(--red-500 ); }
.light\:hover\:stroke-red-50:hover  { --stroke-light:var(--red-50 ); }
.light\:hover\:stroke-red-100:hover { --stroke-light:var(--red-100); }
.light\:hover\:stroke-red-200:hover { --stroke-light:var(--red-200); }
.light\:hover\:stroke-red-300:hover { --stroke-light:var(--red-300); }
.light\:hover\:stroke-red-400:hover { --stroke-light:var(--red-400); }
.light\:hover\:stroke-red-500:hover { --stroke-light:var(--red-500); }
.light\:hover\:stroke-red-600:hover { --stroke-light:var(--red-600); }
.light\:hover\:stroke-red-700:hover { --stroke-light:var(--red-700); }
.light\:hover\:stroke-red-800:hover { --stroke-light:var(--red-800); }
.light\:hover\:stroke-red-900:hover { --stroke-light:var(--red-900); }
.light\:hover\:stroke-red-950:hover { --stroke-light:var(--red-950); }

.dark\:hover\:stroke-red:hover  { --stroke-dark:var(--red-500 ); }
.dark\:hover\:stroke-red-50:hover  { --stroke-dark:var(--red-50 ); }
.dark\:hover\:stroke-red-100:hover { --stroke-dark:var(--red-100); }
.dark\:hover\:stroke-red-200:hover { --stroke-dark:var(--red-200); }
.dark\:hover\:stroke-red-300:hover { --stroke-dark:var(--red-300); }
.dark\:hover\:stroke-red-400:hover { --stroke-dark:var(--red-400); }
.dark\:hover\:stroke-red-500:hover { --stroke-dark:var(--red-500); }
.dark\:hover\:stroke-red-600:hover { --stroke-dark:var(--red-600); }
.dark\:hover\:stroke-red-700:hover { --stroke-dark:var(--red-700); }
.dark\:hover\:stroke-red-800:hover { --stroke-dark:var(--red-800); }
.dark\:hover\:stroke-red-900:hover { --stroke-dark:var(--red-900); }
.dark\:hover\:stroke-red-950:hover { --stroke-dark:var(--red-950); }