@import url(../palette.css);
@import url(color-yellow.css);
@import url(color-orange.css);
@import url(color-red.css);
@import url(color-pink.css);
@import url(color-purple.css);
@import url(color-blue.css);
@import url(color-cyan.css);
@import url(color-green.css);
@import url(color-white.css);
@import url(color-grey.css);
@import url(color-black.css);





[class*="dark\:text-yellow"],
[class*="dark\:text-orange"],
[class*="dark\:text-red"],
[class*="dark\:text-pink"],
[class*="dark\:text-purple"],
[class*="dark\:text-blue"],
[class*="dark\:text-cyan"],
[class*="dark\:text-green"],
[class*="dark\:text-white"],
[class*="dark\:text-grey"],
[class*="dark\:text-black"],

[class*="light\:text-yellow"],
[class*="light\:text-orange"],
[class*="light\:text-red"],
[class*="light\:text-pink"],
[class*="light\:text-purple"],
[class*="light\:text-blue"],
[class*="light\:text-cyan"],
[class*="light\:text-green"],
[class*="light\:text-white"],
[class*="light\:text-grey"],
[class*="light\:text-black"],

[class*="text-yellow"],
[class*="text-orange"],
[class*="text-red"],
[class*="text-pink"],
[class*="text-purple"],
[class*="text-blue"],
[class*="text-cyan"],
[class*="text-green"],
[class*="text-white"],
[class*="text-grey"],
[class*="text-black"],

[class*="dark\:hover\:text-yellow"],
[class*="dark\:hover\:text-orange"],
[class*="dark\:hover\:text-red"],
[class*="dark\:hover\:text-pink"],
[class*="dark\:hover\:text-purple"],
[class*="dark\:hover\:text-blue"],
[class*="dark\:hover\:text-cyan"],
[class*="dark\:hover\:text-green"],
[class*="dark\:hover\:text-white"],
[class*="dark\:hover\:text-grey"],
[class*="dark\:hover\:text-black"],

[class*="light\:hover\:text-yellow"],
[class*="light\:hover\:text-orange"],
[class*="light\:hover\:text-red"],
[class*="light\:hover\:text-pink"],
[class*="light\:hover\:text-purple"],
[class*="light\:hover\:text-blue"],
[class*="light\:hover\:text-cyan"],
[class*="light\:hover\:text-green"],
[class*="light\:hover\:text-white"],
[class*="light\:hover\:text-grey"],
[class*="light\:hover\:text-black"],

[class*="hover\:text-yellow"],
[class*="hover\:text-orange"],
[class*="hover\:text-red"],
[class*="hover\:text-pink"],
[class*="hover\:text-purple"],
[class*="hover\:text-blue"],
[class*="hover\:text-cyan"],
[class*="hover\:text-green"],
[class*="hover\:text-white"],
[class*="hover\:text-grey"],
[class*="hover\:text-black"],

[class*="light\:color-"],
[class*="dark\:color-"],
[class*="color-"],
[class*="light\:hover\:color-"],
[class*="dark\:hover\:color-"],
[class*="hover\:color-"] {
  color: light-dark(oklch(var(--color-light, var(--black-500))), oklch(var(--color-dark, var(--white-500))))!important;
}

.text-transparent, .color-transparent { --color-light:transparent;--color-dark:transparent; }
.light\:text-transparent, .light\:color-transparent { --color-light:transparent; }
.dark\:text-transparent, .dark\:color-transparent  { --color-dark:transparent; }







