.scale-102 {
  transform: scale(102%);
}

.hover\:scale-102:hover {
  transform: scale(102%);
}



.scale-105 {
  transform: scale(105%);
}

.hover\:scale-105:hover {
  transform: scale(105%);
}


.scale-110 {
  transform: scale(110%);
}

.hover\:scale-110:hover {
  transform: scale(110%);
}


.scale-120 {
  transform: scale(120%);
}

.hover\:scale-120:hover {
  transform: scale(120%);
}


.scale-150 {
  transform: scale(150%);
}

.hover\:scale-150:hover {
  transform: scale(150%);
}
