@import url(../../colors/palette.css);
@import url(dotted-yellow.css);
@import url(dotted-orange.css);
@import url(dotted-red.css);
@import url(dotted-pink.css);
@import url(dotted-purple.css);
@import url(dotted-blue.css);
@import url(dotted-cyan.css);
@import url(dotted-green.css);
@import url(dotted-white.css);
@import url(dotted-grey.css);
@import url(dotted-black.css);


[class*="dark\:dotted-"],
[class*="light\:dotted-"],
[class*="dotted-"] {
  background-position: 0 0;
  background-size: 10px 10px;
  background-image: radial-gradient(light-dark(oklch(var(--dotted-light, 0 0 0 / 0)), oklch(var(--dotted-dark, 0 0 0 / 0))) 1px,transparent 0); 
}