@import url(../../colors/palette.css);

.hatching-orange { --hatching-light:var(--orange-400);--hatching-dark:var(--orange-400);}
.hatching-orange-50  { --hatching-light:var(--orange-50 );--hatching-dark:var(--orange-50 );}
.hatching-orange-100 { --hatching-light:var(--orange-100);--hatching-dark:var(--orange-100);}
.hatching-orange-200 { --hatching-light:var(--orange-200);--hatching-dark:var(--orange-200);}
.hatching-orange-300 { --hatching-light:var(--orange-300);--hatching-dark:var(--orange-300);}
.hatching-orange-400 { --hatching-light:var(--orange-400);--hatching-dark:var(--orange-400);}
.hatching-orange-500 { --hatching-light:var(--orange-500);--hatching-dark:var(--orange-500);}
.hatching-orange-600 { --hatching-light:var(--orange-600);--hatching-dark:var(--orange-600);}
.hatching-orange-700 { --hatching-light:var(--orange-700);--hatching-dark:var(--orange-700);}
.hatching-orange-800 { --hatching-light:var(--orange-800);--hatching-dark:var(--orange-800);}
.hatching-orange-900 { --hatching-light:var(--orange-900);--hatching-dark:var(--orange-900);}
.hatching-orange-950 { --hatching-light:var(--orange-950);--hatching-dark:var(--orange-950);}

.light\:hatching-orange  { --hatching-light:var(--orange-400 ); }
.light\:hatching-orange-50  { --hatching-light:var(--orange-50 ); }
.light\:hatching-orange-100 { --hatching-light:var(--orange-100); }
.light\:hatching-orange-200 { --hatching-light:var(--orange-200); }
.light\:hatching-orange-300 { --hatching-light:var(--orange-300); }
.light\:hatching-orange-400 { --hatching-light:var(--orange-400); }
.light\:hatching-orange-500 { --hatching-light:var(--orange-500); }
.light\:hatching-orange-600 { --hatching-light:var(--orange-600); }
.light\:hatching-orange-700 { --hatching-light:var(--orange-700); }
.light\:hatching-orange-800 { --hatching-light:var(--orange-800); }
.light\:hatching-orange-900 { --hatching-light:var(--orange-900); }
.light\:hatching-orange-950 { --hatching-light:var(--orange-950); }

.dark\:hatching-orange  { --hatching-dark:var(--orange-400 ); }
.dark\:hatching-orange-50  { --hatching-dark:var(--orange-50 ); }
.dark\:hatching-orange-100 { --hatching-dark:var(--orange-100); }
.dark\:hatching-orange-200 { --hatching-dark:var(--orange-200); }
.dark\:hatching-orange-300 { --hatching-dark:var(--orange-300); }
.dark\:hatching-orange-400 { --hatching-dark:var(--orange-400); }
.dark\:hatching-orange-500 { --hatching-dark:var(--orange-500); }
.dark\:hatching-orange-600 { --hatching-dark:var(--orange-600); }
.dark\:hatching-orange-700 { --hatching-dark:var(--orange-700); }
.dark\:hatching-orange-800 { --hatching-dark:var(--orange-800); }
.dark\:hatching-orange-900 { --hatching-dark:var(--orange-900); }
.dark\:hatching-orange-950 { --hatching-dark:var(--orange-950); }