@import url(../../colors/palette.css);

.hatching-purple { --hatching-light:var(--purple-400);--hatching-dark:var(--purple-400);}
.hatching-purple-50  { --hatching-light:var(--purple-50 );--hatching-dark:var(--purple-50 );}
.hatching-purple-100 { --hatching-light:var(--purple-100);--hatching-dark:var(--purple-100);}
.hatching-purple-200 { --hatching-light:var(--purple-200);--hatching-dark:var(--purple-200);}
.hatching-purple-300 { --hatching-light:var(--purple-300);--hatching-dark:var(--purple-300);}
.hatching-purple-400 { --hatching-light:var(--purple-400);--hatching-dark:var(--purple-400);}
.hatching-purple-500 { --hatching-light:var(--purple-500);--hatching-dark:var(--purple-500);}
.hatching-purple-600 { --hatching-light:var(--purple-600);--hatching-dark:var(--purple-600);}
.hatching-purple-700 { --hatching-light:var(--purple-700);--hatching-dark:var(--purple-700);}
.hatching-purple-800 { --hatching-light:var(--purple-800);--hatching-dark:var(--purple-800);}
.hatching-purple-900 { --hatching-light:var(--purple-900);--hatching-dark:var(--purple-900);}
.hatching-purple-950 { --hatching-light:var(--purple-950);--hatching-dark:var(--purple-950);}

.light\:hatching-purple { --hatching-light:var(--purple-400 ); }
.light\:hatching-purple-50  { --hatching-light:var(--purple-50 ); }
.light\:hatching-purple-100 { --hatching-light:var(--purple-100); }
.light\:hatching-purple-200 { --hatching-light:var(--purple-200); }
.light\:hatching-purple-300 { --hatching-light:var(--purple-300); }
.light\:hatching-purple-400 { --hatching-light:var(--purple-400); }
.light\:hatching-purple-500 { --hatching-light:var(--purple-500); }
.light\:hatching-purple-600 { --hatching-light:var(--purple-600); }
.light\:hatching-purple-700 { --hatching-light:var(--purple-700); }
.light\:hatching-purple-800 { --hatching-light:var(--purple-800); }
.light\:hatching-purple-900 { --hatching-light:var(--purple-900); }
.light\:hatching-purple-950 { --hatching-light:var(--purple-950); }

.dark\:hatching-purple  { --hatching-dark:var(--purple-400 ); }
.dark\:hatching-purple-50  { --hatching-dark:var(--purple-50 ); }
.dark\:hatching-purple-100 { --hatching-dark:var(--purple-100); }
.dark\:hatching-purple-200 { --hatching-dark:var(--purple-200); }
.dark\:hatching-purple-300 { --hatching-dark:var(--purple-300); }
.dark\:hatching-purple-400 { --hatching-dark:var(--purple-400); }
.dark\:hatching-purple-500 { --hatching-dark:var(--purple-500); }
.dark\:hatching-purple-600 { --hatching-dark:var(--purple-600); }
.dark\:hatching-purple-700 { --hatching-dark:var(--purple-700); }
.dark\:hatching-purple-800 { --hatching-dark:var(--purple-800); }
.dark\:hatching-purple-900 { --hatching-dark:var(--purple-900); }
.dark\:hatching-purple-950 { --hatching-dark:var(--purple-950); }