@import url(../../colors/palette.css);

.hatching-red { --hatching-light:var(--red-400);--hatching-dark:var(--red-400);}
.hatching-red-50  { --hatching-light:var(--red-50 );--hatching-dark:var(--red-50 );}
.hatching-red-100 { --hatching-light:var(--red-100);--hatching-dark:var(--red-100);}
.hatching-red-200 { --hatching-light:var(--red-200);--hatching-dark:var(--red-200);}
.hatching-red-300 { --hatching-light:var(--red-300);--hatching-dark:var(--red-300);}
.hatching-red-400 { --hatching-light:var(--red-400);--hatching-dark:var(--red-400);}
.hatching-red-500 { --hatching-light:var(--red-500);--hatching-dark:var(--red-500);}
.hatching-red-600 { --hatching-light:var(--red-600);--hatching-dark:var(--red-600);}
.hatching-red-700 { --hatching-light:var(--red-700);--hatching-dark:var(--red-700);}
.hatching-red-800 { --hatching-light:var(--red-800);--hatching-dark:var(--red-800);}
.hatching-red-900 { --hatching-light:var(--red-900);--hatching-dark:var(--red-900);}
.hatching-red-950 { --hatching-light:var(--red-950);--hatching-dark:var(--red-950);}

.light\:hatching-red { --hatching-light:var(--red-400 ); }
.light\:hatching-red-50  { --hatching-light:var(--red-50 ); }
.light\:hatching-red-100 { --hatching-light:var(--red-100); }
.light\:hatching-red-200 { --hatching-light:var(--red-200); }
.light\:hatching-red-300 { --hatching-light:var(--red-300); }
.light\:hatching-red-400 { --hatching-light:var(--red-400); }
.light\:hatching-red-500 { --hatching-light:var(--red-500); }
.light\:hatching-red-600 { --hatching-light:var(--red-600); }
.light\:hatching-red-700 { --hatching-light:var(--red-700); }
.light\:hatching-red-800 { --hatching-light:var(--red-800); }
.light\:hatching-red-900 { --hatching-light:var(--red-900); }
.light\:hatching-red-950 { --hatching-light:var(--red-950); }

.dark\:hatching-red  { --hatching-dark:var(--red-400 ); }
.dark\:hatching-red-50  { --hatching-dark:var(--red-50 ); }
.dark\:hatching-red-100 { --hatching-dark:var(--red-100); }
.dark\:hatching-red-200 { --hatching-dark:var(--red-200); }
.dark\:hatching-red-300 { --hatching-dark:var(--red-300); }
.dark\:hatching-red-400 { --hatching-dark:var(--red-400); }
.dark\:hatching-red-500 { --hatching-dark:var(--red-500); }
.dark\:hatching-red-600 { --hatching-dark:var(--red-600); }
.dark\:hatching-red-700 { --hatching-dark:var(--red-700); }
.dark\:hatching-red-800 { --hatching-dark:var(--red-800); }
.dark\:hatching-red-900 { --hatching-dark:var(--red-900); }
.dark\:hatching-red-950 { --hatching-dark:var(--red-950); }