@import url(../../colors/palette.css);

.hatching-grey { --hatching-light:var(--grey-400);--hatching-dark:var(--grey-400);}
.hatching-grey-50  { --hatching-light:var(--grey-50 );--hatching-dark:var(--grey-50 );}
.hatching-grey-100 { --hatching-light:var(--grey-100);--hatching-dark:var(--grey-100);}
.hatching-grey-200 { --hatching-light:var(--grey-200);--hatching-dark:var(--grey-200);}
.hatching-grey-300 { --hatching-light:var(--grey-300);--hatching-dark:var(--grey-300);}
.hatching-grey-400 { --hatching-light:var(--grey-400);--hatching-dark:var(--grey-400);}
.hatching-grey-500 { --hatching-light:var(--grey-500);--hatching-dark:var(--grey-500);}
.hatching-grey-600 { --hatching-light:var(--grey-600);--hatching-dark:var(--grey-600);}
.hatching-grey-700 { --hatching-light:var(--grey-700);--hatching-dark:var(--grey-700);}
.hatching-grey-800 { --hatching-light:var(--grey-800);--hatching-dark:var(--grey-800);}
.hatching-grey-900 { --hatching-light:var(--grey-900);--hatching-dark:var(--grey-900);}
.hatching-grey-950 { --hatching-light:var(--grey-950);--hatching-dark:var(--grey-950);}

.light\:hatching-grey { --hatching-light:var(--grey-400 ); }
.light\:hatching-grey-50  { --hatching-light:var(--grey-50 ); }
.light\:hatching-grey-100 { --hatching-light:var(--grey-100); }
.light\:hatching-grey-200 { --hatching-light:var(--grey-200); }
.light\:hatching-grey-300 { --hatching-light:var(--grey-300); }
.light\:hatching-grey-400 { --hatching-light:var(--grey-400); }
.light\:hatching-grey-500 { --hatching-light:var(--grey-500); }
.light\:hatching-grey-600 { --hatching-light:var(--grey-600); }
.light\:hatching-grey-700 { --hatching-light:var(--grey-700); }
.light\:hatching-grey-800 { --hatching-light:var(--grey-800); }
.light\:hatching-grey-900 { --hatching-light:var(--grey-900); }
.light\:hatching-grey-950 { --hatching-light:var(--grey-950); }

.dark\:hatching-grey  { --hatching-dark:var(--grey-400 ); }
.dark\:hatching-grey-50  { --hatching-dark:var(--grey-50 ); }
.dark\:hatching-grey-100 { --hatching-dark:var(--grey-100); }
.dark\:hatching-grey-200 { --hatching-dark:var(--grey-200); }
.dark\:hatching-grey-300 { --hatching-dark:var(--grey-300); }
.dark\:hatching-grey-400 { --hatching-dark:var(--grey-400); }
.dark\:hatching-grey-500 { --hatching-dark:var(--grey-500); }
.dark\:hatching-grey-600 { --hatching-dark:var(--grey-600); }
.dark\:hatching-grey-700 { --hatching-dark:var(--grey-700); }
.dark\:hatching-grey-800 { --hatching-dark:var(--grey-800); }
.dark\:hatching-grey-900 { --hatching-dark:var(--grey-900); }
.dark\:hatching-grey-950 { --hatching-dark:var(--grey-950); }