@import url(../../colors/palette.css);

.hatching-blue { --hatching-light:var(--blue-400);--hatching-dark:var(--blue-400);}
.hatching-blue-50  { --hatching-light:var(--blue-50 );--hatching-dark:var(--blue-50 );}
.hatching-blue-100 { --hatching-light:var(--blue-100);--hatching-dark:var(--blue-100);}
.hatching-blue-200 { --hatching-light:var(--blue-200);--hatching-dark:var(--blue-200);}
.hatching-blue-300 { --hatching-light:var(--blue-300);--hatching-dark:var(--blue-300);}
.hatching-blue-400 { --hatching-light:var(--blue-400);--hatching-dark:var(--blue-400);}
.hatching-blue-500 { --hatching-light:var(--blue-500);--hatching-dark:var(--blue-500);}
.hatching-blue-600 { --hatching-light:var(--blue-600);--hatching-dark:var(--blue-600);}
.hatching-blue-700 { --hatching-light:var(--blue-700);--hatching-dark:var(--blue-700);}
.hatching-blue-800 { --hatching-light:var(--blue-800);--hatching-dark:var(--blue-800);}
.hatching-blue-900 { --hatching-light:var(--blue-900);--hatching-dark:var(--blue-900);}
.hatching-blue-950 { --hatching-light:var(--blue-950);--hatching-dark:var(--blue-950);}

.light\:hatching-blue { --hatching-light:var(--blue-400 ); }
.light\:hatching-blue-50  { --hatching-light:var(--blue-50 ); }
.light\:hatching-blue-100 { --hatching-light:var(--blue-100); }
.light\:hatching-blue-200 { --hatching-light:var(--blue-200); }
.light\:hatching-blue-300 { --hatching-light:var(--blue-300); }
.light\:hatching-blue-400 { --hatching-light:var(--blue-400); }
.light\:hatching-blue-500 { --hatching-light:var(--blue-500); }
.light\:hatching-blue-600 { --hatching-light:var(--blue-600); }
.light\:hatching-blue-700 { --hatching-light:var(--blue-700); }
.light\:hatching-blue-800 { --hatching-light:var(--blue-800); }
.light\:hatching-blue-900 { --hatching-light:var(--blue-900); }
.light\:hatching-blue-950 { --hatching-light:var(--blue-950); }

.dark\:hatching-blue  { --hatching-dark:var(--blue-400 ); }
.dark\:hatching-blue-50  { --hatching-dark:var(--blue-50 ); }
.dark\:hatching-blue-100 { --hatching-dark:var(--blue-100); }
.dark\:hatching-blue-200 { --hatching-dark:var(--blue-200); }
.dark\:hatching-blue-300 { --hatching-dark:var(--blue-300); }
.dark\:hatching-blue-400 { --hatching-dark:var(--blue-400); }
.dark\:hatching-blue-500 { --hatching-dark:var(--blue-500); }
.dark\:hatching-blue-600 { --hatching-dark:var(--blue-600); }
.dark\:hatching-blue-700 { --hatching-dark:var(--blue-700); }
.dark\:hatching-blue-800 { --hatching-dark:var(--blue-800); }
.dark\:hatching-blue-900 { --hatching-dark:var(--blue-900); }
.dark\:hatching-blue-950 { --hatching-dark:var(--blue-950); }