@import url(bg-colors.css);
@import url(hatching.css);
@import url(stripes.css);
@import url(dotted.css);

.bg-yellow-50 { background-color: var(--yellow-50); }
.bg-yellow-100 { background-color: var(--yellow-100); }
.bg-yellow-200 { background-color: var(--yellow-200); }
.bg-yellow-300 { background-color: var(--yellow-300); }
.bg-yellow-400 { background-color: var(--yellow-400); }
.bg-yellow-500 { background-color: var(--yellow-500); }
.bg-yellow-600 { background-color: var(--yellow-600); }
.bg-yellow-700 { background-color: var(--yellow-700); }
.bg-yellow-800 { background-color: var(--yellow-800); }
.bg-yellow-900 { background-color: var(--yellow-900); }
.bg-yellow-950 { background-color: var(--yellow-950); }

.bg-orange-50 { background-color: var(--orange-50); }
.bg-orange-100 { background-color: var(--orange-100); }
.bg-orange-200 { background-color: var(--orange-200); }
.bg-orange-300 { background-color: var(--orange-300); }
.bg-orange-400 { background-color: var(--orange-400); }
.bg-orange-500 { background-color: var(--orange-500); }
.bg-orange-600 { background-color: var(--orange-600); }
.bg-orange-700 { background-color: var(--orange-700); }
.bg-orange-800 { background-color: var(--orange-800); }
.bg-orange-900 { background-color: var(--orange-900); }
.bg-orange-950 { background-color: var(--orange-950); }

.bg-red-50 { background-color: var(--red-50); }
.bg-red-100 { background-color: var(--red-100); }
.bg-red-200 { background-color: var(--red-200); }
.bg-red-300 { background-color: var(--red-300); }
.bg-red-400 { background-color: var(--red-400); }
.bg-red-500 { background-color: var(--red-500); }
.bg-red-600 { background-color: var(--red-600); }
.bg-red-700 { background-color: var(--red-700); }
.bg-red-800 { background-color: var(--red-800); }
.bg-red-900 { background-color: var(--red-900); }
.bg-red-950 { background-color: var(--red-950); }

.bg-magenta-50 { background-color: var(--magenta-50); }
.bg-magenta-100 { background-color: var(--magenta-100); }
.bg-magenta-200 { background-color: var(--magenta-200); }
.bg-magenta-300 { background-color: var(--magenta-300); }
.bg-magenta-400 { background-color: var(--magenta-400); }
.bg-magenta-500 { background-color: var(--magenta-500); }
.bg-magenta-600 { background-color: var(--magenta-600); }
.bg-magenta-700 { background-color: var(--magenta-700); }
.bg-magenta-800 { background-color: var(--magenta-800); }
.bg-magenta-900 { background-color: var(--magenta-900); }
.bg-magenta-950 { background-color: var(--magenta-950); }

.bg-violet-50 { background-color: var(--violet-50); }
.bg-violet-100 { background-color: var(--violet-100); }
.bg-violet-200 { background-color: var(--violet-200); }
.bg-violet-300 { background-color: var(--violet-300); }
.bg-violet-400 { background-color: var(--violet-400); }
.bg-violet-500 { background-color: var(--violet-500); }
.bg-violet-600 { background-color: var(--violet-600); }
.bg-violet-700 { background-color: var(--violet-700); }
.bg-violet-800 { background-color: var(--violet-800); }
.bg-violet-900 { background-color: var(--violet-900); }
.bg-violet-950 { background-color: var(--violet-950); }

.bg-blue-50 { background-color: var(--blue-50); }
.bg-blue-100 { background-color: var(--blue-100); }
.bg-blue-200 { background-color: var(--blue-200); }
.bg-blue-300 { background-color: var(--blue-300); }
.bg-blue-400 { background-color: var(--blue-400); }
.bg-blue-500 { background-color: var(--blue-500); }
.bg-blue-600 { background-color: var(--blue-600); }
.bg-blue-700 { background-color: var(--blue-700); }
.bg-blue-800 { background-color: var(--blue-800); }
.bg-blue-900 { background-color: var(--blue-900); }
.bg-blue-950 { background-color: var(--blue-950); }

.bg-cyan-50 { background-color: var(--cyan-50); }
.bg-cyan-100 { background-color: var(--cyan-100); }
.bg-cyan-200 { background-color: var(--cyan-200); }
.bg-cyan-300 { background-color: var(--cyan-300); }
.bg-cyan-400 { background-color: var(--cyan-400); }
.bg-cyan-500 { background-color: var(--cyan-500); }
.bg-cyan-600 { background-color: var(--cyan-600); }
.bg-cyan-700 { background-color: var(--cyan-700); }
.bg-cyan-800 { background-color: var(--cyan-800); }
.bg-cyan-900 { background-color: var(--cyan-900); }
.bg-cyan-950 { background-color: var(--cyan-950); }

.bg-green-50 { background-color: var(--green-50); }
.bg-green-100 { background-color: var(--green-100); }
.bg-green-200 { background-color: var(--green-200); }
.bg-green-300 { background-color: var(--green-300); }
.bg-green-400 { background-color: var(--green-400); }
.bg-green-500 { background-color: var(--green-500); }
.bg-green-600 { background-color: var(--green-600); }
.bg-green-700 { background-color: var(--green-700); }
.bg-green-800 { background-color: var(--green-800); }
.bg-green-900 { background-color: var(--green-900); }
.bg-green-950 { background-color: var(--green-950); }

.bg-grey-50 { background-color: var(--grey-50); }
.bg-grey-100 { background-color: var(--grey-100); }
.bg-grey-200 { background-color: var(--grey-200); }
.bg-grey-300 { background-color: var(--grey-300); }
.bg-grey-400 { background-color: var(--grey-400); }
.bg-grey-500 { background-color: var(--grey-500); }
.bg-grey-600 { background-color: var(--grey-600); }
.bg-grey-700 { background-color: var(--grey-700); }
.bg-grey-800 { background-color: var(--grey-800); }
.bg-grey-900 { background-color: var(--grey-900); }
.bg-grey-950 { background-color: var(--grey-950); }

.bg-black-50 { background-color: var(--black-50); }
.bg-black-100 { background-color: var(--black-100); }
.bg-black-200 { background-color: var(--black-200); }
.bg-black-300 { background-color: var(--black-300); }
.bg-black-400 { background-color: var(--black-400); }
.bg-black-500 { background-color: var(--black-500); }
.bg-black-600 { background-color: var(--black-600); }
.bg-black-700 { background-color: var(--black-700); }
.bg-black-800 { background-color: var(--black-800); }
.bg-black-900 { background-color: var(--black-900); }
.bg-black-950 { background-color: var(--black-950); }