@import url(../colors/colors.css);

.bg-yellow {
  background-color: light-dark(var(--bg-light, var(--yellow-200)), var(--bg-dark, var(--yellow-800)))!important;
}

.light\:bg-red {
  --bg-light:var(--red-200);
}


.bg-orange {
  background-color: light-dark(var(--orange-200), var(--orange-800))!important;
}

.bg-red {
  background-color: light-dark(var(--red-200), var(--red-800))!important;
}

.bg-magenta {
  background-color: light-dark(var(--magenta-200), var(--magenta-800))!important;
}

.bg-violet {
  background-color: light-dark(var(--violet-200), var(--violet-800))!important;
}

.bg-blue {
  background-color: light-dark(var(--blue-200), var(--blue-800))!important;
}

.bg-cyan {
  background-color: light-dark(var(--cyan-200), var(--cyan-800))!important;
}

.bg-green {
  background-color: light-dark(var(--green-200), var(--green-800))!important;
}

.bg-grey {
  background-color: light-dark(var(--grey-200), var(--grey-800))!important;
}

.bg-black {
  background-color: light-dark(var(--black-200), var(--black-800))!important;
}





/* Default (light) styles */
.light-bg-red {
  background-color: red;
}



/* Dark mode overrides */
@media (prefers-color-scheme: dark) {

  .dark-bg-blue {
    background-color: blue;
  }
}
