.fit-contain, .object-contain { object-fit: contain; }
.fit-cover, .object-cover { object-fit: cover; }
.fit-fill, .object-fill { object-fit: fill; }
.fit-none, .object-none { object-fit: none; }
.fit-scale-down, .object-scale-down { object-fit: scale-down; }