.scale-50 {
  transform: scale(50%);
}

.hover\:scale-50:hover {
  transform: scale(50%);
}

.focus\:scale-50:focus {
  transform: scale(50%);
}


.scale-80 {
  transform: scale(80%);
}

.hover\:scale-80:hover {
  transform: scale(80%);
}

.focus\:scale-80:focus {
  transform: scale(80%);
}


.scale-90 {
  transform: scale(90%);
}

.hover\:scale-90:hover {
  transform: scale(90%);
}

.focus\:scale-90:focus {
  transform: scale(90%);
}


.scale-95 {
  transform: scale(95%);
}

.hover\:scale-95:hover {
  transform: scale(95%);
}

.focus\:scale-95:focus {
  transform: scale(95%);
}


.scale-98 {
  transform: scale(98%);
}

.hover\:scale-98:hover {
  transform: scale(98%);
}

.focus\:scale-98:focus {
  transform: scale(98%);
}


.scale-100 {
  transform: scale(100%);
}

.hover\:scale-100:hover {
  transform: scale(100%);
}

.focus\:scale-100:focus {
  transform: scale(100%);
}


.scale-102 {
  transform: scale(102%);
}

.hover\:scale-102:hover {
  transform: scale(102%);
}

.focus\:scale-102:focus {
  transform: scale(102%);
}


.scale-105 {
  transform: scale(105%);
}

.hover\:scale-105:hover {
  transform: scale(105%);
}

.focus\:scale-105:focus {
  transform: scale(105%);
}


.scale-110 {
  transform: scale(110%);
}

.hover\:scale-110:hover {
  transform: scale(110%);
}

.focus\:scale-110:focus {
  transform: scale(110%);
}


.scale-120 {
  transform: scale(120%);
}

.hover\:scale-120:hover {
  transform: scale(120%);
}

.focus\:scale-120:focus {
  transform: scale(120%);
}


.scale-150 {
  transform: scale(150%);
}

.hover\:scale-150:hover {
  transform: scale(150%);
}

.focus\:scale-150:focus {
  transform: scale(150%);
}


