@import url(scale.css);
@import url(rotate.css);
@import url(translate.css);
@import url(object-fit.css);
@import url(opacity.css);


.transition {
  transition-property: all;
  transition-timing-function: ease-in-out;
}


.transition-transform {
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

.duration-150 {
  transition-duration: 150ms!important;
  animation-duration: 150ms!important;
}

.duration-200 {
  transition-duration: 200ms!important;
  animation-duration: 200ms!important;
}

.duration-250 {
  transition-duration: 250ms!important;
  animation-duration: 250ms!important;
}

.duration-300 {
  transition-duration: 300ms!important;
  animation-duration: 300ms!important;
}

.duration-500 {
  transition-duration: 500ms !important;
  animation-duration: 500ms !important;
}

.duration-700 {
  transition-duration: 700ms!important;
  animation-duration: 700ms!important;
}

.duration-1000 {
  transition-duration: 1000ms!important;
  animation-duration: 1000ms!important;
}

.duration-2000 {
  transition-duration: 2000ms!important;
  animation-duration: 2000ms!important;
}