@import url(../../colors/palette.css);

.hatching-cyan { --hatching-light:var(--cyan-400);--hatching-dark:var(--cyan-400);}
.hatching-cyan-50  { --hatching-light:var(--cyan-50 );--hatching-dark:var(--cyan-50 );}
.hatching-cyan-100 { --hatching-light:var(--cyan-100);--hatching-dark:var(--cyan-100);}
.hatching-cyan-200 { --hatching-light:var(--cyan-200);--hatching-dark:var(--cyan-200);}
.hatching-cyan-300 { --hatching-light:var(--cyan-300);--hatching-dark:var(--cyan-300);}
.hatching-cyan-400 { --hatching-light:var(--cyan-400);--hatching-dark:var(--cyan-400);}
.hatching-cyan-500 { --hatching-light:var(--cyan-500);--hatching-dark:var(--cyan-500);}
.hatching-cyan-600 { --hatching-light:var(--cyan-600);--hatching-dark:var(--cyan-600);}
.hatching-cyan-700 { --hatching-light:var(--cyan-700);--hatching-dark:var(--cyan-700);}
.hatching-cyan-800 { --hatching-light:var(--cyan-800);--hatching-dark:var(--cyan-800);}
.hatching-cyan-900 { --hatching-light:var(--cyan-900);--hatching-dark:var(--cyan-900);}
.hatching-cyan-950 { --hatching-light:var(--cyan-950);--hatching-dark:var(--cyan-950);}

.light\:hatching-cyan { --hatching-light:var(--cyan-400 ); }
.light\:hatching-cyan-50  { --hatching-light:var(--cyan-50 ); }
.light\:hatching-cyan-100 { --hatching-light:var(--cyan-100); }
.light\:hatching-cyan-200 { --hatching-light:var(--cyan-200); }
.light\:hatching-cyan-300 { --hatching-light:var(--cyan-300); }
.light\:hatching-cyan-400 { --hatching-light:var(--cyan-400); }
.light\:hatching-cyan-500 { --hatching-light:var(--cyan-500); }
.light\:hatching-cyan-600 { --hatching-light:var(--cyan-600); }
.light\:hatching-cyan-700 { --hatching-light:var(--cyan-700); }
.light\:hatching-cyan-800 { --hatching-light:var(--cyan-800); }
.light\:hatching-cyan-900 { --hatching-light:var(--cyan-900); }
.light\:hatching-cyan-950 { --hatching-light:var(--cyan-950); }

.dark\:hatching-cyan  { --hatching-dark:var(--cyan-400 ); }
.dark\:hatching-cyan-50  { --hatching-dark:var(--cyan-50 ); }
.dark\:hatching-cyan-100 { --hatching-dark:var(--cyan-100); }
.dark\:hatching-cyan-200 { --hatching-dark:var(--cyan-200); }
.dark\:hatching-cyan-300 { --hatching-dark:var(--cyan-300); }
.dark\:hatching-cyan-400 { --hatching-dark:var(--cyan-400); }
.dark\:hatching-cyan-500 { --hatching-dark:var(--cyan-500); }
.dark\:hatching-cyan-600 { --hatching-dark:var(--cyan-600); }
.dark\:hatching-cyan-700 { --hatching-dark:var(--cyan-700); }
.dark\:hatching-cyan-800 { --hatching-dark:var(--cyan-800); }
.dark\:hatching-cyan-900 { --hatching-dark:var(--cyan-900); }
.dark\:hatching-cyan-950 { --hatching-dark:var(--cyan-950); }