@import url(../../colors/palette.css);

.hatching-black { --hatching-light:var(--black-400);--hatching-dark:var(--black-400);}
.hatching-black-50  { --hatching-light:var(--black-50 );--hatching-dark:var(--black-50 );}
.hatching-black-100 { --hatching-light:var(--black-100);--hatching-dark:var(--black-100);}
.hatching-black-200 { --hatching-light:var(--black-200);--hatching-dark:var(--black-200);}
.hatching-black-300 { --hatching-light:var(--black-300);--hatching-dark:var(--black-300);}
.hatching-black-400 { --hatching-light:var(--black-400);--hatching-dark:var(--black-400);}
.hatching-black-500 { --hatching-light:var(--black-500);--hatching-dark:var(--black-500);}
.hatching-black-600 { --hatching-light:var(--black-600);--hatching-dark:var(--black-600);}
.hatching-black-700 { --hatching-light:var(--black-700);--hatching-dark:var(--black-700);}
.hatching-black-800 { --hatching-light:var(--black-800);--hatching-dark:var(--black-800);}
.hatching-black-900 { --hatching-light:var(--black-900);--hatching-dark:var(--black-900);}
.hatching-black-950 { --hatching-light:var(--black-950);--hatching-dark:var(--black-950);}

.light\:hatching-black { --hatching-light:var(--black-400); }
.light\:hatching-black-50  { --hatching-light:var(--black-50 ); }
.light\:hatching-black-100 { --hatching-light:var(--black-100); }
.light\:hatching-black-200 { --hatching-light:var(--black-200); }
.light\:hatching-black-300 { --hatching-light:var(--black-300); }
.light\:hatching-black-400 { --hatching-light:var(--black-400); }
.light\:hatching-black-500 { --hatching-light:var(--black-500); }
.light\:hatching-black-600 { --hatching-light:var(--black-600); }
.light\:hatching-black-700 { --hatching-light:var(--black-700); }
.light\:hatching-black-800 { --hatching-light:var(--black-800); }
.light\:hatching-black-900 { --hatching-light:var(--black-900); }
.light\:hatching-black-950 { --hatching-light:var(--black-950); }

.dark\:hatching-black  { --hatching-dark:var(--black-400 ); }
.dark\:hatching-black-50  { --hatching-dark:var(--black-50 ); }
.dark\:hatching-black-100 { --hatching-dark:var(--black-100); }
.dark\:hatching-black-200 { --hatching-dark:var(--black-200); }
.dark\:hatching-black-300 { --hatching-dark:var(--black-300); }
.dark\:hatching-black-400 { --hatching-dark:var(--black-400); }
.dark\:hatching-black-500 { --hatching-dark:var(--black-500); }
.dark\:hatching-black-600 { --hatching-dark:var(--black-600); }
.dark\:hatching-black-700 { --hatching-dark:var(--black-700); }
.dark\:hatching-black-800 { --hatching-dark:var(--black-800); }
.dark\:hatching-black-900 { --hatching-dark:var(--black-900); }
.dark\:hatching-black-950 { --hatching-dark:var(--black-950); }