@import url(../../colors/palette.css);

.hatching-yellow { --hatching-light:var(--yellow-400);--hatching-dark:var(--yellow-400);}
.hatching-yellow-50  { --hatching-light:var(--yellow-50 );--hatching-dark:var(--yellow-50 );}
.hatching-yellow-100 { --hatching-light:var(--yellow-100);--hatching-dark:var(--yellow-100);}
.hatching-yellow-200 { --hatching-light:var(--yellow-200);--hatching-dark:var(--yellow-200);}
.hatching-yellow-300 { --hatching-light:var(--yellow-300);--hatching-dark:var(--yellow-300);}
.hatching-yellow-400 { --hatching-light:var(--yellow-400);--hatching-dark:var(--yellow-400);}
.hatching-yellow-500 { --hatching-light:var(--yellow-500);--hatching-dark:var(--yellow-500);}
.hatching-yellow-600 { --hatching-light:var(--yellow-600);--hatching-dark:var(--yellow-600);}
.hatching-yellow-700 { --hatching-light:var(--yellow-700);--hatching-dark:var(--yellow-700);}
.hatching-yellow-800 { --hatching-light:var(--yellow-800);--hatching-dark:var(--yellow-800);}
.hatching-yellow-900 { --hatching-light:var(--yellow-900);--hatching-dark:var(--yellow-900);}
.hatching-yellow-950 { --hatching-light:var(--yellow-950);--hatching-dark:var(--yellow-950);}

.light\:hatching-yellow  { --hatching-light:var(--yellow-400 ); }
.light\:hatching-yellow-50  { --hatching-light:var(--yellow-50 ); }
.light\:hatching-yellow-100 { --hatching-light:var(--yellow-100); }
.light\:hatching-yellow-200 { --hatching-light:var(--yellow-200); }
.light\:hatching-yellow-300 { --hatching-light:var(--yellow-300); }
.light\:hatching-yellow-400 { --hatching-light:var(--yellow-400); }
.light\:hatching-yellow-500 { --hatching-light:var(--yellow-500); }
.light\:hatching-yellow-600 { --hatching-light:var(--yellow-600); }
.light\:hatching-yellow-700 { --hatching-light:var(--yellow-700); }
.light\:hatching-yellow-800 { --hatching-light:var(--yellow-800); }
.light\:hatching-yellow-900 { --hatching-light:var(--yellow-900); }
.light\:hatching-yellow-950 { --hatching-light:var(--yellow-950); }

.dark\:hatching-yellow  { --hatching-dark:var(--yellow-400 ); }
.dark\:hatching-yellow-50  { --hatching-dark:var(--yellow-50 ); }
.dark\:hatching-yellow-100 { --hatching-dark:var(--yellow-100); }
.dark\:hatching-yellow-200 { --hatching-dark:var(--yellow-200); }
.dark\:hatching-yellow-300 { --hatching-dark:var(--yellow-300); }
.dark\:hatching-yellow-400 { --hatching-dark:var(--yellow-400); }
.dark\:hatching-yellow-500 { --hatching-dark:var(--yellow-500); }
.dark\:hatching-yellow-600 { --hatching-dark:var(--yellow-600); }
.dark\:hatching-yellow-700 { --hatching-dark:var(--yellow-700); }
.dark\:hatching-yellow-800 { --hatching-dark:var(--yellow-800); }
.dark\:hatching-yellow-900 { --hatching-dark:var(--yellow-900); }
.dark\:hatching-yellow-950 { --hatching-dark:var(--yellow-950); }