/* Width Utilities */
.w-auto { width: auto; }
.w-25 { width: 25%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }
.w-screen { width: 100vw; }
.w-dvw { width: 100dvw; }
.w-dvh { width: 100dvh; }
.w-lvw { width: 100lvw; }
.w-lvh { width: 100lvh; }
.w-svw { width: 100svw; }
.w-svh { width: 100svh; }
.w-min { width: min-content; }
.w-max { width: max-content; }
.w-fit { width: fit-content; }
