.hatching-red {
  background-position: 0 0;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(135deg,var(--red) 0 1px,transparent  0 50%);
}

.hatching-yellow {
  background-position: 0 0;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(135deg, var(--yellow) 0 1px, transparent 0 50%);
}

.hatching-orange {
  background-position: 0 0;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(135deg, var(--orange) 0 1px, transparent 0 50%);
}
.hatching-green {
  background-position: 0 0;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(135deg, var(--green) 0 1px, transparent 0 50%);
}

.hatching-blue {
  background-position: 0 0;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(135deg, var(--blue) 0 1px, transparent 0 50%);
}