<!DOCTYPE html>
<html lang="<%= __('meta.lang') %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>

  </title>
  <meta name="description" content="<%= __('home.header.description') %>">

</head>

<body>
  <h1>Beautiful CSS</h1>
</body>

</html>