<!DOCTYPE html>
<html lang="<%= __('meta.lang') %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/classic/classic.css" id="style">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Beautiful CSS</title>
  <meta name="description" content="Beautifull CSS Home page">
</head>

<body>
  <div id="main">
    <div>
      <i id="btn-theme-light" class="fa-solid fa-sun"></i>&nbsp;
      <i id="btn-theme-system" class="fa-solid fa-display"></i>&nbsp;
      <i id="btn-theme-dark" class="fa-solid fa-moon "></i>
    </div>




    <h1>Beautiful CSS | Classic Dark</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend nisl metus, nec venenatis sapien
      efficitur vitae. Fusce vel lobortis sapien, a aliquet risus. Integer at porttitor dolor, viverra maximus mauris.
      Vivamus egestas erat auctor aliquam congue. Praesent vel ultricies nibh. Integer lorem diam, mollis venenatis
      pulvinar non, egestas id leo. Duis sed lectus sollicitudin, commodo sem vitae, iaculis dui. Orci varius natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec pharetra arcu diam, sit amet accumsan
      dolor finibus in. Donec euismod, elit cursus lobortis laoreet, erat diam laoreet neque, at fringilla tortor ante
      sit amet justo. Proin ac risus vestibulum, laoreet leo ut, faucibus dui. Maecenas a risus turpis. Donec id dapibus
      lectus, eu commodo augue. Suspendisse tristique ligula ac nibh mattis venenatis. Nunc elementum augue sit amet
      porta feugiat. Integer commodo, odio sit amet sodales porttitor, turpis sem blandit purus, non imperdiet felis
      felis a purus.</p>

    <div class="masonry-1 masonry-sm-2 masonry-md-2 masonry-lg-3 masonry-xl-4 masonry-xxl-5 masonry-gap-5 mt-6">



      <div class="card">
        <div class="header">
          <h2>Headings</h2>
        </div>
        <div class="body">
          <h1>h1. Heading 1</h1>
          <h2>h2. Heading 2</h2>
          <h3>h3. Heading 3</h3>
          <h4>h4. Heading 4</h4>
          <h5>h5. Heading 5</h5>
          <h6>h6. Heading 6</h6>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>




      <div class="card">
        <div class="header">
          <h2>Typography</h2>
        </div>
        <div class="body">
          <abbr title="Abbreviation">Abbr.</abbr>
          <hr>
          <b>Bold</b>
          <hr>
          <i>Italic</i>
          <hr>
          <s>Strikethrough</s>
          <hr>
          <u>Underline</u>
          <hr>
          <small>Small</small>
          <hr>
          <del>Deleted</del>
          <hr>
          <ins>Inserted</ins>
          <hr>
          <kbd>Ctrl + F</kbd>
          <hr>
          Text <sub>Sub</sub>
          <hr>
          Text <sup>Sup</sup>
          <hr>
          <span class="monospace">Monospace</span>
          <hr>
          <span class="lowercase">Lowercase text</span>
          <hr>
          <span class="capitalize">Capitalize text</span>
          <hr>
          <span class="uppercase">Uppercase text</span>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>




      <div class="card">
        <div class="header">
          <h2>Left Alignment</h2>
        </div>
        <div class="body">
          <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend nisl
            metus, nec venenatis sapien efficitur vitae.</p>
        </div>

        <div class="header">
          <h2>Center</h2>
        </div>
        <div class="body">
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend
            nisl metus, nec venenatis sapien efficitur vitae.</p>
        </div>

        <div class="header">
          <h2>Right</h2>
        </div>
        <div class="body">
          <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend
            nisl metus, nec venenatis sapien efficitur vitae.</p>
        </div>

        <div class="header">
          <h2>Justify</h2>
        </div>
        <div class="body">
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend
            nisl
            metus, nec venenatis sapien efficitur vitae.</p>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>



      <div class="card">
        <div class="header">
          <h2>Buttons</h2>
        </div>
        <div class="body">
          <button class="btn-red m-2">Red Button</button>
          <button class="btn-orange m-2">Orange Button</button>
          <button class="btn-yellow m-2">Yellow Button</button>
          <button class="btn-green m-2">Green Button</button>
          <button class="btn-blue m-2">Blue Button</button>
          <button class="btn-purple m-2">Purple Button</button>
          <button class="btn-dark-grey m-2">Dark Grey Button</button>
          <button class="btn-light-grey m-2">Light Grey Button</button>
          <button class="btn-grey m-2">Grey Button</button>
        </div>
        <div class="footer text-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <div class="card">
        <div class="header">
          <h2>Margins</h2>
        </div>
        <div class="body text-center">
          <div class="mx-auto m-3 rounded-1 w-fit">
            <div class="m-0 bg-blue-lighter-10 p-1 w-fit rounded-1 text-white">Margin 0</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue hatching-blue">
            <div class="m-1 bg-blue-lighter-10 p-1 w-fit rounded-1 text-white">Margin 1</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue hatching-blue">
            <div class="m-2 bg-blue-lighter-10 p-1 w-fit rounded-1 text-white">Margin 2</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue hatching-blue">
            <div class="m-3 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 3</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue hatching-blue">
            <div class="m-4 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 4</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue  hatching-blue">
            <div class="m-5 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 5</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue hatching-blue">
            <div class="m-6 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 6</div>
          </div>
          <div class="mx-auto m-3 rounded-1 w-fit border-blue hatching-blue">
            <div class="m-7 bg-blue-lighter-10 p-1 rounded-1 text-white">Margin 7</div>
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <div class="card">
        <div class="header">
          <h2>Paddings</h2>
        </div>
        <div class="body text-center">
          <div class="p-0 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 0
          </div>
          <div class="p-1 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 1
          </div>
          <div class="p-2 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 2
          </div>
          <div class="p-3 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 3
          </div>
          <div class="p-4 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 4
          </div>
          <div class="p-5 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 5
          </div>
          <div class="p-6 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 6</div>
          <div class="p-7 mx-auto my-3 rounded-1 w-fit text-black stripes-green">Padding 7</div>

        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>









      <div class="card">
        <div class="header">
          <h2>Colors</h2>
        </div>
        <div class="body card-color">
          <div class="bg-red "><span>Red</span><span>#DE3023</span></div>
          <div class="bg-orange text-black"><span>Orange</span><span>#FFAA40</span></div>
          <div class="bg-yellow text-black"><span>Yellow</span><span>#DED140</span></div>
          <div class="bg-green"><span>Green</span><span>#1F8F49</span></div>
          <div class="bg-blue"><span>Blue</span><span>#162BA9</span></div>
          <div class="bg-purple"><span>Purple</span><span>#B834C7</span></div>
          <div class="bg-dark-grey"><span>Dark Grey</span><span>#3B4154</span></div>
          <div class="bg-light-grey text-black"><span>Light Grey</span><span>#DCDEE6</span></div>
          <div class="bg-grey"><span>Grey</span><span>#??????</span></div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>



      <div class="card">
        <div class="header">
          <h2>Border Colors</h2>
        </div>
        <div class="body card-color">
          <div class="border-1 border-red"><span>Red</span><span>#DE3023</span></div>
          <div class="border-1 border-orange"><span>Orange</span><span>#FFAA40</span></div>
          <div class="border-1 border-yellow"><span>Yellow</span><span>#DED140</span></div>
          <div class="border-1 border-green"><span>Green</span><span>#1F8F49</span></div>
          <div class="border-1 border-blue"><span>Blue</span><span>#162BA9</span></div>
          <div class="border-1 border-purple"><span>Purple</span><span>#B834C7</span></div>
          <div class="border-1 border-dark-grey"><span>Dark Grey</span><span>#3B4154</span></div>
          <div class="border-1 border-light-grey"><span>Light Grey</span><span>#DCDEE6</span></div>
          <div class="border-1 border-grey"><span>Grey</span><span>#??????</span></div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>


      <div class="card">
        <div class="body">
          <h3>Default Card</h3>
          <p>Card component with inner title</p>
          <div>
            <button class="btn-green">&lt;code&gt;</button>
          </div>
        </div>
      </div>





      <div class="card">
        <div class="header">
          <h2>Card with Headers</h2>
        </div>
        <div class="body">Example of card with several <b>headers</b>.</div>
        <div class="header">
          <h2>Another Headers</h2>
        </div>
        <div class="body">You can insert multiple <b>headers</b> in a single card.</div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>



      <div class="card">
        <img class="header" src="/images/card-header.jpg">
        <div class="body">
          <h3>Card with Image</h3>
          <p>Example of a card with an image for blog posts, user cards, and many more.</p>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>




      <div class="card">
        <div class="header">
          <h2>Grid</h2>
        </div>
        <div class="body grid">
          <div class="card text-center border-1">1</div>
          <div class="card text-center">2</div>
          <div class="card text-center">3</div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>



      <div class="card">
        <div class="header">
          <h2>Card</h2>
        </div>
        <div class="body">Body
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>



      <div class="card">
        <div class="header">
          <h2>Borders</h2>
        </div>
        <div class="body">
          <div class="card border-top">
            .border-top
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>




      <div class="card">
        <div class="header">
          <h2>Aspect Ratio</h2>
        </div>
        <div class="body text-center">
          <div class="card border-blue ratio-1x1 w-25">
            1/1
          </div>
          <div class="card border-blue ratio-16x9 w-25">
            16/9
          </div>
          <div class="card border-blue ratio-9x16 w-25">
            9/16
          </div>
        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>




      <div class="card">
        <div class="header ">
          <h2>Color Gradients</h2>
        </div>
        <div class="body">
          <div class="grid mb-2">
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-lighter-20"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-lighter-15"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-lighter-10"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-lighter-5"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-darker-5"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-darker-10"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-darker-15"></div>
            <div class="ratio-1x1 border-red rounded-1 p-1 bg-red-darker-20"></div>
          </div>
          <div class="grid mb-2">
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-lighter-20"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-lighter-15"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-lighter-10"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-lighter-5"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-darker-5"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-darker-10"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-darker-15"></div>
            <div class="ratio-1x1 border-orange rounded-1 p-1 bg-orange-darker-20"></div>
          </div>
          <div class="grid mb-2">
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-lighter-20"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-lighter-15"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-lighter-10"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-lighter-5"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-darker-5"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-darker-10"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-darker-15"></div>
            <div class="ratio-1x1 border-yellow rounded-1 p-1 bg-yellow-darker-20"></div>
          </div>

          <div class="grid mb-2">
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-lighter-20"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-lighter-15"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-lighter-10"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-lighter-5"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-darker-5"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-darker-10"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-darker-15"></div>
            <div class="ratio-1x1 border-green rounded-1 p-1 bg-green-darker-20"></div>
          </div>

          <div class="grid mb-2">
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-lighter-20"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-lighter-15"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-lighter-10"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-lighter-5"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-darker-5"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-darker-10"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-darker-15"></div>
            <div class="ratio-1x1 border-blue rounded-1 p-1 bg-blue-darker-20"></div>
          </div>
          <div class="grid mb-2">
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-lighter-20"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-lighter-15"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-lighter-10"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-lighter-5"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-darker-5"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-darker-10"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-darker-15"></div>
            <div class="ratio-1x1 border-purple rounded-1 p-1 bg-purple-darker-20"></div>
          </div>
          <div class="grid mb-2">
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-lighter-20"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-lighter-15"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-lighter-10"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-lighter-5"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-darker-5"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-darker-10"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-darker-15"></div>
            <div class="ratio-1x1 border-dark-grey rounded-1 p-1 bg-dark-grey-darker-20"></div>
          </div>
          <div class="grid mb-2">
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-lighter-20"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-lighter-15"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-lighter-10"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-lighter-5"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-darker-5"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-darker-10"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-darker-15"></div>
            <div class="ratio-1x1 border-light-grey rounded-1 p-1 bg-light-grey-darker-20"></div>
          </div>
          <div class="grid mb-2">
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-lighter-20"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-lighter-15"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-lighter-10"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-lighter-5"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-darker-5"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-darker-10"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-darker-15"></div>
            <div class="ratio-1x1 border-grey rounded-1 p-1 bg-grey-darker-20"></div>
          </div>

        </div>
        <div class="footer align-right">
          <button class="btn-green">&lt;code&gt;</button>
        </div>
      </div>

      


    </div> <!-- end of masonry -->


    <script>

      document.getElementById('btn-theme-light').addEventListener('click', () => {
        document.querySelector(':root').style.setProperty('color-scheme', 'light');
      })

      document.getElementById('btn-theme-system').addEventListener('click', () => {
        document.querySelector(':root').style.setProperty('color-scheme', 'light dark');
      })

      document.getElementById('btn-theme-dark').addEventListener('click', () => {
        document.querySelector(':root').style.setProperty('color-scheme', 'dark');
      })

      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) console.log('dark mode')
      else console.log('light mode')

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        const newColorScheme = e.matches ? "dark" : "light";
        console.log('change', newColorScheme)
      });
    </script>
</body>

</html>