<!DOCTYPE html>
<html lang="<%= __('meta.lang') %>">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/classic/classic-light.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/classic/classic-dark.css">

  <title>Beautiful CSS</title>
  <meta name="description" content="Beautifull CSS Home page">

</head>

<body>
  <div id="main">
    <h1>h1. Heading 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non lacus in nisl lobortis consequat.
      Suspendisse a ullamcorper nunc. Curabitur est tellus, faucibus ac elit maximus, ultrices vehicula dui. Fusce et
      nulla eu quam convallis accumsan. Nullam iaculis turpis sollicitudin libero lacinia tincidunt. Vivamus ultricies
      non nisl vel luctus. Mauris tristique tellus non venenatis tempor. Duis venenatis, sapien ac vehicula iaculis,
      arcu tellus egestas dui, quis fringilla dui nisl et enim. Vestibulum sit amet sapien sit amet nisi pretium lacinia
      quis quis risus. Maecenas placerat tincidunt urna vitae faucibus. Etiam pretium dignissim leo, sed rhoncus neque
      ultricies in. Fusce mauris est, pulvinar consectetur aliquet a, aliquam ac turpis. Nullam quis odio vehicula dolor
      convallis posuere. Sed et odio luctus nisl scelerisque sollicitudin.</p>

    <h2>h2. Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non lacus in nisl lobortis consequat.
      Suspendisse a ullamcorper nunc. Curabitur est tellus, faucibus ac elit maximus, ultrices vehicula dui. Fusce et
      nulla eu quam convallis accumsan. Nullam iaculis turpis sollicitudin libero lacinia tincidunt. Vivamus ultricies
      non nisl vel luctus. Mauris tristique tellus non venenatis tempor. Duis venenatis, sapien ac vehicula iaculis,
      arcu tellus egestas dui, quis fringilla dui nisl et enim. Vestibulum sit amet sapien sit amet nisi pretium lacinia
      quis quis risus. Maecenas placerat tincidunt urna vitae faucibus. Etiam pretium dignissim leo, sed rhoncus neque
      ultricies in. Fusce mauris est, pulvinar consectetur aliquet a, aliquam ac turpis. Nullam quis odio vehicula dolor
      convallis posuere. Sed et odio luctus nisl scelerisque sollicitudin.</p>

      <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non lacus in nisl lobortis consequat.
      Suspendisse a ullamcorper nunc. Curabitur est tellus, faucibus ac elit maximus, ultrices vehicula dui. Fusce et
      nulla eu quam convallis accumsan. Nullam iaculis turpis sollicitudin libero lacinia tincidunt. Vivamus ultricies
      non nisl vel luctus. Mauris tristique tellus non venenatis tempor. Duis venenatis, sapien ac vehicula iaculis,
      arcu tellus egestas dui, quis fringilla dui nisl et enim. Vestibulum sit amet sapien sit amet nisi pretium lacinia
      quis quis risus. Maecenas placerat tincidunt urna vitae faucibus. Etiam pretium dignissim leo, sed rhoncus neque
      ultricies in. Fusce mauris est, pulvinar consectetur aliquet a, aliquam ac turpis. Nullam quis odio vehicula dolor
      convallis posuere. Sed et odio luctus nisl scelerisque sollicitudin.</p>

    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non lacus in nisl lobortis consequat.
      Suspendisse a ullamcorper nunc. Curabitur est tellus, faucibus ac elit maximus, ultrices vehicula dui. Fusce et
      nulla eu quam convallis accumsan. Nullam iaculis turpis sollicitudin libero lacinia tincidunt. Vivamus ultricies
      non nisl vel luctus. Mauris tristique tellus non venenatis tempor. Duis venenatis, sapien ac vehicula iaculis,
      arcu tellus egestas dui, quis fringilla dui nisl et enim. Vestibulum sit amet sapien sit amet nisi pretium lacinia
      quis quis risus. Maecenas placerat tincidunt urna vitae faucibus. Etiam pretium dignissim leo, sed rhoncus neque
      ultricies in. Fusce mauris est, pulvinar consectetur aliquet a, aliquam ac turpis. Nullam quis odio vehicula dolor
      convallis posuere. Sed et odio luctus nisl scelerisque sollicitudin.</p>

    <p>Aenean molestie arcu sit amet tempor consequat. Integer risus lectus, aliquam ac libero eu, finibus interdum leo.
      Integer euismod lacus posuere lacinia dapibus. Donec porta vitae sem imperdiet aliquam. Cras vulputate condimentum
      nisl eu dignissim. Praesent sodales bibendum arcu, id rutrum ex tempus ut. Aenean turpis sem, ullamcorper ut
      pellentesque et, commodo vitae nunc. Pellentesque lorem enim, sagittis eget quam vel, ultrices laoreet lacus.
      Aliquam a arcu vel augue ullamcorper dictum. Morbi et porta metus. Integer sit amet sodales tellus. Aliquam eu
      libero fringilla, tincidunt eros eget, rhoncus tortor. In dapibus, sapien vel dapibus imperdiet, mauris dui
      laoreet odio, a fringilla odio tortor et dolor. Morbi eleifend finibus ligula in semper. Sed vehicula ornare elit,
      in elementum sem tempus tincidunt. Nullam lorem metus, dictum elementum tellus id, convallis tristique odio.</p>


      <h1>h1. Heading 1</h1>
      <h2>h2. Heading 2</h2>
      <h3>h3. Heading 3</h3>
      <h4>h4. Heading 4</h4>
      <h5>h5. Heading 5</h5>
      <h6>h6. Heading 6</h6>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

</body>

</html>