#main {
  
  /* border: 1px solid red; */
  
  margin: 1rem;
}


.masonry {
  column-count: 4; /* Adjust the number of columns based on your design */
  column-gap: 2rem; /* Space between columns */
  width: 100%; /* Full width of the container */
}

.masonry > * {
  break-inside: avoid; /* Prevent items from splitting across columns */
  margin-bottom: 2rem;
}


.card-color > div {
  border-radius: 1rem;  
  margin-bottom: 0.5rem;
  padding: 1rem;
  color: white;

  display: flex;
  justify-content: space-between;
}

