#main {
  
  /* border: 1px solid red; */
  
  margin: 1rem;
}


.masonry-2,
.masonry-3,
.masonry-4,
.masonry-5,
.masonry-6,
.masonry-7
 {
  column-gap: 2rem; /* Space between columns */  
  width: 100%; /* Full width of the container */
}



.masonry-2 { column-count: 2; }
.masonry-3 { column-count: 3; }
.masonry-4 { column-count: 4; }
.masonry-5 { column-count: 5; }
.masonry-6 { column-count: 6; }
.masonry-7 { column-count: 7; }

.masonry-2 > *,
.masonry-3 > *,
.masonry-4 > *,
.masonry-5 > *,
.masonry-6 > *,
.masonry-7 > * {
  break-inside: avoid; /* Prevent items from splitting across columns */
  margin-bottom: 2rem;
}


.card-color > div {
  border-radius: 1rem;  
  margin-bottom: 0.5rem;
  padding: 1rem;
  color: white;

  display: flex;
  justify-content: space-between;
}


.card-color > div > span:nth-child(2) {
  font-family: var(--font-family-monospace);
  text-transform: uppercase;
}
