#main {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0 auto;
}


.masonry {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.masonry > * {
  position: absolute;
}


.card-color > div {
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: white;

  display: flex;
  justify-content: space-between;
}

