@import url(../../colors/palette.css);
@import url(bg-yellow.css);
@import url(bg-orange.css);
@import url(bg-red.css);
@import url(bg-pink.css);
@import url(bg-purple.css);
@import url(bg-blue.css);
@import url(bg-cyan.css);
@import url(bg-green.css);
@import url(bg-white.css);
@import url(bg-grey.css);
@import url(bg-black.css);


.bg-transparent { --bg-light:transparent;--bg-dark:transparent;}
.light\:bg-transparent { --bg-light:transparent;}
.dark\:bg-transparent { --bg-dark:transparent;}

[class*="light\:bg-"]:not([class*="dark\:bg-"]) {
  background-color: light-dark(oklch(var(--bg-light, var(--white-200))), oklch(var(--bg-dark, 0 0 0 / 0)))!important;
}

[class*="dark\:bg-"]:not([class*="light\:bg-"]) {
  background-color: light-dark(oklch(var(--bg-light,0 0 0 / 0)), oklch(var(--bg-dark, var(--black-200))))!important;
}


[class*="light\:bg-"][class*="dark\:bg-"],
[class*="bg-"] {
  background-color: light-dark(oklch(var(--bg-light) / var(--bg-opacity, 1)), oklch(var(--bg-dark) / var(--bg-opacity, 1)))!important;
}



.bg-opacity-0 { --bg-opacity : 0; }
.bg-opacity-10 { --bg-opacity : .1; }
.bg-opacity-20 { --bg-opacity : .2; }
.bg-opacity-30 { --bg-opacity : .3; }
.bg-opacity-40 { --bg-opacity : .4; }
.bg-opacity-50 { --bg-opacity : .5; }
.bg-opacity-60 { --bg-opacity : .6; }
.bg-opacity-70 { --bg-opacity : .7; }
.bg-opacity-80 { --bg-opacity : .8; }
.bg-opacity-90 { --bg-opacity : .9; }
.bg-opacity-100 { --bg-opacity : 1; }
