@import url(../../colors/palette.css);
@import url(bg-yellow.css);
@import url(bg-orange.css);
@import url(bg-red.css);
@import url(bg-pink.css);
@import url(bg-purple.css);
@import url(bg-blue.css);
@import url(bg-cyan.css);
@import url(bg-green.css);
@import url(bg-white.css);
@import url(bg-grey.css);
@import url(bg-black.css);


.bg-transparent { --bg-light:transparent;--bg-dark:transparent;}
.light\:bg-transparent { --bg-light:transparent;}
.dark\:bg-transparent { --bg-dark:transparent;}

[class*="light\:bg-"]:not([class*="dark\:bg-"]) {
  background-color: light-dark(var(--bg-light, var(--white-200)), var(--bg-dark,transparent))!important;
}

[class*="dark\:bg-"]:not([class*="light\:bg-"]) {
  background-color: light-dark(var(--bg-light,transparent), var(--bg-dark, var(--black-200)))!important;
}


[class*="light\:bg-"][class*="dark\:bg-"],
[class*="bg-"] {
  background-color: light-dark(var(--bg-light, transparent), var(--bg-dark, transparent))!important;
}



