@import url(../../colors/palette.css);

.bg-pink { --bg-light:var(--pink-200);--bg-dark:var(--pink-800);}
.bg-pink-50  { --bg-light:var(--pink-50 );--bg-dark:var(--pink-50 );}
.bg-pink-100 { --bg-light:var(--pink-100);--bg-dark:var(--pink-100);}
.bg-pink-200 { --bg-light:var(--pink-200);--bg-dark:var(--pink-200);}
.bg-pink-300 { --bg-light:var(--pink-300);--bg-dark:var(--pink-300);}
.bg-pink-400 { --bg-light:var(--pink-400);--bg-dark:var(--pink-400);}
.bg-pink-500 { --bg-light:var(--pink-500);--bg-dark:var(--pink-500);}
.bg-pink-600 { --bg-light:var(--pink-600);--bg-dark:var(--pink-600);}
.bg-pink-700 { --bg-light:var(--pink-700);--bg-dark:var(--pink-700);}
.bg-pink-800 { --bg-light:var(--pink-800);--bg-dark:var(--pink-800);}
.bg-pink-900 { --bg-light:var(--pink-900);--bg-dark:var(--pink-900);}
.bg-pink-950 { --bg-light:var(--pink-950);--bg-dark:var(--pink-950);}

.light\:bg-pink { --bg-light:var(--pink-200 ); }
.light\:bg-pink-50  { --bg-light:var(--pink-50 ); }
.light\:bg-pink-100 { --bg-light:var(--pink-100); }
.light\:bg-pink-200 { --bg-light:var(--pink-200); }
.light\:bg-pink-300 { --bg-light:var(--pink-300); }
.light\:bg-pink-400 { --bg-light:var(--pink-400); }
.light\:bg-pink-500 { --bg-light:var(--pink-500); }
.light\:bg-pink-600 { --bg-light:var(--pink-600); }
.light\:bg-pink-700 { --bg-light:var(--pink-700); }
.light\:bg-pink-800 { --bg-light:var(--pink-800); }
.light\:bg-pink-900 { --bg-light:var(--pink-900); }
.light\:bg-pink-950 { --bg-light:var(--pink-950); }

.dark\:bg-pink  { --bg-dark:var(--pink-800 ); }
.dark\:bg-pink-50  { --bg-dark:var(--pink-50 ); }
.dark\:bg-pink-100 { --bg-dark:var(--pink-100); }
.dark\:bg-pink-200 { --bg-dark:var(--pink-200); }
.dark\:bg-pink-300 { --bg-dark:var(--pink-300); }
.dark\:bg-pink-400 { --bg-dark:var(--pink-400); }
.dark\:bg-pink-500 { --bg-dark:var(--pink-500); }
.dark\:bg-pink-600 { --bg-dark:var(--pink-600); }
.dark\:bg-pink-700 { --bg-dark:var(--pink-700); }
.dark\:bg-pink-800 { --bg-dark:var(--pink-800); }
.dark\:bg-pink-900 { --bg-dark:var(--pink-900); }
.dark\:bg-pink-950 { --bg-dark:var(--pink-950); }