@import url(blue-gradient);
@import url(fonts.css);

.btn-blue {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.309rem 0.618rem;
  border-radius : 0.309rem;
  border: 0;
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
  outline: 0;
}

.btn-blue:hover {
  background-color: #1c36d6;
}

.btn-blue:focus,
.btn-blue:focus-visible {
  background-color: #1c36d6;;
  box-shadow: 0 0 0 0.25rem #3f57e6;
}