:root {
  --blue-lighter-5: #1931c0;
  --blue-lighter-10: #1c36d6;
  --blue-lighter-15 : #2843e3;
  --blue-lighter-20: #3f57e6;

  --blue-darker-5: #132592;
  --blue-darker-10: #10207c;
  --blue-darker-15: #0d1a65;
  --blue-darker-20: #0a144f;
}


.bg-blue-lighter-5 { background-color: var(--blue-lighter-5); }
.bg-blue-lighter-10 { background-color: var(--blue-lighter-10); }
.bg-blue-lighter-15 { background-color: var(--blue-lighter-15); }
.bg-blue-lighter-20 { background-color: var(--blue-lighter-20); }

.bg-blue-darker-5 { background-color: var(--blue-darker-5); }
.bg-blue-darker-10 { background-color: var(--blue-darker-10); }
.bg-blue-darker-15 { background-color: var(--blue-darker-15); }
.bg-blue-darker-20 { background-color: var(--blue-darker-20); }

.text-blue-lighter-5 { color: var(--blue-lighter-5); }
.text-blue-lighter-10 { color: var(--blue-lighter-10); }
.text-blue-lighter-15 { color: var(--blue-lighter-15); }
.text-blue-lighter-20 { color: var(--blue-lighter-20); }

.text-blue-darker-5 { color: var(--blue-darker-5); }
.text-blue-darker-10 { color: var(--blue-darker-10); }
.text-blue-darker-15 { color: var(--blue-darker-15); }
.text-blue-darker-20 { color: var(--blue-darker-20); }