:root {
  --border-radius: 0.61rem;
  --border-color: light-dark(#00000014, #ffffff14);
}


.border-0 {
  border: 0!important;
}



.border-1 {
  border: 1px solid var(--grey);
}



.border-red {
  border-color: var(--red);
}

.border-orange {
  border-color: var(--orange);
}

.border-yellow {
  border-color: var(--yellow);
}

.border-green {
  border-color: var(--green);
}

.border-blue {
  border-color: var(--blue);
  border-width: 1px;
  border-style: solid;

}

.border-purple {
  border-color: var(--purple);
}

.border-dark-grey {
  border-color: var(--dark-grey);
}

.border-light-grey {
  border-color: var(--light-grey);
}

.border-grey {
  border-color: var(--grey);
}






.rounded-0 {
  border-radius: 0!important;
}


.rounded-1 {
  border-radius: 0.3819660113rem!important;
}

.rounded-2 {
  border-radius: 1rem!important;
}




.border-top {
  border-top: 1px solid var(--border-color)!important;
  border-bottom: 0!important;
}