@import url(fonts.css);
@import url(colors.css);
@import url(typography.css);
@import url(horizontal-rule.css);
@import url(text-alignment.css);
@import url(headings.css);
@import url(cards.css);

:root {
  color-scheme: light dark;
  --background-color: light-dark(var(--white), var(--black));
  --text-color: light-dark(#333, #ddd);
  --border-radius: 0.61rem;
}



body {
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* 5 colonnes égales */
  gap: 2rem;
  /* Espacement entre les cases */
}

.box {
  padding: 1rem;
  text-align: center;
  aspect-ratio: 1 / 1;
  border-radius: 1.61rem;
  color: white;
}