@import url(fonts.css);
@import url(colors/colors.css);
@import url(typography.css);
@import url(horizontal-rule.css);
@import url(text-alignment.css);
@import url(headings.css);
@import url(colors/gradient.css);
@import url(colors/text-colors.css);
@import url(buttons/buttons.css);
@import url(cards.css);
@import url(borders.css);
@import url(overflow.css);
@import url(sizing/sizing.css);
@import url(layout/layout.css);
@import url(backgrounds/backgrounds.css);


:root {
  color-scheme: light dark;
  --background-color: light-dark(var(--white), var(--black));
  --text-color: light-dark(#333, #ddd);
  
}



body {
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}


