@import url(fonts.css);
@import url(colors.css);
@import url(typography.css);
@import url(horizontal-rule.css);
@import url(text-alignment.css);
@import url(headings.css);
@import url(gradients/gradient.css);
@import url(buttons/buttons.css);
@import url(cards.css);
@import url(borders.css);
@import url(margins.css);
@import url(paddings.css);
@import url(overflow.css);
@import url(width.css);
@import url(stripes.css);
@import url(hatching.css);


:root {
  color-scheme: light dark;
  --background-color: light-dark(var(--white), var(--black));
  --text-color: light-dark(#333, #ddd);
  
}



body {
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}




.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.375rem;
}


.grid > * {
  flex: 1 1; /* Grow, shrink, and base size */
}