@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background-color: #1e212a;
  --text-color: #ddd;

  --font-family: "Inter", serif;
  
  --h1-font-size: calc(3vw + 1.1rem);
  --h1-font-size: calc(1vw + 1.1rem);
  /* --h1-font-size: 4.236067977rem; */
  --h2-font-size: calc(1rem + 0.5954915028*(var(--h1-font-size) - 1rem));
  --h3-font-size: calc(1rem + 0.3454915028*(var(--h1-font-size) - 1rem));
  --h4-font-size: calc(1rem + 0.1909830056*(var(--h1-font-size) - 1rem));
  --h5-font-size: calc(1rem + 0.0954915028*(var(--h1-font-size) - 1rem));
  --h6-font-size: calc(1rem + 0.0364745084*(var(--h1-font-size) - 1rem));

  --h1-margin-top: calc(0.6180339887*var(--h1-font-size));
  --h2-margin-top: calc(0.6180339887*var(--h2-font-size));
  --h3-margin-top: calc(0.6180339887*var(--h3-font-size));
  --h4-margin-top: calc(0.6180339887*var(--h4-font-size));
  --h5-margin-top: calc(0.6180339887*var(--h5-font-size));
  --h6-margin-top: calc(0.6180339887*var(--h6-font-size));

  --h1-color: #ffffff;
  --h2-color: #f7f7f7;
  --h3-color: #efefef;
  --h4-color: #e7e7e7;
  --h5-color: #dfdfdf;
  --h6-color: #d7d7d7;
  
  --red: #DE3023;  
  --orange: #FFAA40;
  --yellow: #DED140;
  --green: #1F8F49;
  --purple: #B834C7;  
  --blue: #162BA9;
  --grey: #3B4154;

  
  --border-radius: 0.61rem;
  

}

body {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  margin: 0;
  margin-bottom: 1vh;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);  
}

.h1,
h1 {
  font-size: var(--h1-font-size);
  margin-top: var(--h1-margin-top);
  margin-bottom: 0;
  line-height: var(--h1-font-size);
  color: var(--h1-color);
}

.h2,
h2 {
  font-size: var(--h2-font-size);
  margin-top: var(--h2-margin-top);
  margin-bottom: 0;
  color: var(--h2-color);
}

.h3,
h3 {
  font-size: var(--h3-font-size);
  margin-top: var(--h3-margin-top);
  margin-bottom: 0;
  color: var(--h3-color);
}

.h4,
h4 {
  font-size: var(--h4-font-size);
  margin-top: var(--h4-margin-top);
  margin-bottom: 0;
  color: var(--h4-color);
}

.h5,
h5 {
  font-size: var(--h5-font-size);
  margin-top: var(--h5-margin-top);
  margin-bottom: 0;
  color: var(--h5-color);
}

.h6,
h6 {
  font-size: var(--h6-font-size);
  margin-top: var(--h6-margin-top);
  margin-bottom: 0;
  color: var(--h6-color);
}



p {
  margin-top: 0.618rem;
  text-align: justify;
}









.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 5 colonnes égales */
  gap: 2rem; /* Espacement entre les cases */
}

.box {
  padding: 1rem;
  text-align: center;
  aspect-ratio : 1 / 1;
  border-radius: 1.61rem;
  color: white;
}




.card {
  background-color: #292d39;
  border-radius: var(--border-radius);
  box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
}

.card > *:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card > *:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card > div.header {
  background-color: var(--grey);
  padding: var(--border-radius);  
}

.card > img.header {    
  padding: 0;
  max-width: 100%;
}



.card > .header > :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
}
.card > .body {
  padding: var(--border-radius);
}

.card > .footer {
  background-color: var(--grey);
  padding: var(--border-radius);
}






.bg-red {
  background-color: var(--red)!important;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-yellow {
  background-color: var(--yellow);
}
.bg-blue {
  background-color: var(--blue);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-green {
  background-color: var(--green);
}

.bg-grey {
  background-color: var(--grey);
}
