:root {

  --white: #f3f4f7;
  --black: #1e212a;

  --red: #DE3023;
  --orange: #FFAA40;
  --yellow: #DED140;
  --green: #1F8F49;
  --purple: #B834C7;
  --blue: #162BA9;
  --blue: #1b34cd;
  --light-grey: #dcdee6;
  /*--light-grey: #bec2d1;*/
  --dark-grey: #3B4154;
  --grey: light-dark(var(--light-grey), var(--dark-grey));
  --opposite-grey: light-dark(var(--dark-grey), var(--light-grey));
  --white-black: light-dark(var(--white), var(--black));
  --black-white: light-dark(var(--black), var(--white));

}



.text-white {
  color: var(--white) !important;
}

.text-black {
  color: var(--black) !important;
}

.text-red {
  color: var(--red) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.text-yellow {
  color: var(--yellow) !important;
}

.text-blue {
  color: var(--blue) !important;
}

.text-purple {
  color: var(--purple) !important;
}

.text-green {
  color: var(--green) !important;
}

.text-grey {
  color: var(--grey) !important;
}