:root {
  --green-lighter-5: #24a454;
  --green-lighter-10: #28b95e;
  --green-lighter-15 : #2dce69;
  --green-lighter-20: #3fd577;

  --green-darker-5: #1a7a3e;
  --green-darker-10: #166534;
  --green-darker-15: #115029;
  --green-darker-20: #0d3b1e;
}


.bg-green-lighter-5 { background-color: var(--green-lighter-5); }
.bg-green-lighter-10 { background-color: var(--green-lighter-10); }
.bg-green-lighter-15 { background-color: var(--green-lighter-15); }
.bg-green-lighter-20 { background-color: var(--green-lighter-20); }

.bg-green-darker-5 { background-color: var(--green-darker-5); }
.bg-green-darker-10 { background-color: var(--green-darker-10); }
.bg-green-darker-15 { background-color: var(--green-darker-15); }
.bg-green-darker-20 { background-color: var(--green-darker-20); }

.text-green-lighter-5 { color: var(--green-lighter-5); }
.text-green-lighter-10 { color: var(--green-lighter-10); }
.text-green-lighter-15 { color: var(--green-lighter-15); }
.text-green-lighter-20 { color: var(--green-lighter-20); }

.text-green-darker-5 { color: var(--green-darker-5); }
.text-green-darker-10 { color: var(--green-darker-10); }
.text-green-darker-15 { color: var(--green-darker-15); }
.text-green-darker-20 { color: var(--green-darker-20); }