.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.2360679775rem;
}

.m-2 {
  margin: 0.3819660113rem;
}

.m-3 {
  margin: 0.6180339887rem;
}

.m-4 {
  margin: 1rem;
}

.m-5 {
  margin: 1.618033989rem;
}

.m-6 {
  margin: 2.618033989rem;
}

.m-7 {
  margin: 4.236067977rem;
}

.m-auto {
  margin: auto;
}




.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin-left: 0.2360679775rem;
  margin-right: 0.2360679775rem;
}

.mx-2 {
  margin-left: 0.3819660113rem;
  margin-right: 0.3819660113rem;
}

.mx-3 {
  margin-left: 0.6180339887rem;
  margin-right: 0.6180339887rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-5 {
  margin-left: 1.618033989rem;
  margin-right: 1.618033989rem;
}

.mx-6 {
  margin-left: 2.618033989rem;
  margin-right: 2.618033989rem;
}

.mx-7 {
  margin-left: 4.236067977rem;
  margin-right: 4.236067977rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}



.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.2360679775rem;
  margin-bottom: 0.2360679775rem;
}

.my-2 {
  margin-top: 0.3819660113rem;
  margin-bottom: 0.3819660113rem;
}

.my-3 {
  margin-top: 0.6180339887rem;
  margin-bottom: 0.6180339887rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-5 {
  margin-top: 1.618033989rem;
  margin-bottom: 1.618033989rem;
}

.my-6 {
  margin-top: 2.618033989rem;
  margin-bottom: 2.618033989rem;
}

.my-7 {
  margin-top: 4.236067977rem;
  margin-bottom: 4.236067977rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}



.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.2360679775rem;
}

.mb-2 {
  margin-bottom: 0.3819660113rem;
}

.mb-3 {
  margin-bottom: 0.6180339887rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.618033989rem;
}

.mb-6 {
  margin-bottom: 2.618033989rem;
}

.mb-7 {
  margin-bottom: 4.236067977rem;
}

.mb-auto {
  margin-bottom: auto;
}





.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.2360679775rem;
}

.mt-2 {
  margin-top: 0.3819660113rem;
}

.mt-3 {
  margin-top: 0.6180339887rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.618033989rem;
}

.mt-6 {
  margin-top: 2.618033989rem;
}

.mt-7 {
  margin-top: 4.236067977rem;
}

.mt-auto {
  margin-top: auto;
}