@import url(breakpoints.css);

:root {
  --masonry-gap: 1rem;
}

.masonry-1,
.masonry-2,
.masonry-3,
.masonry-4,
.masonry-5,
.masonry-6,
.masonry-7
 {
  column-gap: var(--masonry-gap); /* Space between columns */  
  width: 100%; /* Full width of the container */
  
}



.masonry-gap-0 {
  --masonry-gap : 0;
}

.masonry-gap-1 {
  --masonry-gap : 0.2360679775rem;
}

.masonry-gap-2 {
  --masonry-gap : 0.3819660113rem;
}

.masonry-gap-3 {
  --masonry-gap : 0.6180339887rem;
}

.masonry-gap-4 {
  --masonry-gap : 1rem;
}

.masonry-gap-5 {
  --masonry-gap : 1.618033989rem;
}

.masonry-gap-6 {
  --masonry-gap : 2.618033989rem;
}




.masonry-1 { column-count: 1; }
.masonry-2 { column-count: 2; }
.masonry-3 { column-count: 3; }
.masonry-4 { column-count: 4; }
.masonry-5 { column-count: 5; }
.masonry-6 { column-count: 6; }
.masonry-7 { column-count: 7; }

.masonry-1 > *,
.masonry-2 > *,
.masonry-3 > *,
.masonry-4 > *,
.masonry-5 > *,
.masonry-6 > *,
.masonry-7 > * {
  break-inside: avoid; /* Prevent items from splitting across columns */
  margin-bottom: var(--masonry-gap);
}


@media (min-width: 40rem) { 

  .masonry-sm-1 { column-count: 1; }
  .masonry-sm-2 { column-count: 2; }
  .masonry-sm-3 { column-count: 3; }
  .masonry-sm-4 { column-count: 4; }
  .masonry-sm-5 { column-count: 5; }
  .masonry-sm-6 { column-count: 6; }
  .masonry-sm-7 { column-count: 7; }

}


@media (min-width: 48rem) { 

  .masonry-md-1 { column-count: 1; }
  .masonry-md-2 { column-count: 2; }
  .masonry-md-3 { column-count: 3; }
  .masonry-md-4 { column-count: 4; }
  .masonry-md-5 { column-count: 5; }
  .masonry-md-6 { column-count: 6; }
  .masonry-md-7 { column-count: 7; }

}



@media (min-width: 64rem) { 

  .masonry-lg-1 { column-count: 1; }
  .masonry-lg-2 { column-count: 2; }
  .masonry-lg-3 { column-count: 3; }
  .masonry-lg-4 { column-count: 4; }
  .masonry-lg-5 { column-count: 5; }
  .masonry-lg-6 { column-count: 6; }
  .masonry-lg-7 { column-count: 7; }

}


@media (min-width: 80rem) { 

  .masonry-xl-1 { column-count: 1; }
  .masonry-xl-2 { column-count: 2; }
  .masonry-xl-3 { column-count: 3; }
  .masonry-xl-4 { column-count: 4; }
  .masonry-xl-5 { column-count: 5; }
  .masonry-xl-6 { column-count: 6; }
  .masonry-xl-7 { column-count: 7; }

}


@media (min-width: 96rem) { 

  .masonry-xxl-1 { column-count: 1; }
  .masonry-xxl-2 { column-count: 2; }
  .masonry-xxl-3 { column-count: 3; }
  .masonry-xxl-4 { column-count: 4; }
  .masonry-xxl-5 { column-count: 5; }
  .masonry-xxl-6 { column-count: 6; }
  .masonry-xxl-7 { column-count: 7; }

}