.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.2360679775rem;
}

.p-2 {
  padding: 0.3819660113rem;
}

.p-3 {
  padding: 0.6180339887rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.618033989rem;
}

.p-6 {
  padding: 2.618033989rem;
}

.p-7 {
  padding: 4.236067977rem;
}