

@import url(fonts.css);
@import url(colors.css);


p {
  font-family: var(--font-family);  
  margin-top: 0.618rem;
  margin-bottom: 0.618rem;
}


abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

del {
  color: var(--red);
}

ins {
  color: var(--green);
  text-decoration: none;
}


kbd {
  font-family: var(--font-family-monospace);
  display: inline-block;
  background-color: light-dark(var(--dark-grey), var(--light-grey));
  color: light-dark(var(--light-grey), var(--dark-grey));
  vertical-align: baseline;
  padding: 0.375rem;
  border-radius: 0.35rem;
  font-weight: bolder;
}

small {
  font-size: 0.8rem;
}

.monospace  {
  font-family: var(--font-family-monospace);
}


.lowercase  {
  text-transform: lowercase;
}


.uppercase  {
  text-transform: uppercase;
}

.capitalize  {
  text-transform: capitalize;
}