@import url(fonts.css);
@import url(../colors/colors.css);

body {
  font-family: var(--font-family);
}


p {
  margin-top: 0.618rem;
  margin-bottom: 0.618rem;
  line-height: var(--spacing-5);
}


.title-font {
  font-family: var(--font-family-headings);
}

abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

b, 
.bold {
  font-weight: bold; 
}

del {
  color: var(--red-500);
}

ins {
  color: light-dark(var(--green-700), var(--green-500));
  text-decoration: none;
}

.handwritten {
  font-family: var(--font-family-handwritten);
  font-weight: 600;
  font-style: normal;  
}

kbd {
  font-family: var(--font-family-monospace);
  display: inline-block;
  background-color: light-dark(var(--black-200), var(--white-200));
  color: light-dark(var(--white-950), var(--black-50));
  vertical-align: baseline;
  padding: var(--spacing-1);
  padding-left: var(--spacing-2);
  padding-right: var(--spacing-2);
  margin-left: var(--spacing-1);
  margin-right: var(--spacing-1);
  padding-bottom: var(--spacing-0);
  border-radius: var(--spacing-1);
  font-size: 0.9rem;
  font-weight: bolder;
}

.small,
small {
  font-size: 0.8rem;
}

.monospace {
  font-family: var(--font-family-monospace);
}


.lowercase {
  text-transform: lowercase;
}


.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}