@import url(fonts.css);
@import url(../colors/colors.css);

body {
  font-family: var(--font-family);
}


p {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-3);
  line-height: var(--spacing-5);
}


.title-font {
  font-family: var(--font-family-headings);
}

abbr {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help;
}

b,
.bold {
  font-weight: bold;
}

.deleted,
del {
  color: var(--red-500);
}

inserted,
ins {
  color: light-dark(var(--green-700), var(--green-500));
  text-decoration: none;
}

.handwritten {
  font-family: var(--font-family-handwritten);
  font-weight: 600;
  font-style: normal;
}

.keyboard,
kbd {
  font-family: var(--font-family-monospace) !important;
  display: inline-block !important;
  background-color: light-dark(var(--black-200), var(--white-200)) !important;
  color: light-dark(var(--white-950), var(--black-50)) !important;
  vertical-align: baseline !important;
  padding: var(--spacing-1) !important;
  padding-left: var(--spacing-2) !important;
  padding-right: var(--spacing-2) !important;
  margin-left: var(--spacing-1) !important;
  margin-right: var(--spacing-1) !important;
  padding-bottom: var(--spacing-0) !important;
  border-radius: var(--spacing-1) !important;
  font-size: 0.9rem !important;
  font-weight: bolder !important;
}

.small,
small {
  font-size: 0.8rem;
}


.subscript,
sub {
  vertical-align: sub!important;
  font-size: smaller!important;
}

.superscript,
sup {
  vertical-align: sup!important;
  font-size: smaller!important;
}

.monospace {
  font-family: var(--font-family-monospace);
}


.lowercase {
  text-transform: lowercase;
}


.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}