.ease-linear { transition-timing-function: linear; }
.ease-in { transition-timing-function: var(--ease-in); /* cubic-bezier(0.4, 0, 1, 1) */ }
.ease-out { transition-timing-function: var(--ease-out); /* cubic-bezier(0, 0, 0.2, 1) */ }
.ease-in-out { transition-timing-function: var(--ease-in-out); /* cubic-bezier(0.4, 0, 0.2, 1) */ }
.ease-initial { transition-timing-function: initial; }


.transition {
  transition-property: all;
  transition-timing-function: ease-in-out;
}


.transition-transform {
  transition-property: transform;
  transition-timing-function: ease-in-out;
}


.transition-rotate {
  transition-property: rotate;
  transition-timing-function: ease-in-out;
}

.animation-duration-150 {
  animation-duration: 150ms !important;
}

.transition-duration-150 {
  animation-duration: 150ms !important;
}

.duration-150 {
  transition-duration: 150ms !important;
  animation-duration: 150ms !important;
}


.animation-duration-200 {
  animation-duration: 200ms !important;
}

.transition-duration-200 {
  transition-duration: 200ms !important;
}

.duration-200 {
  transition-duration: 200ms !important;
  animation-duration: 200ms !important;
}


.animation-duration-250 {
  animation-duration: 250ms !important;
}

.transition-duration-250 {
  transition-duration: 250ms !important;
}

.duration-250 {
  transition-duration: 250ms !important;
  animation-duration: 250ms !important;
}


.animation-duration-300 {
  animation-duration: 300ms !important;
}

.transition-duration-300 {
  transition-duration: 300ms !important;
}

.duration-300 {
  transition-duration: 300ms !important;
  animation-duration: 300ms !important;
}


.animation-duration-500 {
  animation-duration: 500ms !important;
}

.transition-duration-500 {
  transition-duration: 500ms !important;
}

.duration-500 {
  transition-duration: 500ms !important;
  animation-duration: 500ms !important;
}

.animation-duration-300 {
  animation-duration: 300ms !important;
}

.transition-duration-700 {
  transition-duration: 700ms !important;
}

.duration-700 {
  transition-duration: 700ms !important;
  animation-duration: 700ms !important;
}

.animation-duration-1000 {
  animation-duration: 1000ms !important;
}

.transition-duration-1000 {
  transition-duration: 1000ms !important;
}

.duration-1000 {
  transition-duration: 1000ms !important;
  animation-duration: 1000ms !important;
}


.animation-duration-1500 {
  animation-duration: 1500ms !important;
}

.transition-duration-1500 {
  transition-duration: 1500ms !important;
}

.duration-1500 {
  transition-duration: 1500ms !important;
  animation-duration: 1500ms !important;
}


.animation-duration-1700 {
  animation-duration: 1700ms !important;
}

.transition-duration-1700 {
  transition-duration: 1700ms !important;
}

.duration-1700 {
  transition-duration: 1700ms !important;
  animation-duration: 1700ms !important;
}


.animation-duration-2000 {
  animation-duration: 2000ms !important;
}

.transition-duration-2000 {
  transition-duration: 2000ms !important;
}

.duration-2000 {
  transition-duration: 2000ms !important;
  animation-duration: 2000ms !important;
}