label {
  display: inline-block;
}
.form-label {
  margin-bottom: var(--spacing-1);
}

.form-control {
  font-family: var(--font-family);
  display: block;
  width: 100%;
  padding: var(--spacing-2) var(--spacing-3);
  box-sizing: border-box;
  border-radius: var(--spacing-2);
  border: 1px solid light-dark(oklch(var(--grey-300)), oklch(var(--grey-800)));
  background-color: light-dark(oklch(var(--white-400)),oklch(var(--black-300)));
  font-size: 1rem;
  outline: 0;
}

.form-control::placeholder {
  color: light-dark(oklch(var(--grey-700)), oklch(var(--grey-600)));
}

select.form-control {
  padding-right: 1.5rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 0.75rem 0.75rem;
}

.form-control:disabled {
  border-color:  light-dark(oklch(var(--grey-300)), oklch(var(--black-100)));
  cursor: not-allowed;
}

.form-control:disabled::placeholder {
  color: light-dark(oklch(var(--grey-300)), oklch(var(--grey-900)));
}
text-area.form-control  {
  font-family: var(--inter);
}

.form-control.valid {
  border: 1px solid oklch(var(--green-500));
}

.form-control.invalid {
  border: 1px solid oklch(var(--red-500));
}


:not(.input-group) > .form-control:focus,
:not(.input-group) > .form-control:focus-visible {
  border-color: oklch(var(--blue-400));
  box-shadow: 0 0 0 2px oklch(var(--blue-400));
}

:not(.input-group) > .form-control.valid:focus,
:not(.input-group) > .form-control.valid:focus-visible {
  border-color: oklch(var(--green-400));
  box-shadow: 0 0 0 2px oklch(var(--green-400));
}

:not(.input-group) > .form-control.invalid:focus,
:not(.input-group) > .form-control.invalid:focus-visible {
  border-color: oklch(var(--red-400));
  box-shadow: 0 0 0 2px oklch(var(--red-400));
}