.input-group > * {
  border: 0!important;
  border-radius: 0;
  margin: 0;
}

.input-group:not(.rounded-pill) > *:first-child {  
  border-top-left-radius: var(--spacing-2);
  border-bottom-left-radius: var(--spacing-2);
}
.input-group:not(.rounded-pill) > *:last-child {  
  border-top-right-radius: var(--spacing-2);
  border-bottom-right-radius: var(--spacing-2);
}

.input-group.rounded-pill > *:first-child {  
  border-top-left-radius:  50vh !important;
  border-bottom-left-radius:  50vh !important;
}
.input-group.rounded-pill > *:last-child {  
  border-top-right-radius: 50vh !important;
  border-bottom-right-radius:  50vh !important;
}


.input-group {
  display: flex;  
  align-items: stretch;
  justify-content: center;
  background-color: blue;
  border-radius: var(--spacing-2);
  border: 1px solid light-dark(var(--grey-300), var(--grey-800));
  background-color: light-dark(var(--white-200),var(--black-300));
  width: 100%;
}

.input-group > span {
  padding: 0 var(--spacing-3);
  white-space: nowrap;
  align-content: center;
}

.input-group:has(*:focus),
.input-group:has(*:focus-within),
.input-group:has(*:focus-visible) {
  border-color: var(--blue-400);
  box-shadow: 0 0 0 var(--spacing-1) var(--blue-400);
}

.input-group:has(*.valid:focus),
.input-group:has(*.valid:focus-within),
.input-group:has(*.valid:focus-visible) {
  border-color: var(--green-400);
  box-shadow: 0 0 0 var(--spacing-1) var(--green-400);
}

.input-group:has(*.invalid:focus),
.input-group:has(*.invalid:focus-within),
.input-group:has(*.invalid:focus-visible) {
  border-color: var(--red-400);
  box-shadow: 0 0 0 var(--spacing-1) var(--red-400);
}
