.input-group>* {
  border:0;
  border-radius: 0!important;
  margin: 0;
}

.input-group:not(.rounded-pill)>*:first-child {
  border-top-left-radius: var(--spacing-2)!important;
  border-bottom-left-radius: var(--spacing-2)!important;
}

.input-group:not(.rounded-pill)>*:last-child {
  border-top-right-radius: var(--spacing-2)!important;
  border-bottom-right-radius: var(--spacing-2)!important;
}

.input-group.rounded-pill>*:first-child {
  border-top-left-radius: 50vh !important;
  border-bottom-left-radius: 50vh !important;
}

.input-group.rounded-pill>*:last-child {
  border-top-right-radius: 50vh !important;
  border-bottom-right-radius: 50vh !important;
}



.input-group {
  display: flex;
  align-items: stretch;
  justify-content: center;
  background-color: blue;
  border-radius: var(--spacing-2);
  border: 1px solid light-dark(oklch(var(--grey-300)), oklch(var(--grey-800)));
  background-color: light-dark(oklch(var(--white-400)), oklch(var(--black-300)));
  width: 100%;
}

.input-group>*:not(:last-child) {
  border-right: 1px solid light-dark(oklch(var(--grey-300)), oklch(var(--grey-800)));
}

.input-group>span {
  padding: 0 var(--spacing-3);
  white-space: nowrap;
  align-content: center;
}

.input-group:has(*:focus),
.input-group:has(*:focus-within),
.input-group:has(*:focus-visible) {
  border-color: var(--blue-400);
  box-shadow: 0 0 0 var(--spacing-1) oklch(var(--blue-400));
}


.input-group.valid {
  border: 1px solid oklch(var(--green-500));
}

.input-group.invalid {
  border: 1px solid oklch(var(--red-500));
}


.input-group.valid:focus,
.input-group.valid:focus-within,
.input-group.valid:focus-visible {
  border-color: oklch(var(--green-400));
  box-shadow: 0 0 0 var(--spacing-1) oklch(var(--green-400));
}

.input-group.invalid:focus,
.input-group.invalid:focus-within,
.input-group.invalid:focus-visible {
  border-color: oklch(var(--red-400));
  box-shadow: 0 0 0 var(--spacing-1) oklch(var(--red-400));
}