@import url(button.css);
@import url(../gradients/blue-gradient.css);
@import url(../fonts.css);

.btn-blue {
  border: 1px solid var(--blue-lighter-10);
  color: var(--white);
  background-color: var(--blue-lighter-10);
}

.btn-blue.outline {
  color: var(--blue-lighter-10);
}

.btn-blue.outline:hover,
.btn-blue:hover {
  color: #fff;
  border-color: var(--blue-lighter-5);
  background-color: var(--blue-lighter-5);
}

.btn-blue:focus,
.btn-blue:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--blue-lighter-20);
}
