@import url(../layout/spacing.css);

.btn-xs  {
  font-size:0.75rem;
  padding: var(--spacing-1) var(--spacing-2);
}

.btn-sm  {
  font-size:0.875rem;
  padding: var(--spacing-1) var(--spacing-2);
}

.btn-lg  {
  font-size: 1.125rem;
  padding: var(--spacing-3) var(--spacing-4);
}


.btn-xl  {
  font-size: 1.25rem;
  padding: var(--spacing-4) var(--spacing-5);
}