.btn-red,
.btn-orange,
.btn-yellow,
.btn-green,
.btn-blue,
.btn-purple,
.btn-dark-grey,
.btn-light-grey,
.btn-grey,
.btn-negative-grey {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius : var(--spacing-2);
  cursor: pointer;
  outline: 0; 
  transition: background-color,border-color,color,fill,stroke, 0.15s;

}



.btn-red:disabled,
.btn-orange:disabled,
.btn-yellow:disabled,
.btn-green:disabled,
.btn-blue:disabled,
.btn-purple:disabled,
.btn-dark-grey:disabled,
.btn-light-grey:disabled,
.btn-grey:disabled,
.btn-negative-grey:disabled {  
  cursor: auto;
}

.btn-circular {
  aspect-ratio: 1/1;
  border-radius: 100%
}


.btn-square {
  aspect-ratio: 1/1;
}


