@import url(button.css);
@import url(../gradients/dark-grey-gradient.css);
@import url(../fonts.css);

.btn-dark-grey {
  border: 1px solid var(--dark-grey-lighter-5);
  color: var(--white);
  background-color: var(--dark-grey-lighter-5);
}

.btn-dark-grey.outline {
  color: var(--dark-grey-lighter-5);
}

.btn-dark-grey.outline:hover,
.btn-dark-grey:hover {
  color: #fff;
  border-color: var(--dark-grey);
  background-color: var(--dark-grey);
}

.btn-dark-grey:focus,
.btn-dark-grey:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--dark-grey-lighter-20);
}