@import url(../gradients/green-gradient.css);
@import url(../fonts.css);

.btn-green {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.3819660113rem 0.6180339887rem;
  border-radius : 0.309rem;
  border: 1px solid var(--green-lighter-5);
  cursor: pointer;
  color: var(--white);
  background-color: var(--green-lighter-5);
  outline: 0;
}

.btn-green.outline {
  background-color: transparent;
  color: var(--green-lighter-5);
}


.btn-green:hover {
  color: #fff;
  border-color: var(--green);
  background-color: var(--green);
}

.btn-green:focus,
.btn-green:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--green-lighter-20);
}