@import url(button.css);
@import url(../gradients/green-gradient.css);
@import url(../fonts.css);

.btn-green {
  border: 1px solid var(--green-lighter-5);
  color: var(--white);
  background-color: var(--green-lighter-5);
}

.btn-green.outline {
  color: var(--green-lighter-5);
}


.btn-green.outline:hover,
.btn-green:hover {
  color: #fff;
  border-color: var(--green);
  background-color: var(--green);
}

.btn-green:focus,
.btn-green:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--green-lighter-20);
}