@import url(button.css);
@import url(../gradients/negative-grey-gradient.css);
@import url(../fonts.css);

.btn-negative-grey {
  border: 1px solid var(--negative-grey-lighter-5);
  color: var(--white-black);
  background-color: var(--negative-grey-lighter-5);
}

.btn-negative-grey.outline {
  color: var(--negative-grey-lighter-5);
}

.btn-negative-grey.outline:hover,
.btn-negative-grey:hover {
  color: light-dark(#fff, #000);
  border-color: var(--negative-grey);
  background-color: var(--negative-grey);
}

.btn-negative-grey:focus,
.btn-negative-grey:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--negative-grey-lighter-20);
}