@import url(button.css);
@import url(../colors/orange-gradient.css);
@import url(../fonts.css);

.btn-orange {
  border: 1px solid var(--orange-lighter-5);
  color: var(--black);
  background-color: var(--orange-lighter-5);

}


.btn-orange:disabled {
  border-color: var(--orange-disabled);
  background-color: var(--orange-disabled);
  color: var(--black-disabled)
}


.btn-orange.outline {
  background-color: transparent;
  color: var(--orange-lighter-5);
}

.btn-orange.outline:disabled {
  color: var(--orange-disabled);
}


.btn-orange.outline:hover:not(:disabled) ,
.btn-orange:hover:not(:disabled) {
  color: #000;  
  border-color: var(--orange);
  background-color: var(--orange);
}

.btn-orange:focus:not(:disabled),
.btn-orange:focus-visible:not(:disabled) {
  box-shadow: 0 0 0 0.25rem var(--orange-lighter-20);
}