@import url(button.css);
@import url(../gradients/red-gradient.css);
@import url(../fonts.css);

.btn-red {
  font-family: var(--font-family);
  border: 1px solid var(--red-lighter-10);
  color: var(--white);
  background-color: var(--red-lighter-10);
}

.btn-red.outline {
  color: var(--red-lighter-10);
}

.btn-red.outline:hover,
.btn-red:hover {
  color: #fff;
  border-color: var(--red-lighter-5);
  background-color: var(--red-lighter-5);
}

.btn-red:focus,
.btn-red:focus-visible {
  box-shadow: 0 0 0 0.25rem var(--red-lighter-20);
}