@import url(../colors/palette.css);

.border-orange { --border-light:var(--orange-400)!important;--border-dark:var(--orange-400)!important;}
.border-orange-50  { --border-light:var(--orange-50 )!important;--border-dark:var(--orange-50 )!important;}
.border-orange-100 { --border-light:var(--orange-100)!important;--border-dark:var(--orange-100)!important;}
.border-orange-200 { --border-light:var(--orange-200)!important;--border-dark:var(--orange-200)!important;}
.border-orange-300 { --border-light:var(--orange-300)!important;--border-dark:var(--orange-300)!important;}
.border-orange-400 { --border-light:var(--orange-400)!important;--border-dark:var(--orange-400)!important;}
.border-orange-500 { --border-light:var(--orange-500)!important;--border-dark:var(--orange-500)!important;}
.border-orange-600 { --border-light:var(--orange-600)!important;--border-dark:var(--orange-600)!important;}
.border-orange-700 { --border-light:var(--orange-700)!important;--border-dark:var(--orange-700)!important;}
.border-orange-800 { --border-light:var(--orange-800)!important;--border-dark:var(--orange-800)!important;}
.border-orange-900 { --border-light:var(--orange-900)!important;--border-dark:var(--orange-900)!important;}
.border-orange-950 { --border-light:var(--orange-950)!important;--border-dark:var(--orange-950)!important;}

.light\:border-orange  { --border-light:var(--orange-400 )!important; }
.light\:border-orange-50  { --border-light:var(--orange-50 )!important; }
.light\:border-orange-100 { --border-light:var(--orange-100)!important; }
.light\:border-orange-200 { --border-light:var(--orange-200)!important; }
.light\:border-orange-300 { --border-light:var(--orange-300)!important; }
.light\:border-orange-400 { --border-light:var(--orange-400)!important; }
.light\:border-orange-500 { --border-light:var(--orange-500)!important; }
.light\:border-orange-600 { --border-light:var(--orange-600)!important; }
.light\:border-orange-700 { --border-light:var(--orange-700)!important; }
.light\:border-orange-800 { --border-light:var(--orange-800)!important; }
.light\:border-orange-900 { --border-light:var(--orange-900)!important; }
.light\:border-orange-950 { --border-light:var(--orange-950)!important; }

.dark\:border-orange  { --border-dark:var(--orange-400 )!important; }
.dark\:border-orange-50  { --border-dark:var(--orange-50 )!important; }
.dark\:border-orange-100 { --border-dark:var(--orange-100)!important; }
.dark\:border-orange-200 { --border-dark:var(--orange-200)!important; }
.dark\:border-orange-300 { --border-dark:var(--orange-300)!important; }
.dark\:border-orange-400 { --border-dark:var(--orange-400)!important; }
.dark\:border-orange-500 { --border-dark:var(--orange-500)!important; }
.dark\:border-orange-600 { --border-dark:var(--orange-600)!important; }
.dark\:border-orange-700 { --border-dark:var(--orange-700)!important; }
.dark\:border-orange-800 { --border-dark:var(--orange-800)!important; }
.dark\:border-orange-900 { --border-dark:var(--orange-900)!important; }
.dark\:border-orange-950 { --border-dark:var(--orange-950)!important; }



.hover\:border-orange:hover { --border-light:var(--orange-400)!important;--border-dark:var(--orange-400)!important;}
.hover\:border-orange-50:hover  { --border-light:var(--orange-50 )!important;--border-dark:var(--orange-50 )!important;}
.hover\:border-orange-100:hover { --border-light:var(--orange-100)!important;--border-dark:var(--orange-100)!important;}
.hover\:border-orange-200:hover { --border-light:var(--orange-200)!important;--border-dark:var(--orange-200)!important;}
.hover\:border-orange-300:hover { --border-light:var(--orange-300)!important;--border-dark:var(--orange-300)!important;}
.hover\:border-orange-400:hover { --border-light:var(--orange-400)!important;--border-dark:var(--orange-400)!important;}
.hover\:border-orange-500:hover { --border-light:var(--orange-500)!important;--border-dark:var(--orange-500)!important;}
.hover\:border-orange-600:hover { --border-light:var(--orange-600)!important;--border-dark:var(--orange-600)!important;}
.hover\:border-orange-700:hover { --border-light:var(--orange-700)!important;--border-dark:var(--orange-700)!important;}
.hover\:border-orange-800:hover { --border-light:var(--orange-800)!important;--border-dark:var(--orange-800)!important;}
.hover\:border-orange-900:hover { --border-light:var(--orange-900)!important;--border-dark:var(--orange-900)!important;}
.hover\:border-orange-950:hover { --border-light:var(--orange-950)!important;--border-dark:var(--orange-950)!important;}

.light\:hover\:border-orange:hover  { --border-light:var(--orange-400 )!important; }
.light\:hover\:border-orange-50:hover  { --border-light:var(--orange-50 )!important; }
.light\:hover\:border-orange-100:hover { --border-light:var(--orange-100)!important; }
.light\:hover\:border-orange-200:hover { --border-light:var(--orange-200)!important; }
.light\:hover\:border-orange-300:hover { --border-light:var(--orange-300)!important; }
.light\:hover\:border-orange-400:hover { --border-light:var(--orange-400)!important; }
.light\:hover\:border-orange-500:hover { --border-light:var(--orange-500)!important; }
.light\:hover\:border-orange-600:hover { --border-light:var(--orange-600)!important; }
.light\:hover\:border-orange-700:hover { --border-light:var(--orange-700)!important; }
.light\:hover\:border-orange-800:hover { --border-light:var(--orange-800)!important; }
.light\:hover\:border-orange-900:hover { --border-light:var(--orange-900)!important; }
.light\:hover\:border-orange-950:hover { --border-light:var(--orange-950)!important; }

.dark\:hover\:border-orange:hover  { --border-dark:var(--orange-400 )!important; }
.dark\:hover\:border-orange-50:hover  { --border-dark:var(--orange-50 )!important; }
.dark\:hover\:border-orange-100:hover { --border-dark:var(--orange-100)!important; }
.dark\:hover\:border-orange-200:hover { --border-dark:var(--orange-200)!important; }
.dark\:hover\:border-orange-300:hover { --border-dark:var(--orange-300)!important; }
.dark\:hover\:border-orange-400:hover { --border-dark:var(--orange-400)!important; }
.dark\:hover\:border-orange-500:hover { --border-dark:var(--orange-500)!important; }
.dark\:hover\:border-orange-600:hover { --border-dark:var(--orange-600)!important; }
.dark\:hover\:border-orange-700:hover { --border-dark:var(--orange-700)!important; }
.dark\:hover\:border-orange-800:hover { --border-dark:var(--orange-800)!important; }
.dark\:hover\:border-orange-900:hover { --border-dark:var(--orange-900)!important; }
.dark\:hover\:border-orange-950:hover { --border-dark:var(--orange-950)!important; }