.border-top,
.border-right,
.border-bottom,
.border-left {
  --border-top-width: 0px!important;
  --border-right-width: 0px!important;
  --border-bottom-width: 0px!important;
  --border-left-width: 0px!important;
}

.border-top {
  --border-top-width: var(--border-width)!important;
}

.border-right {
  --border-right-width: var(--border-width)!important;
}


.border-bottom {
  --border-bottom-width: var(--border-width)!important;
}

.border-left {
  --border-left-width: var(--border-width)!important;
}

.border-top>*,
.border-right>*,
.border-bottom>*,
.border-left>* {
  --border-top-width: initial;
  --border-right-width: initial;
  --border-bottom-width: initial;
  --border-left-width: initial;
}
