@import url(../colors/palette.css);

.border-cyan { --border-light:var(--cyan-400)!important;--border-dark:var(--cyan-400)!important;}
.border-cyan-50  { --border-light:var(--cyan-50 )!important;--border-dark:var(--cyan-50 )!important;}
.border-cyan-100 { --border-light:var(--cyan-100)!important;--border-dark:var(--cyan-100)!important;}
.border-cyan-200 { --border-light:var(--cyan-200)!important;--border-dark:var(--cyan-200)!important;}
.border-cyan-300 { --border-light:var(--cyan-300)!important;--border-dark:var(--cyan-300)!important;}
.border-cyan-400 { --border-light:var(--cyan-400)!important;--border-dark:var(--cyan-400)!important;}
.border-cyan-500 { --border-light:var(--cyan-500)!important;--border-dark:var(--cyan-500)!important;}
.border-cyan-600 { --border-light:var(--cyan-600)!important;--border-dark:var(--cyan-600)!important;}
.border-cyan-700 { --border-light:var(--cyan-700)!important;--border-dark:var(--cyan-700)!important;}
.border-cyan-800 { --border-light:var(--cyan-800)!important;--border-dark:var(--cyan-800)!important;}
.border-cyan-900 { --border-light:var(--cyan-900)!important;--border-dark:var(--cyan-900)!important;}
.border-cyan-950 { --border-light:var(--cyan-950)!important;--border-dark:var(--cyan-950)!important;}

.light\:border-cyan { --border-light:var(--cyan-400 )!important; }
.light\:border-cyan-50  { --border-light:var(--cyan-50 )!important; }
.light\:border-cyan-100 { --border-light:var(--cyan-100)!important; }
.light\:border-cyan-200 { --border-light:var(--cyan-200)!important; }
.light\:border-cyan-300 { --border-light:var(--cyan-300)!important; }
.light\:border-cyan-400 { --border-light:var(--cyan-400)!important; }
.light\:border-cyan-500 { --border-light:var(--cyan-500)!important; }
.light\:border-cyan-600 { --border-light:var(--cyan-600)!important; }
.light\:border-cyan-700 { --border-light:var(--cyan-700)!important; }
.light\:border-cyan-800 { --border-light:var(--cyan-800)!important; }
.light\:border-cyan-900 { --border-light:var(--cyan-900)!important; }
.light\:border-cyan-950 { --border-light:var(--cyan-950)!important; }

.dark\:border-cyan  { --border-dark:var(--cyan-400 )!important; }
.dark\:border-cyan-50  { --border-dark:var(--cyan-50 )!important; }
.dark\:border-cyan-100 { --border-dark:var(--cyan-100)!important; }
.dark\:border-cyan-200 { --border-dark:var(--cyan-200)!important; }
.dark\:border-cyan-300 { --border-dark:var(--cyan-300)!important; }
.dark\:border-cyan-400 { --border-dark:var(--cyan-400)!important; }
.dark\:border-cyan-500 { --border-dark:var(--cyan-500)!important; }
.dark\:border-cyan-600 { --border-dark:var(--cyan-600)!important; }
.dark\:border-cyan-700 { --border-dark:var(--cyan-700)!important; }
.dark\:border-cyan-800 { --border-dark:var(--cyan-800)!important; }
.dark\:border-cyan-900 { --border-dark:var(--cyan-900)!important; }
.dark\:border-cyan-950 { --border-dark:var(--cyan-950)!important; }