@import url(../colors/palette.css);
@import url(../layout/spacing.css);

@import url(border-yellow.css);
@import url(border-orange.css);
@import url(border-red.css);
@import url(border-pink.css);
@import url(border-purple.css);
@import url(border-blue.css);
@import url(border-cyan.css);
@import url(border-green.css);
@import url(border-white.css);
@import url(border-grey.css);
@import url(border-black.css);
@import url(border-style.css);
@import url(border-width.css);
@import url(rounded.css);



:root {
  --border-radius: var(--spacing-4);
  --border-light: var(--white-400);
  --border-dark:var(--black-400);
}


[class*="dark\:border-yellow"],
[class*="dark\:border-orange"],
[class*="dark\:border-red"],
[class*="dark\:border-pink"],
[class*="dark\:border-purple"],
[class*="dark\:border-blue"],
[class*="dark\:border-cyan"],
[class*="dark\:border-green"],
[class*="dark\:border-white"],
[class*="dark\:border-grey"],
[class*="dark\:border-black"],

[class*="light\:border-yellow"],
[class*="light\:border-orange"],
[class*="light\:border-red"],
[class*="light\:border-pink"],
[class*="light\:border-purple"],
[class*="light\:border-blue"],
[class*="light\:border-cyan"],
[class*="light\:border-green"],
[class*="light\:border-white"],
[class*="light\:border-grey"],
[class*="light\:border-black"],

[class*="border-yellow"],
[class*="border-orange"],
[class*="border-red"],
[class*="border-pink"],
[class*="border-purple"],
[class*="border-blue"],
[class*="border-cyan"],
[class*="border-green"],
[class*="border-white"],
[class*="border-grey"],
[class*="border-black"],

[class*="dark\:hover\:border-yellow"],
[class*="dark\:hover\:border-orange"],
[class*="dark\:hover\:border-red"],
[class*="dark\:hover\:border-pink"],
[class*="dark\:hover\:border-purple"],
[class*="dark\:hover\:border-blue"],
[class*="dark\:hover\:border-cyan"],
[class*="dark\:hover\:border-green"],
[class*="dark\:hover\:border-white"],
[class*="dark\:hover\:border-grey"],
[class*="dark\:hover\:border-black"],

[class*="light\:hover:\border-yellow"],
[class*="light\:hover:\border-orange"],
[class*="light\:hover:\border-red"],
[class*="light\:hover:\border-pink"],
[class*="light\:hover:\border-purple"],
[class*="light\:hover:\border-blue"],
[class*="light\:hover:\border-cyan"],
[class*="light\:hover:\border-green"],
[class*="light\:hover:\border-white"],
[class*="light\:hover:\border-grey"],
[class*="light\:hover:\border-black"],

[class*="hover:\border-yellow"],
[class*="hover:\border-orange"],
[class*="hover:\border-red"],
[class*="hover:\border-pink"],
[class*="hover:\border-purple"],
[class*="hover:\border-blue"],
[class*="hover:\border-cyan"],
[class*="hover:\border-green"],
[class*="hover:\border-white"],
[class*="hover:\border-grey"],
[class*="hover:\border-black"] {
  border-style: var(--border-style, solid);
  border-color: light-dark(oklch(var(--border-light, 0 0 0 / 0)), oklch(var(--border-dark, 0 0 0 / 0)));
}
