@import url(../colors/palette.css);
@import url(../layout/spacing.css);

@import url(border-yellow.css);
@import url(border-orange.css);
@import url(border-red.css);
@import url(border-pink.css);
@import url(border-purple.css);
@import url(border-blue.css);
@import url(border-cyan.css);
@import url(border-green.css);
@import url(border-white.css);
@import url(border-grey.css);
@import url(border-black.css);
@import url(border-additive.css);


:root {
  --border-radius: var(--spacing-4);
}

.dark\:border-yellow,
.dark\:border-orange,
.dark\:border-red,
.dark\:border-pink,
.dark\:border-purple,
.dark\:border-blue,
.dark\:border-cyan,
.dark\:border-green,
.dark\:border-white,
.dark\:border-grey,
.dark\:border-black,
.light\:border-yellow,
.light\:border-orange,
.light\:border-red,
.light\:border-pink,
.light\:border-purple,
.light\:border-blue,
.light\:border-cyan,
.light\:border-green,
.light\:border-white,
.light\:border-grey,
.light\:border-black,
.border-yellow,
.border-orange,
.border-red,
.border-pink,
.border-purple,
.border-blue,
.border-cyan,
.border-green,
.border-white,
.border-grey,
.border-black {
  border-top-width: var(var(--border-top-width, --border-width), 1px);
  border-right-width: var(var(--border-right-width, --border-width), 1px);
  border-bottom-width: var(var(--border-bottom-width, --border-width), 1px);
  border-left-width: var(var(--border-left-width, --border-width), 1px);
  border-style: var(--border-style, solid);
  border-color: light-dark(var(--border-light, transparent), var(--border-dark, transparent));  
}






.rounded-0 {
  border-radius: 0 !important;
}

.rounded,
.rounded-1 {
  border-radius: var(--spacing-1) !important;
}

.rounded-2 {
  border-radius: var(--spacing-2) !important;
}

.rounded-3 {
  border-radius: var(--spacing-3) !important;
}

.rounded-4 {
  border-radius: var(--spacing-4) !important;
}

.rounded-5 {
  border-radius: var(--spacing-5) !important;
}

.rounded-6 {
  border-radius: var(--spacing-6) !important;
}

.rounded-7 {
  border-radius: var(--spacing-7) !important;
}


.rounded-pill {
  border-radius: 50vh!important;
}








.border-0 {
  --border-width: 0;
}

.border-1 {
  --border-width: 1px; 
}

.border-2 {
  --border-width: 2px;
}

.border-3 {
  --border-width: 3px;
}

.border-4 {
  --border-width: 4px;
}

.border-5 {
  --border-width: 5px;
}

