.border-top,
.border-right,
.border-bottom,
.border-left {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.border-top {
  border-top-width: var(--border-width);
  /* border-top-color: light-dark(var(--border-light, transparent), var(--border-dark, transparent)); */
}


.border-right {
  border-right-width: var(--border-width);
  border-right-color: light-dark(var(--border-light, transparent), var(--border-dark, transparent));
}


.border-bottom {
  border-bottom-width: var(--border-width);
  border-bottom-color: light-dark(var(--border-light, transparent), var(--border-dark, transparent));
}

.border-left {
  border-left-width: var(--border-width);
  border-left-color: light-dark(var(--border-light, transparent), var(--border-dark, transparent));
}