@import url(../colors/palette.css);

.border-black { --border-light:var(--black-400)!important;--border-dark:var(--black-400)!important;}
.border-black-50  { --border-light:var(--black-50 )!important;--border-dark:var(--black-50 )!important;}
.border-black-100 { --border-light:var(--black-100)!important;--border-dark:var(--black-100)!important;}
.border-black-200 { --border-light:var(--black-200)!important;--border-dark:var(--black-200)!important;}
.border-black-300 { --border-light:var(--black-300)!important;--border-dark:var(--black-300)!important;}
.border-black-400 { --border-light:var(--black-400)!important;--border-dark:var(--black-400)!important;}
.border-black-500 { --border-light:var(--black-500)!important;--border-dark:var(--black-500)!important;}
.border-black-600 { --border-light:var(--black-600)!important;--border-dark:var(--black-600)!important;}
.border-black-700 { --border-light:var(--black-700)!important;--border-dark:var(--black-700)!important;}
.border-black-800 { --border-light:var(--black-800)!important;--border-dark:var(--black-800)!important;}
.border-black-900 { --border-light:var(--black-900)!important;--border-dark:var(--black-900)!important;}
.border-black-950 { --border-light:var(--black-950)!important;--border-dark:var(--black-950)!important;}

.light\:border-black { --border-light:var(--black-400 )!important; }
.light\:border-black-50  { --border-light:var(--black-50 )!important; }
.light\:border-black-100 { --border-light:var(--black-100)!important; }
.light\:border-black-200 { --border-light:var(--black-200)!important; }
.light\:border-black-300 { --border-light:var(--black-300)!important; }
.light\:border-black-400 { --border-light:var(--black-400)!important; }
.light\:border-black-500 { --border-light:var(--black-500)!important; }
.light\:border-black-600 { --border-light:var(--black-600)!important; }
.light\:border-black-700 { --border-light:var(--black-700)!important; }
.light\:border-black-800 { --border-light:var(--black-800)!important; }
.light\:border-black-900 { --border-light:var(--black-900)!important; }
.light\:border-black-950 { --border-light:var(--black-950)!important; }

.dark\:border-black  { --border-dark:var(--black-400 )!important; }
.dark\:border-black-50  { --border-dark:var(--black-50 )!important; }
.dark\:border-black-100 { --border-dark:var(--black-100)!important; }
.dark\:border-black-200 { --border-dark:var(--black-200)!important; }
.dark\:border-black-300 { --border-dark:var(--black-300)!important; }
.dark\:border-black-400 { --border-dark:var(--black-400)!important; }
.dark\:border-black-500 { --border-dark:var(--black-500)!important; }
.dark\:border-black-600 { --border-dark:var(--black-600)!important; }
.dark\:border-black-700 { --border-dark:var(--black-700)!important; }
.dark\:border-black-800 { --border-dark:var(--black-800)!important; }
.dark\:border-black-900 { --border-dark:var(--black-900)!important; }
.dark\:border-black-950 { --border-dark:var(--black-950)!important; }