<p>Use background opacity utility classes to control the transparency
level of background colors. These utilities can be used in conjunction
with background color <code>bg-[color]</code> definitions.</p>
<h3 id="doc-syntax">Syntax</h3>
<pre class="html"><code>.bg-opacity-[value]</code></pre>
<h3 id="doc-available-values">Available Values</h3>
<table>
<colgroup>
<col style="width: 40%" />
<col style="width: 26%" />
<col style="width: 33%" />
</colgroup>
<thead>
<tr class="header">
<th>Class</th>
<th>Opacity</th>
<th>Example</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>bg-opacity-0</code></td>
<td>0</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-0">0%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-5</code></td>
<td>0.05</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-5">5%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-10</code></td>
<td>0.1</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-10">10%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-15</code></td>
<td>0.15</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-15">15%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-20</code></td>
<td>0.2</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-20">20%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-25</code></td>
<td>0.25</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-25">25%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-30</code></td>
<td>0.3</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-30">30%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-35</code></td>
<td>0.35</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-35">35%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-40</code></td>
<td>0.4</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-40">40%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-45</code></td>
<td>0.45</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-45">45%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-50</code></td>
<td>0.5</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-50">50%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-55</code></td>
<td>0.55</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-55">55%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-60</code></td>
<td>0.6</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-60">60%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-65</code></td>
<td>0.65</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-65">65%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-70</code></td>
<td>0.7</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-70">70%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-75</code></td>
<td>0.75</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-75">75%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-80</code></td>
<td>0.8</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-80">80%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-85</code></td>
<td>0.85</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-85">85%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-90</code></td>
<td>0.9</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-90">90%</span></td>
</tr>
<tr class="even">
<td><code>bg-opacity-95</code></td>
<td>0.95</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-95">95%</span></td>
</tr>
<tr class="odd">
<td><code>bg-opacity-100</code></td>
<td>1</td>
<td><span
class="w-128px d-block text-center monospace rounded bg-red bg-opacity-100">100%</span></td>
</tr>
</tbody>
</table>
<h3 id="doc-examples">Examples</h3>
<div class="bg-blue bg-opacity-0 p-4 mb-2 mt-4 border rounded-3">
<p>Fully Transparent (bg-opacity-0)</p>
</div>
<pre class="html"><code>&lt;div class=&quot;bg-blue bg-opacity-0&quot;&gt;
  Fully Transparent (bg-opacity-0)
&lt;/div&gt;</code></pre>
<div class="bg-blue bg-opacity-50 p-4 mb-2 border rounded-3">
<p>Semi-Transparent (bg-opacity-50)</p>
</div>
<pre class="html"><code>&lt;div class=&quot;bg-blue bg-opacity-50&quot;&gt;
  Semi-Transparent (bg-opacity-50)
&lt;/div&gt;
</code></pre>
<div class="bg-blue bg-opacity-100 p-4 mb-2 border rounded-3">
<p>Fully Opaque (bg-opacity-100)</p>
</div>
<pre class="html"><code>&lt;div class=&quot;bg-blue bg-opacity-100&quot;&gt;
  Fully Opaque (bg-opacity-100)
&lt;/div&gt;</code></pre>
