<p>Use blockquote elements to display quoted or cited text with optional
source attribution.</p>
<h3 id="basic-blockquote">Basic Blockquote</h3>
<p>Create a quoting block using the <code>&lt;blockquote&gt;</code> tag
or the <code>.blockquote</code> utilty class :</p>
<h4 id="code">Code</h4>
<pre class="html"><code>&lt;blockquote&gt;
  &lt;p&gt;This is a citation example.&lt;/p&gt;
&lt;/blockquote&gt;</code></pre>
<h4 id="output">Output</h4>
<blockquote>
<p>
This is a citation example.
</p>
</blockquote>
<h3 id="naming-a-source">Naming a Source</h3>
<p>To cite the source of a quote, use the <code>&lt;footer&gt;</code>
tag or apply the <code>.footer</code> utility class:</p>
<h4 id="html">HTML</h4>
<pre class="html"><code>&lt;blockquote&gt;
  &lt;p&gt;This is a citation example with source&lt;/p&gt;
  &lt;footer&gt;— The person who say that&lt;/footer&gt;
&lt;/blockquote&gt;</code></pre>
<h4 id="output-1">Output</h4>
<blockquote>
<p>
This is a citation example with source
</p>
<footer>
— The person who say that
</footer>
</blockquote>
