<p>These classes allow you to <strong>individually control the border
width</strong> on each side of an element (top, right, bottom, left), as
well as horizontal (<code>x</code>) and vertical (<code>y</code>) axes.
Useful for selectively applying border thickness while maintaining full
design flexibility.</p>
<h3 id="doc-syntax">Syntax</h3>
<pre class="html"><code>&lt;div class=&quot;border-top-3&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;border-left&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;border-x-0&quot;&gt;...&lt;/div&gt;</code></pre>
<h3 id="doc-available-values">Available Values</h3>
<ul>
<li><code>0</code> — Removes the border</li>
<li><code>1</code> (or none) — 1px border</li>
<li><code>2</code> to <code>5</code> — Pixel-based border thickness</li>
</ul>
<p><code>.border-[side]</code> is a shorthand for
<code>.border-[side]-1</code>.</p>
<h3 id="doc-example">Example</h3>
<div
class="w-fit mt-4 px-4 py-2 stripes-black border-top-3 border-solid">
Top border 3px
</div>
<pre class="html"><code>&lt;!-- Only top border --&gt;
&lt;div class=&quot;border-top-3 border-solid&quot;&gt;Top border 3px&lt;/div&gt;</code></pre>
<div
class="w-fit mt-3 px-4 py-2 stripes-black border-x-2 border-dashed">
X-axis border
</div>
<pre class="html"><code>&lt;!-- Horizontal borders (left &amp; right) --&gt;
&lt;div class=&quot;border-x-2 border-dashed&quot;&gt;X-axis border&lt;/div&gt;</code></pre>
<div
class="w-fit mt-3 px-4 py-2 stripes-black border-top-1 border-right-1">
Top and right border
</div>
<pre class="html"><code>&lt;!-- Top and right border --&gt;
&lt;div class=&quot;border-top-1 border-right-1&quot;&gt;All borders except bottom&lt;/div&gt;</code></pre>
<div class="w-fit mt-3 px-4 py-2 stripes-black border border-bottom-0">
All borders except bottom
</div>
<pre class="html"><code>&lt;!-- No bottom border --&gt;
&lt;div class=&quot;border border-bottom-0&quot;&gt;All borders except bottom&lt;/div&gt;</code></pre>
<h3 id="doc-class-reference">Class Reference</h3>
<h4 id="doc-top-border">Top Border</h4>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-top-0</code></td>
<td>No top border</td>
</tr>
<tr class="even">
<td><code>.border-top</code></td>
<td>1px solid top border</td>
</tr>
<tr class="odd">
<td><code>.border-top-2</code></td>
<td>2px solid top border</td>
</tr>
<tr class="even">
<td><code>.border-top-3</code></td>
<td>3px solid top border</td>
</tr>
<tr class="odd">
<td><code>.border-top-4</code></td>
<td>4px solid top border</td>
</tr>
<tr class="even">
<td><code>.border-top-5</code></td>
<td>5px solid top border</td>
</tr>
</tbody>
</table>
<h4 id="doc-right-border">Right Border</h4>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-right-0</code></td>
<td>No right border</td>
</tr>
<tr class="even">
<td><code>.border-right</code></td>
<td>1px solid right border</td>
</tr>
<tr class="odd">
<td><code>.border-right-2</code></td>
<td>2px solid right border</td>
</tr>
<tr class="even">
<td><code>.border-right-3</code></td>
<td>3px solid right border</td>
</tr>
<tr class="odd">
<td><code>.border-right-4</code></td>
<td>4px solid right border</td>
</tr>
<tr class="even">
<td><code>.border-right-5</code></td>
<td>5px solid right border</td>
</tr>
</tbody>
</table>
<h4 id="doc-bottom-border">Bottom Border</h4>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-bottom-0</code></td>
<td>No bottom border</td>
</tr>
<tr class="even">
<td><code>.border-bottom</code></td>
<td>1px solid bottom border</td>
</tr>
<tr class="odd">
<td><code>.border-bottom-2</code></td>
<td>2px solid bottom border</td>
</tr>
<tr class="even">
<td><code>.border-bottom-3</code></td>
<td>3px solid bottom border</td>
</tr>
<tr class="odd">
<td><code>.border-bottom-4</code></td>
<td>4px solid bottom border</td>
</tr>
<tr class="even">
<td><code>.border-bottom-5</code></td>
<td>5px solid bottom border</td>
</tr>
</tbody>
</table>
<h4 id="doc-left-border">Left Border</h4>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-left-0</code></td>
<td>No left border</td>
</tr>
<tr class="even">
<td><code>.border-left</code></td>
<td>1px solid left border</td>
</tr>
<tr class="odd">
<td><code>.border-left-2</code></td>
<td>2px solid left border</td>
</tr>
<tr class="even">
<td><code>.border-left-3</code></td>
<td>3px solid left border</td>
</tr>
<tr class="odd">
<td><code>.border-left-4</code></td>
<td>4px solid left border</td>
</tr>
<tr class="even">
<td><code>.border-left-5</code></td>
<td>5px solid left border</td>
</tr>
</tbody>
</table>
<h4 id="doc-horizontal-borders-x-axis">Horizontal Borders (X-Axis)</h4>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-x-0</code></td>
<td>No horizontal borders (left &amp; right)</td>
</tr>
<tr class="even">
<td><code>.border-x</code></td>
<td>1px solid on left and right sides</td>
</tr>
<tr class="odd">
<td><code>.border-x-2</code></td>
<td>2px solid horizontal borders</td>
</tr>
<tr class="even">
<td><code>.border-x-3</code></td>
<td>3px solid horizontal borders</td>
</tr>
<tr class="odd">
<td><code>.border-x-4</code></td>
<td>4px solid horizontal borders</td>
</tr>
<tr class="even">
<td><code>.border-x-5</code></td>
<td>5px solid horizontal borders</td>
</tr>
</tbody>
</table>
<h4 id="doc-vertical-borders-y-axis">Vertical Borders (Y-Axis)</h4>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-y-0</code></td>
<td>No vertical borders (top &amp; bottom)</td>
</tr>
<tr class="even">
<td><code>.border-y</code></td>
<td>1px solid on top and bottom sides</td>
</tr>
<tr class="odd">
<td><code>.border-y-2</code></td>
<td>2px solid vertical borders</td>
</tr>
<tr class="even">
<td><code>.border-y-3</code></td>
<td>3px solid vertical borders</td>
</tr>
<tr class="odd">
<td><code>.border-y-4</code></td>
<td>4px solid vertical borders</td>
</tr>
<tr class="even">
<td><code>.border-y-5</code></td>
<td>5px solid vertical borders</td>
</tr>
</tbody>
</table>
