<p>Use the <code>.border-*</code> utility classes to control the
<strong>border width</strong> of elements. These classes provide
consistent spacing and visual weight, ranging from no border to thick
borders.</p>
<h3 id="doc-class-reference">Class Reference</h3>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>CSS Output</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>border-0</code></td>
<td><code>border-width: 0</code></td>
<td>No border</td>
</tr>
<tr class="even">
<td><code>border</code></td>
<td><code>border-width: 1px</code></td>
<td>Default 1px border</td>
</tr>
<tr class="odd">
<td><code>border-1</code></td>
<td><code>border-width: 1px</code></td>
<td>Same as <code>.border</code></td>
</tr>
<tr class="even">
<td><code>border-2</code></td>
<td><code>border-width: 2px</code></td>
<td>Medium thickness</td>
</tr>
<tr class="odd">
<td><code>border-3</code></td>
<td><code>border-width: 3px</code></td>
<td>Thick border</td>
</tr>
<tr class="even">
<td><code>border-4</code></td>
<td><code>border-width: 4px</code></td>
<td>Extra thick</td>
</tr>
<tr class="odd">
<td><code>border-5</code></td>
<td><code>border-width: 5px</code></td>
<td>Maximum thickness</td>
</tr>
</tbody>
</table>
<p>All classes include <code>!important</code> to ensure override
priority.</p>
<h3 id="doc-examples">Examples</h3>
<div class="border-0 w-fit mt-3 px-4 py-2 stripes-black">
No border
</div>
<pre class="html"><code>&lt;!-- No border --&gt;
&lt;div class=&quot;border-0&quot;&gt;No border&lt;/div&gt;</code></pre>
<div class="border w-fit px-4 py-2 rounded-3 stripes-black">
1 pixel border
</div>
<pre class="html"><code>&lt;!-- Default border --&gt;
&lt;div class=&quot;border&quot;&gt;1px border&lt;/div&gt;</code></pre>
<div class="border-4 w-fit px-4 py-2 rounded-3 stripes-black">
Thick border (4 pixels)
</div>
<pre class="html"><code>&lt;!-- Thick border --&gt;
&lt;div class=&quot;border-4&quot;&gt;Thick border&lt;/div&gt;</code></pre>
<h3 id="doc-basic-syntax">Basic Syntax</h3>
<pre class="html"><code>&lt;div class=&quot;border-{n}&quot;&gt;...&lt;/div&gt;</code></pre>
<ul>
<li><code>{n}</code> ranges from <code>0</code> to <code>5</code></li>
<li><code>border</code> is equivalent to <code>border-1</code></li>
</ul>
<h3 id="doc-notes">Notes</h3>
<ul>
<li>These utilities apply to <strong>all sides</strong> of the
element.</li>
<li>You can combine with <code>border-color</code> and
<code>border-style</code> utilities for full customization.</li>
</ul>
