<p>Use <code>.border-*</code> style classes to control the <strong>style
of the border lines</strong>, such as solid, dashed, dotted, or
double.</p>
<h3 id="class-reference">Class Reference</h3>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>CSS Output</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.border-solid</code></td>
<td><code>border-style: solid</code></td>
<td>A solid, continuous line</td>
</tr>
<tr class="even">
<td><code>.border-dashed</code></td>
<td><code>border-style: dashed</code></td>
<td>A series of dashes</td>
</tr>
<tr class="odd">
<td><code>.border-dotted</code></td>
<td><code>border-style: dotted</code></td>
<td>A series of dots</td>
</tr>
<tr class="even">
<td><code>.border-double</code></td>
<td><code>border-style: double</code></td>
<td>Two solid lines (double)</td>
</tr>
</tbody>
</table>
<h4 id="examples">Examples</h4>
<div class="w-fit mt-3 px-4 py-2 border-3 rounded border-solid">
Solid Border
</div>
<pre class="html"><code>&lt;div class=&quot;border border-solid&quot;&gt;Solid Border&lt;/div&gt;</code></pre>
<div class="w-fit mt-3 px-4 py-2 border-3 rounded border-dashed">
Dashed Border
</div>
<pre class="html"><code>&lt;div class=&quot;border-2 border-dashed&quot;&gt;Dashed Border&lt;/div&gt;</code></pre>
<div class="w-fit mt-3 px-4 py-2 border-3 rounded border-dotted">
Dotted Border
</div>
<pre class="html"><code>&lt;div class=&quot;border-1 border-dotted&quot;&gt;Dotted Border&lt;/div&gt;</code></pre>
<div class="w-fit mt-3 px-4 py-2 border-3 rounded border-double">
Double Border
</div>
<pre class="html"><code>&lt;div class=&quot;border-3 border-double&quot;&gt;Double Border&lt;/div&gt;</code></pre>
<hr />
<h3 id="notes">Notes</h3>
<ul>
<li><p>These classes only define the <strong>style</strong>, not the
width or color. Use them with:</p>
<ul>
<li><code>.border</code>, <code>.border-2</code>, etc. for
<strong>width</strong></li>
<li><code>.border-red</code>, <code>.light:border-grey-100</code>, etc.
for <strong>color</strong></li>
</ul></li>
</ul>
