<button class="btn-blue mt-4">
Normal
</button>
<button class="btn-blue mt-4 active">
Active
</button>
<button class="btn-blue mt-4" disabled>
Disabled
</button>
<p>–</p>
<p>The <code>.active</code> class visually indicates that the button is
currently selected, pressed, or toggled. It is useful for:</p>
<ul>
<li>Toggle buttons (on/off states)</li>
<li>Multi-button selections</li>
<li>Navigation highlights</li>
</ul>
<p>Note: Make sure the button is <strong>not disabled</strong>, as
<code>:disabled</code> takes precedence over <code>.active</code>.</p>
<h3 id="example">Example</h3>
<button class="btn btn-blue active mt-4">
Active
</button>
<pre class="html"><code>&lt;button class=&quot;btn btn-blue active&quot;&gt;Active&lt;/button&gt;</code></pre>
<h3 id="active-button-color-list">Active Button Color list</h3>
<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th>Color</th>
<th>CSS Class</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Yellow</strong></td>
<td><button class="px-3 w-100 btn-yellow active">Yellow
button</button></td>
</tr>
<tr class="even">
<td><strong>Orange</strong></td>
<td><button class="px-3 w-100 btn-orange active">Orange
button</button></td>
</tr>
<tr class="odd">
<td><strong>Red</strong></td>
<td><button class="px-3 w-100 btn-red active">Red button</button></td>
</tr>
<tr class="even">
<td><strong>Pink</strong></td>
<td><button class="px-3 w-100 btn-pink active">Pink button</button></td>
</tr>
<tr class="odd">
<td><strong>Purple</strong></td>
<td><button class="px-3 w-100 btn-purple active">Purple
button</button></td>
</tr>
<tr class="even">
<td><strong>Blue</strong></td>
<td><button class="px-3 w-100 btn-blue active">Blue button</button></td>
</tr>
<tr class="odd">
<td><strong>Cyan</strong></td>
<td><button class="px-3 w-100 btn-cyan active">Cyan button</button></td>
</tr>
<tr class="even">
<td><strong>Green</strong></td>
<td><button class="px-3 w-100 btn-green active">Green
button</button></td>
</tr>
<tr class="odd">
<td><strong>White</strong></td>
<td><button class="px-3 w-100 btn-white active">White
button</button></td>
</tr>
<tr class="even">
<td><strong>Black</strong></td>
<td><button class="px-3 w-100 btn-black active">Black
button</button></td>
</tr>
</tbody>
</table>
