<button class="btn-blue mt-4">
Normal
</button>
<button class="btn-blue mt-4 active">
Active
</button>
<button class="btn-blue mt-4" disabled>
Disabled
</button>
<hr />
<p>The <code>:disabled</code> pseudo-class visually indicates that the
button is not interactive. Disabled buttons:</p>
<ul>
<li>Appear faded or desaturated to signal inactivity.</li>
<li>Use <code>cursor: not-allowed</code> to reinforce their disabled
state.</li>
<li>Ignore hover, focus, and active styles.</li>
</ul>
<h3 id="example">Example</h3>
<button class="btn-blue mt-4" disabled>
Disabled
</button>
<pre class="html"><code>&lt;button class=&quot;btn-blue&quot; disabled&gt;Disabled&lt;/button&gt;</code></pre>
<h3 id="disabled-button-color-list">Disabled Button Color list</h3>
<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th>Color</th>
<th>CSS Class</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Yellow</strong></td>
<td><button class="px-3 w-100 btn-yellow" disabled>Yellow
button</button></td>
</tr>
<tr class="even">
<td><strong>Orange</strong></td>
<td><button class="px-3 w-100 btn-orange" disabled>Orange
button</button></td>
</tr>
<tr class="odd">
<td><strong>Red</strong></td>
<td><button class="px-3 w-100 btn-red" disabled>Red button</button></td>
</tr>
<tr class="even">
<td><strong>Pink</strong></td>
<td><button class="px-3 w-100 btn-pink" disabled>Pink
button</button></td>
</tr>
<tr class="odd">
<td><strong>Purple</strong></td>
<td><button class="px-3 w-100 btn-purple" disabled>Purple
button</button></td>
</tr>
<tr class="even">
<td><strong>Blue</strong></td>
<td><button class="px-3 w-100 btn-blue" disabled>Blue
button</button></td>
</tr>
<tr class="odd">
<td><strong>Cyan</strong></td>
<td><button class="px-3 w-100 btn-cyan" disabled>Cyan
button</button></td>
</tr>
<tr class="even">
<td><strong>Green</strong></td>
<td><button class="px-3 w-100 btn-green" disabled>Green
button</button></td>
</tr>
<tr class="odd">
<td><strong>White</strong></td>
<td><button class="px-3 w-100 btn-white" disabled>White
button</button></td>
</tr>
<tr class="even">
<td><strong>Black</strong></td>
<td><button class="px-3 w-100 btn-black" disabled>Black
button</button></td>
</tr>
</tbody>
</table>
