<button class="btn-xs h-fit btn-purple">
Extra Small
</button>
<button class="btn-sm btn-purple">
Small
</button>
<button class="btn-purple">
Standard
</button>
<button class="btn-lg btn-purple">
Large
</button>
<button class="btn-xl btn-purple">
Extra Large
</button>
<hr />
<p>Use size utility classes to adjust the button’s font size and
padding. These classes can be combined with any <code>.btn</code> or
<code>btn-[name]</code> variants.</p>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.btn-xs</code></td>
<td>Extra small</td>
</tr>
<tr class="even">
<td><code>.btn-sm</code></td>
<td>Small</td>
</tr>
<tr class="odd">
<td><code>.btn-lg</code></td>
<td>Large</td>
</tr>
<tr class="even">
<td><code>.btn-xl</code></td>
<td>Extra large</td>
</tr>
</tbody>
</table>
<h3 id="examples">Examples</h3>
<button class="btn-xs btn-green mt-4">
Extra Small Button
</button>
<pre class="html"><code>&lt;button class=&quot;btn-xs btn-green&quot;&gt;Extra Small Button&lt;/button&gt;</code></pre>
<button class="btn-xl btn-green mt-4">
Extra Large Button
</button>
<pre class="html"><code>&lt;button class=&quot;btn-xl btn-green&quot;&gt;Extra Large Button&lt;/button&gt;</code></pre>
