<p>Customize the shape of buttons using utility classes that control
their border radius and proportions.</p>
<h3 id="rounded-pill">Rounded Pill</h3>
<p><code>.rounded-pill</code> Creates a pill-shaped button with fully
rounded ends. Ideal for badges, tags, or soft, rounded UI.</p>
<button class="btn-pink rounded-pill mt-4">
.rounded-pill
</button>
<pre class="html"><code>&lt;button class=&quot;btn-pink rounded-pill&quot;&gt;.rounded-pill&lt;/button&gt;</code></pre>
<h3 id="circular-button">Circular Button</h3>
<p><code>.btn-circular</code> creates a perfectly circular button,
typically used for icons or floating action buttons (FAB). Ensures a 1:1
aspect ratio.</p>
<button class="btn-pink btn-circular mt-4">
+
</button>
<pre class="html"><code>&lt;button class=&quot;btn-pink btn-circular&quot;&gt;+&lt;/button&gt;</code></pre>
<h3 id="square-button">Square Button</h3>
<p><code>.btn-square</code> creates a square button by forcing a 1:1
aspect ratio. Useful for tool buttons or grid layouts.</p>
<button class="btn-pink btn-square fs-4xl">
≡
</button>
<pre class="html"><code>&lt;button class=&quot;btn-pink btn-square&quot;&gt;≡&lt;/button&gt;</code></pre>
<h3 id="borders">Borders</h3>
<p>Combine the <code>.btn</code> classes with
<code>.border-[side]-[width]</code> to specify the border size on each
side :</p>
<button class="btn-pink border-5 border-purple-800 mt-4">
Borders
</button>
<pre class="html"><code>&lt;button class=&quot;btn-pink border-5 border-purple-800 &quot;&gt;Borders&lt;/button&gt;</code></pre>
<button class="btn-pink border-top-5  border-purple-800 mt-4">
Top Border
</button>
<pre class="html"><code>&lt;button class=&quot;btn-pink border-top-5 border-purple-800&quot;&gt;Top Border&lt;/button&gt;</code></pre>
<button class="btn-pink border-5 border-top-0  border-purple-800 mt-4">
No border on top
</button>
<pre class="html"><code>&lt;button class=&quot;btn-pink border-5 border-top-0 border-purple-800&quot;&gt;No border on top&lt;/button&gt;</code></pre>
