<p>These utility classes allow you to apply predefined font sizes using
CSS custom properties.</p>
<h3 id="classes">Classes</h3>
<table>
<colgroup>
<col style="width: 15%" />
<col style="width: 43%" />
<col style="width: 40%" />
</colgroup>
<thead>
<tr class="header">
<th>Class Name</th>
<th>Description</th>
<th>CSS Property</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.fs-4xs</code></td>
<td>Extra extra extra extra small</td>
<td><code>font-size: var(--fs-4xs);</code></td>
</tr>
<tr class="even">
<td><code>.fs-3xs</code></td>
<td>Extra extra extra small</td>
<td><code>font-size: var(--fs-3xs);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-2xs</code></td>
<td>Extra extra small</td>
<td><code>font-size: var(--fs-2xs);</code></td>
</tr>
<tr class="even">
<td><code>.fs-xs</code></td>
<td>Extra small</td>
<td><code>font-size: var(--fs-xs);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-sm</code></td>
<td>Small</td>
<td><code>font-size: var(--fs-sm);</code></td>
</tr>
<tr class="even">
<td><code>.fs-md</code></td>
<td>Medium</td>
<td><code>font-size: var(--fs-md);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-lg</code></td>
<td>Large</td>
<td><code>font-size: var(--fs-lg);</code></td>
</tr>
<tr class="even">
<td><code>.fs-xl</code></td>
<td>Extra large</td>
<td><code>font-size: var(--fs-xl);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-2xl</code></td>
<td>2× Extra large</td>
<td><code>font-size: var(--fs-2xl);</code></td>
</tr>
<tr class="even">
<td><code>.fs-3xl</code></td>
<td>3× Extra large</td>
<td><code>font-size: var(--fs-3xl);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-4xl</code></td>
<td>4× Extra large</td>
<td><code>font-size: var(--fs-4xl);</code></td>
</tr>
<tr class="even">
<td><code>.fs-5xl</code></td>
<td>5× Extra large</td>
<td><code>font-size: var(--fs-5xl);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-6xl</code></td>
<td>6× Extra large</td>
<td><code>font-size: var(--fs-6xl);</code></td>
</tr>
<tr class="even">
<td><code>.fs-7xl</code></td>
<td>7× Extra large</td>
<td><code>font-size: var(--fs-7xl);</code></td>
</tr>
<tr class="odd">
<td><code>.fs-8xl</code></td>
<td>8× Extra large</td>
<td><code>font-size: var(--fs-8xl);</code></td>
</tr>
<tr class="even">
<td><code>.fs-9xl</code></td>
<td>9× Extra large</td>
<td><code>font-size: var(--fs-9xl);</code></td>
</tr>
</tbody>
</table>
<h3 id="usage-example">Usage Example</h3>
<h2 id="code">Code</h2>
<pre class="html"><code>&lt;p class=&quot;fs-sm&quot;&gt;This is small text.&lt;/p&gt;
&lt;p class=&quot;fs-lg&quot;&gt;This is large text.&lt;/p&gt;
&lt;p class=&quot;fs-3xl&quot;&gt;This is 3× extra large text.&lt;/p&gt;
&lt;p class=&quot;fs-6xl&quot;&gt;This is 6× extra large text.&lt;/p&gt;</code></pre>
<h2 id="output">Output</h2>
<p class="fs-sm">
This is small text.
</p>
<p class="fs-lg">
This is large text.
</p>
<p class="fs-3xl">
This is 3× extra large text.
</p>
<p class="fs-6xl">
This is 6× extra large text.
</p>
