<p>Use the <code>.greyscale-[value]</code> utilities to apply a
grayscale filter to an element. This is useful for desaturating images,
icons, or backgrounds for stylistic or accessibility purposes.</p>
<h3 id="doc-syntax">Syntax</h3>
<pre class="html"><code>.greyscale-[value]</code></pre>
<p>This sets:</p>
<pre class="css"><code>filter: grayscale([value]);</code></pre>
<p>You can also apply these effects on hover using:</p>
<pre class="html"><code>.hover:greyscale-[value]</code></pre>
<p>Which sets the filter on hover only.</p>
<h3 id="doc-example">Example</h3>
<p><img class="w-max-500px mt-4 rounded greyscale-50 hover:greyscale-0" src="/images/color-image.jpg"></p>
<pre class="html"><code>&lt;img class=&quot;greyscale-50 hover:greyscale-0&quot; src=&quot;image.jpg&quot;&gt;</code></pre>
<p>This example shows a fully grayscale image that returns to color on
hover.</p>
<h3 id="doc-available-classes">Available Classes</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 35%" />
<col style="width: 42%" />
</colgroup>
<thead>
<tr class="header">
<th>Class Name</th>
<th>CSS Output</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.greyscale-0</code></td>
<td><code>filter: grayscale(0);</code></td>
<td>No grayscale (original)</td>
</tr>
<tr class="even">
<td><code>.greyscale-25</code></td>
<td><code>filter: grayscale(0.25);</code></td>
<td>25% grayscale</td>
</tr>
<tr class="odd">
<td><code>.greyscale-50</code></td>
<td><code>filter: grayscale(0.50);</code></td>
<td>50% grayscale</td>
</tr>
<tr class="even">
<td><code>.greyscale-75</code></td>
<td><code>filter: grayscale(0.75);</code></td>
<td>75% grayscale</td>
</tr>
<tr class="odd">
<td><code>.greyscale-100</code></td>
<td><code>filter: grayscale(1);</code></td>
<td>Fully grayscale (black &amp; white)</td>
</tr>
</tbody>
</table>
<h3 id="doc-hover-variants">Hover Variants</h3>
<table>
<thead>
<tr class="header">
<th>Class Name</th>
<th>Effect on Hover</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.hover:greyscale-0</code></td>
<td>Remove grayscale on hover</td>
</tr>
<tr class="even">
<td><code>.hover:greyscale-25</code></td>
<td>Apply 25% grayscale on hover</td>
</tr>
<tr class="odd">
<td><code>.hover:greyscale-50</code></td>
<td>Apply 50% grayscale on hover</td>
</tr>
<tr class="even">
<td><code>.hover:greyscale-75</code></td>
<td>Apply 75% grayscale on hover</td>
</tr>
<tr class="odd">
<td><code>.hover:greyscale-100</code></td>
<td>Apply full grayscale on hover</td>
</tr>
</tbody>
</table>
<h3 id="doc-notes">Notes</h3>
<ul>
<li>Grayscale filters work on any element, but are most commonly used on
images and backgrounds.</li>
<li>For hover effects to be smooth, combine with
<code>.transition</code> and <code>.duration-*</code> utilities.</li>
</ul>
