<p>These utility classes help you control <strong>horizontal
layout</strong> (<code>flex-direction: row</code>) and horizontal
alignment (<code>justify-content</code>) using simple and expressive
class names.</p>
<p>They use <code>display: flex</code> and align items along the main
(horizontal) axis.</p>
<h4 id="class-reference">Class Reference</h4>
<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 38%" />
<col style="width: 41%" />
</colgroup>
<thead>
<tr class="header">
<th>Class</th>
<th>CSS Output</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.h-flex-start</code></td>
<td><code>justify-content: start</code></td>
<td>Align items to the left</td>
</tr>
<tr class="even">
<td><code>.h-flex-end</code></td>
<td><code>justify-content: end</code></td>
<td>Align items to the right</td>
</tr>
<tr class="odd">
<td><code>.h-flex-center</code></td>
<td><code>justify-content: center</code></td>
<td>Center items horizontally</td>
</tr>
<tr class="even">
<td><code>.h-flex-between</code></td>
<td><code>justify-content: space-between</code></td>
<td>Distribute items with space between</td>
</tr>
<tr class="odd">
<td><code>.h-flex-around</code></td>
<td><code>justify-content: space-around</code></td>
<td>Equal space around each item</td>
</tr>
<tr class="even">
<td><code>.h-flex-evenly</code></td>
<td><code>justify-content: space-evenly</code></td>
<td>Equal space between and around</td>
</tr>
</tbody>
</table>
<h4 id="basic-syntax">Basic Syntax</h4>
<pre class="html"><code>&lt;div class=&quot;h-flex-{alignment}&quot;&gt;...&lt;/div&gt;</code></pre>
<p>Where <code>{alignment}</code> is one of: <code>start</code>,
<code>end</code>, <code>center</code>, <code>between</code>,
<code>around</code>, <code>evenly</code>.</p>
<h4 id="examples">Examples</h4>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-start gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-start gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-end gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-end gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-center gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-center gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-between gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-between gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-around gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-around gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-evenly gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-evenly gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="flex-grow-utilities">Flex Grow Utilities</h3>
<p>Control how flexible a flex item should grow relative to the rest of
the items with <code>.grow-{n}</code> classes.</p>
<h4 id="basic-syntax-1">Basic Syntax</h4>
<pre class="html"><code>&lt;div class=&quot;grow-{n}&quot;&gt;...&lt;/div&gt;</code></pre>
<ul>
<li><code>{n}</code> is a number between <code>0</code> and
<code>7</code></li>
<li>Maps to <code>flex-grow: n</code></li>
</ul>
<h4 id="example">Example</h4>
<div class="mt-5">
<div
class="border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded h-flex-between gap-3 monospace mb-4">
<div class="p-3 bg-red rounded">
01
</div>
<div class="p-3 bg-red rounded monospace grow-1 text-center">
02
</div>
<div class="p-3 bg-red rounded monospace">
03
</div>
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;h-flex-between gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div class=&quot;grow-1&quot;&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="gap-utilities">Gap Utilities</h3>
<p>The <code>.gap-*</code> utility classes let you quickly control the
spacing between flex or grid items using a consistent spacing scale.</p>
<p>They apply the native CSS <code>gap</code> property, which works with
both flex and grid containers.</p>
<h4 id="basic-syntax-2">Basic Syntax</h4>
<pre class="html"><code>&lt;div class=&quot;gap-{n}&quot;&gt;...&lt;/div&gt;</code></pre>
<ul>
<li><code>{n}</code> is a number between <code>0</code> and
<code>7</code></li>
</ul>
