<p>Control how replaced elements like <code>&lt;img&gt;</code> or
<code>&lt;video&gt;</code> should be resized to fit their container
using the <code>object-fit</code> property.</p>
<h3 id="syntax">Syntax</h3>
<pre class="html"><code>.object-[fit]</code></pre>
<p>Where <code>[fit]</code> can be:</p>
<table>
<colgroup>
<col style="width: 15%" />
<col style="width: 15%" />
<col style="width: 69%" />
</colgroup>
<thead>
<tr class="header">
<th>Class</th>
<th>Alternative</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>object-contain</code></td>
<td><code>fit-contain</code></td>
<td>Scale the content to maintain its aspect ratio while fitting within
the container.</td>
</tr>
<tr class="even">
<td><code>object-cover</code></td>
<td><code>fit-cover</code></td>
<td>Scale the content to maintain its aspect ratio while filling the
container. May crop content.</td>
</tr>
<tr class="odd">
<td><code>object-fill</code></td>
<td><code>fit-fill</code></td>
<td>Stretch the content to fill the container. Aspect ratio is not
preserved.</td>
</tr>
<tr class="even">
<td><code>object-none</code></td>
<td><code>fit-none</code></td>
<td>Do not resize the content. It will retain its original size.</td>
</tr>
<tr class="odd">
<td><code>object-scale-down</code></td>
<td><code>fit-scale-down</code></td>
<td>Scale down the content to the smallest size between
<code>none</code> or <code>contain</code>.</td>
</tr>
</tbody>
</table>
<p>Use these classes to manage how media behaves inside fixed-size
containers.</p>
<p>The <code>.fit-*</code> classes are shorthand aliases for their
corresponding <code>.object-*</code> utilities, providing an alternate,
shorter syntax for controlling the <code>object-fit</code> behavior of
media elements.</p>
<h3 id="examples">Examples</h3>
<h4 id="cover-the-container">Cover the container</h4>
<p>Use <code>object-cover</code> to fill the container while preserving
the aspect ratio. The image will be clipped if necessary.</p>
<div
class="overflow-hidden w-256px dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9 mr-auto">
<img src="/images/skateboard.jpg" class="h-100 w-100 object-cover">
</div>
<pre class="html"><code>&lt;img src=&quot;image.jpg&quot; class=&quot;h-100 w-100 object-cover&quot;&gt;</code></pre>
<h4 id="fit-inside-the-container">Fit inside the container</h4>
<p>Use <code>object-contain</code> to make the content fit entirely
within the container without clipping. The aspect ratio is preserved,
and empty space may appear.</p>
<div
class="overflow-hidden w-256px dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9 mr-auto">
<img src="/images/skateboard.jpg" class="h-100 w-100 object-contain">
</div>
<pre class="html"><code>&lt;img src=&quot;image.jpg&quot; class=&quot;h-100 w-100 object-contain&quot;&gt;</code></pre>
<h4 id="stretch-to-fill">Stretch to fill</h4>
<p>Use <code>object-fill</code> to make the content fill the container
regardless of its aspect ratio. This may distort the content.</p>
<div
class="overflow-hidden w-256px dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9 mr-auto">
<img src="/images/skateboard.jpg" class="h-100 w-100 object-fill">
</div>
<pre class="html"><code>&lt;img src=&quot;image.jpg&quot; class=&quot;h-100 w-100 object-fill&quot;&gt;</code></pre>
<h4 id="scale-down-if-needed">Scale down if needed</h4>
<p>Use <code>object-scale-down</code> to display the content at its
original size unless it’s too large—then it scales down to fit the
container.</p>
<div
class="overflow-hidden w-256px dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9 mr-auto">
<img src="/images/skateboard-small.jpg" class="h-100 w-100 object-scale-down">
</div>
<pre class="html"><code>&lt;img src=&quot;image.jpg&quot; class=&quot;h-100 w-100 object-scale-down&quot;&gt;</code></pre>
<h4 id="use-original-size-only">Use original size only</h4>
<p>Use <code>object-none</code> to keep the original size of the
content, ignoring the container dimensions. It may overflow if the
content is larger.</p>
<div
class="overflow-hidden w-256px dark:hatching-grey-900 light:hatching-grey-200 border dark:border-grey-900 light:border-grey-200 rounded ratio-16x9 mr-auto">
<img src="/images/skateboard.jpg" class="h-100 w-100 object-none">
</div>
<pre class="html"><code>&lt;img src=&quot;image.jpg&quot; class=&quot;h-100 w-100 object-none&quot;&gt;</code></pre>
