<p>The table utilities provide a clean, accessible, and theme-aware
style for tabular data. Tables are styled with spacing, consistent
borders, and optional striping for better readability.</p>
<h3 id="doc-example">Example</h3>
<table class="table-striped">
<thead>
<tr>
<th>
Item
</th>
<th>
Price
</th>
</tr>
</thead>
<tbody>
<tr>
<td>
Apple
</td>
<td>
$1.00
</td>
</tr>
<tr>
<td>
Banana
</td>
<td>
$0.50
</td>
</tr>
</tbody>
</table>
<pre class="html"><code>&lt;table class=&quot;table-striped&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Item&lt;/th&gt;
      &lt;th&gt;Price&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Apple&lt;/td&gt;
      &lt;td&gt;$1.00&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Banana&lt;/td&gt;
      &lt;td&gt;$0.50&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
<h3 id="doc-striped-table-rows">Striped Table Rows</h3>
<table>
<colgroup>
<col style="width: 15%" />
<col style="width: 84%" />
</colgroup>
<thead>
<tr class="header">
<th>Class</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.table-striped</code></td>
<td>Applies background stripes to every odd row in
<code>&lt;tbody&gt;</code> using a <code>light-dark()</code> color
mix</td>
</tr>
</tbody>
</table>
