<p>These utility classes allow you to control the horizontal alignment
of text content.</p>
<h3 id="classes">Classes</h3>
<table>
<colgroup>
<col style="width: 38%" />
<col style="width: 36%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th>Class Name</th>
<th>Description</th>
<th>CSS Property</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.align-left</code> / <code>.text-left</code></td>
<td>Aligns text to the left</td>
<td><code>text-align: left;</code></td>
</tr>
<tr class="even">
<td><code>.align-center</code> / <code>.text-center</code></td>
<td>Centers the text</td>
<td><code>text-align: center;</code></td>
</tr>
<tr class="odd">
<td><code>.align-right</code> / <code>.text-right</code></td>
<td>Aligns text to the right</td>
<td><code>text-align: right;</code></td>
</tr>
<tr class="even">
<td><code>.align-justify</code> / <code>.text-justify</code></td>
<td>Justifies the text</td>
<td><code>text-align: justify;</code></td>
</tr>
<tr class="odd">
<td><code>.align-start</code> / <code>.text-start</code></td>
<td>Aligns text to the start of flow</td>
<td><code>text-align: start;</code></td>
</tr>
<tr class="even">
<td><code>.align-end</code> / <code>.text-end</code></td>
<td>Aligns text to the end of flow</td>
<td><code>text-align: end;</code></td>
</tr>
</tbody>
</table>
<p>Use <code>.text-*</code> or <code>.align-*</code> interchangeably
based on your preferred naming convention.</p>
<h3 id="usage-example">Usage Example</h3>
<h4 id="code">Code</h4>
<pre class="html"><code>&lt;p class=&quot;text-left&quot;&gt;This text is aligned to the left.&lt;/p&gt;
&lt;p class=&quot;text-center&quot;&gt;This text is centered.&lt;/p&gt;
&lt;p class=&quot;text-right&quot;&gt;This text is aligned to the right.&lt;/p&gt;
&lt;p class=&quot;text-justify&quot;&gt;This text is justified.&lt;/p&gt;
&lt;p class=&quot;text-start&quot;&gt;This text is aligned to the start (depends on direction).&lt;/p&gt;
&lt;p class=&quot;text-end&quot;&gt;This text is aligned to the end (depends on direction).&lt;/p&gt;</code></pre>
<h4 id="output">Output</h4>
<p class="rounded border-1 p-2 text-left">
This text is aligned to the left.
</p>
<p class="rounded border-1 p-2 text-center">
This text is centered.
</p>
<p class="rounded border-1 p-2 text-right">
This text is aligned to the right.
</p>
<p class="rounded border-1 p-2 text-justify">
This text is justified.
</p>
<p class="rounded border-1 p-2 text-start">
This text is aligned to the start (depends on direction).
</p>
<p class="rounded border-1 p-2 text-end">
This text is aligned to the end (depends on direction).
</p>
