<p>Beautiful CSS provides a variety of typographic utilities for styling
text semantically or with utility classes. Below is a reference of
supported styles.</p>
<div class="overflow-x-auto">
<table>
<colgroup>
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
<col style="width: 25%" />
</colgroup>
<thead>
<tr class="header">
<th>Style</th>
<th>Example</th>
<th>HTML Tag</th>
<th>CSS Class</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Abbreviation</strong></td>
<td><abbr title="Abbreviation">Abbr.</abbr></td>
<td><code>&lt;abbr&gt;</code></td>
<td>-</td>
</tr>
<tr class="even">
<td><strong>Bold</strong></td>
<td><b>Bold text</b></td>
<td><code>&lt;b&gt;</code></td>
<td><code>bold</code></td>
</tr>
<tr class="odd">
<td><strong>Italic</strong></td>
<td><i>Italic text</i></td>
<td><code>&lt;i&gt;</code></td>
<td><code>italic</code></td>
</tr>
<tr class="even">
<td><strong>Strikethrough</strong></td>
<td><s>Strikethrough</s></td>
<td><code>&lt;s&gt;</code></td>
<td><code>strikethrough</code></td>
</tr>
<tr class="odd">
<td><strong>Strikethrough on hover</strong></td>
<td><span class="hover:strikethrough">Strikethrough on hover</span></td>
<td>-</td>
<td><code>hover:strikethrough</code></td>
</tr>
<tr class="even">
<td><strong>Underline</strong></td>
<td><u>Underline</u></td>
<td><code>&lt;u&gt;</code></td>
<td><code>underline</code></td>
</tr>
<tr class="odd">
<td><strong>Underline on hover</strong></td>
<td><span class="hover:underline">Underline on hover</span></td>
<td>-</td>
<td><code>hover:underline</code></td>
</tr>
<tr class="even">
<td><strong>No decoration</strong></td>
<td><a class="no-decoration" href="#typography">Not underlined
link</a></td>
<td>-</td>
<td><code>no-decoration</code></td>
</tr>
<tr class="odd">
<td><strong>No decoration on hover</strong></td>
<td><a class="hover:no-decoration" href="#typography">Not decoration on
hover</a></td>
<td>-</td>
<td><code>hover:no-decoration</code></td>
</tr>
<tr class="even">
<td><strong>Small</strong></td>
<td><small>Small</small></td>
<td><code>&lt;small&gt;</code></td>
<td><code>small</code></td>
</tr>
<tr class="odd">
<td><strong>Deleted</strong></td>
<td><del>Deleted</del></td>
<td><code>&lt;del&gt;</code></td>
<td><code>deleted</code></td>
</tr>
<tr class="even">
<td><strong>Inserted</strong></td>
<td><ins>Deleted</ins></td>
<td><code>&lt;ins&gt;</code></td>
<td><code>inserted</code></td>
</tr>
<tr class="odd">
<td><strong>Handwritten</strong></td>
<td><span class="handwritten">Handwritten</span></td>
<td>-</td>
<td><code>handwritten</code></td>
</tr>
<tr class="even">
<td><strong>Keyboard</strong></td>
<td><kbd>CTRL</kbd></td>
<td><code>&lt;kbd&gt;</code></td>
<td><code>keyboard</code></td>
</tr>
<tr class="odd">
<td><strong>Subscript</strong></td>
<td>Regular<sub>sub</sub></td>
<td><code>&lt;sub&gt;</code></td>
<td><code>subscript</code></td>
</tr>
<tr class="even">
<td><strong>Superscript</strong></td>
<td>Regular<sup>sup</sup></td>
<td><code>&lt;sub&gt;</code></td>
<td><code>superscript</code></td>
</tr>
<tr class="odd">
<td><strong>Monospace</strong></td>
<td><span class="monospace">Monospace</span></td>
<td>-</td>
<td><code>monospace</code></td>
</tr>
<tr class="even">
<td><strong>Lowercase</strong></td>
<td><span class="lowercase">LOWERCASE</span></td>
<td>-</td>
<td><code>lowercase</code></td>
</tr>
<tr class="odd">
<td><strong>Capitalize</strong></td>
<td><span class="capitalize">capitalize</span></td>
<td>-</td>
<td><code>capitalize</code></td>
</tr>
<tr class="even">
<td><strong>Uppercase</strong></td>
<td><span class="uppercase">uppercase</span></td>
<td>-</td>
<td><code>uppercase</code></td>
</tr>
</tbody>
</table>
</div>
<h3 id="abbreviations">Abbreviations</h3>
<p>Use the <code>&lt;abbr&gt;</code> tag with the <code>title</code>
attribute to provide the full form of an abbreviation. This helps screen
readers and provides a tooltip on hover:</p>
<pre class="html"><code>&lt;abbr title=&quot;Abbreviation&quot;&gt;Abbr.&lt;/abbr&gt;</code></pre>
<h3 id="bold-text">Bold Text</h3>
<p>To emphasize text using a heavier font weight, use the
<code>&lt;b&gt;</code> tag or the <code>bold</code> utility class:</p>
<pre class="html"><code>&lt;b&gt;Bold text&lt;/b&gt;
&lt;p class=&quot;bold&quot;&gt;Bold paragraph&lt;/p&gt;</code></pre>
<h3 id="italic-text">Italic Text</h3>
<p>To italicize text, use the <code>&lt;i&gt;</code> tag or the
<code>italic</code> utility class:</p>
<pre class="html"><code>&lt;i&gt;Italic text&lt;/i&gt;
&lt;p class=&quot;italic&quot;&gt;Italic paragraph&lt;/p&gt;</code></pre>
<h3 id="strikethrough">Strikethrough</h3>
<p>To display text with a line through it, use the
<code>&lt;s&gt;</code> tag or the <code>strikethrough</code> class:</p>
<pre class="html"><code>&lt;s&gt;Strikethrough text&lt;/s&gt;
&lt;p class=&quot;strikethrough&quot;&gt;Strikethrough paragraph&lt;/p&gt;</code></pre>
<h3 id="strikethrough-on-hover">Strikethrough on Hover</h3>
<p>Apply a strikethrough only when the user hovers over the element
using <code>hover:strikethrough</code>:</p>
<pre class="html"><code>&lt;span class=&quot;hover:strikethrough&quot;&gt;Strikethrough on hover&lt;/span&gt;</code></pre>
<h3 id="underline">Underline</h3>
<p>Underline text using the <code>&lt;u&gt;</code> tag or the
<code>underline</code> class:</p>
<pre class="html"><code>&lt;u&gt;Underlined text&lt;/u&gt;
&lt;p class=&quot;underline&quot;&gt;Underlined paragraph&lt;/p&gt;</code></pre>
<h3 id="underline-on-hover">Underline on Hover</h3>
<p>Underline text only when the user hovers over the element using
<code>hover:underline</code>:</p>
<pre class="html"><code>&lt;p class=&quot;hover:underline&quot;&gt;Underlined text on hover&lt;/p&gt;</code></pre>
<h3 id="no-decoration">No Decoration</h3>
<p>Use <code>no-decoration</code> to remove underline or any other text
decoration:</p>
<pre class="html"><code>&lt;a class=&quot;no-decoration&quot; href=&quot;#&quot;&gt;Not underlined link&lt;/a&gt;</code></pre>
<h3 id="remove-decoration-on-hover">Remove Decoration on Hover</h3>
<p>Use <code>hover:no-decoration</code> to remove underline on
hover:</p>
<pre class="html"><code>&lt;a class=&quot;hover:no-decoration&quot; href=&quot;#&quot;&gt;Underline removed on hover&lt;/a&gt;</code></pre>
<h3 id="small">Small</h3>
<p>To render text in a smaller font size, use the
<code>&lt;small&gt;</code> tag or the <code>small</code> class:</p>
<pre class="html"><code>&lt;small&gt;Small text&lt;/small&gt;
&lt;p class=&quot;small&quot;&gt;Small paragraph&lt;/p&gt;</code></pre>
<h3 id="deleted-text">Deleted Text</h3>
<p>To indicate deleted or removed content, use the
<code>&lt;del&gt;</code> tag or the <code>deleted</code> class:</p>
<pre class="html"><code>&lt;del&gt;Deleted text&lt;/del&gt;
&lt;p class=&quot;deleted&quot;&gt;Deleted paragraph&lt;/p&gt;</code></pre>
<h3 id="inserted-text">Inserted Text</h3>
<p>To mark content that has been added or inserted, use the
<code>&lt;ins&gt;</code> tag or the <code>inserted</code> class:</p>
<pre class="html"><code>&lt;ins&gt;Inserted text&lt;/ins&gt;
&lt;p class=&quot;inserted&quot;&gt;Inserted paragraph&lt;/p&gt;</code></pre>
<h3 id="handwritten-text">Handwritten Text</h3>
<p>To apply a handwritten or cursive style to text, use the
<code>handwritten</code> utility class:</p>
<pre class="html"><code>&lt;p class=&quot;handwritten&quot;&gt;Hanwritten paragraph&lt;/p&gt;</code></pre>
<h3 id="keyboard-input-element">Keyboard Input Element</h3>
<p>To represent keyboard input, use the semantic
<code>&lt;kbd&gt;</code> tag or the <code>keyboard</code> utility
class:</p>
<pre class="html"><code>&lt;kbd&gt;SHIFT&lt;/kbd&gt;
&lt;span class=&quot;keyboard&quot;&gt;CTRL&lt;/span&gt;</code></pre>
<blockquote>
<p>This style is typically used for inline user input references, like
shortcuts or keys pressed.</p>
</blockquote>
<h3 id="subscript">Subscript</h3>
<p>To display subscript text (commonly used in chemical formulas or
math), use the semantic <code>&lt;sub&gt;</code> tag or the
<code>subscript</code> utility class:</p>
<pre class="html"><code>X&lt;sub&gt;2&lt;/sub&gt;
X&lt;span class=&quot;subscript&quot;&gt;2&lt;span&gt;</code></pre>
<h3 id="superscript">Superscript</h3>
<p>To display superscript text (commonly used in chemical formulas or
math), use the semantic <code>&lt;sup&gt;</code> tag or the
<code>superscript</code> utility class:</p>
<pre class="html"><code>X&lt;sup&gt;3&lt;/sup&gt;
X&lt;span class=&quot;superscript&quot;&gt;3&lt;span&gt;</code></pre>
<h3 id="superscript-1">Superscript</h3>
<p>To display superscript text (commonly used in chemical formulas or
math), use the semantic <code>&lt;sup&gt;</code> tag or the
<code>superscript</code> utility class:</p>
<pre class="html"><code>X&lt;sup&gt;3&lt;/sup&gt;
X&lt;span class=&quot;superscript&quot;&gt;3&lt;span&gt;</code></pre>
<h3 id="monospace">Monospace</h3>
<p>To apply a monospace (fixed-width) style to text, use the
<code>monospace</code> utility class:</p>
<pre class="html"><code>&lt;p class=&quot;Monospace&quot;&gt;Monospace paragraph&lt;/p&gt;</code></pre>
<h3 id="lowercase">Lowercase</h3>
<p>Converts all text to lowercase with <code>lowercase</code> utility
class:</p>
<pre class="html"><code>&lt;p class=&quot;lowercase&quot;&gt;THIS WILL BECOME LOWERCASE&lt;/p&gt;</code></pre>
<h3 id="capitalize">Capitalize</h3>
<p>Capitalizes the first letter of each word with
<code>capitalize</code> utility class:</p>
<pre class="html"><code>&lt;p class=&quot;capitalize&quot;&gt;this will become capitalized&lt;/p&gt;</code></pre>
<h3 id="uppercase">Uppercase</h3>
<p>Converts all text to uppercase with <code>uppercase</code> utility
class:</p>
<pre class="html"><code>&lt;p class=&quot;uppercase&quot;&gt;this will become uppercase&lt;/p&gt;</code></pre>
