<p>Beautiful CSS proposes several typography styles:</p>
<h3 id="abbreviations">Abbreviations</h3>
<p><abbr title="This is an abbreviation">Hover me</abbr></p>
<p>Use the <code>&lt;abbr&gt;</code> tag with the
<code>title="Full text"</code> attribute to define an abbreviation :</p>
<pre class="html"><code>&lt;abbr title=&quot;Abbreviation&quot;&gt;Abbr.&lt;/abbr&gt;</code></pre>
<p>The above code should display:</p>
