<p>These utility classes help you control <strong>vertical
layout</strong> (column-based <code>flex-direction</code>) and vertical
alignment (<code>justify-content</code>) using concise and semantic
class names.</p>
<div class="h-flex-evenly">
<div>
<h3>
v-flex-start
</h3>
<div
class="mx-auto border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-start gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
</div>
<div>
<h3>
v-flex-end
</h3>
<div
class="mx-auto border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-end gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
</div>
<div>
<h3>
v-flex-center
</h3>
<div
class="mx-auto border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-center gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
</div>
<div>
<h3>
v-flex-between
</h3>
<div
class="mx-auto border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-between gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
</div>
<div>
<h3>
v-flex-around
</h3>
<div
class="mx-auto border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-around gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
</div>
<div>
<h3>
v-flex-evenly
</h3>
<div
class="mx-auto border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-evenly gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
</div>
</div>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 40%" />
<col style="width: 37%" />
</colgroup>
<thead>
<tr class="header">
<th>Class</th>
<th>CSS Output</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.v-flex-start</code></td>
<td><code>justify-content: start</code></td>
<td>Align items to the top</td>
</tr>
<tr class="even">
<td><code>.v-flex-end</code></td>
<td><code>justify-content: end</code></td>
<td>Align items to the bottom</td>
</tr>
<tr class="odd">
<td><code>.v-flex-center</code></td>
<td><code>justify-content: center</code></td>
<td>Center items vertically</td>
</tr>
<tr class="even">
<td><code>.v-flex-between</code></td>
<td><code>justify-content: space-between</code></td>
<td>Equal space between items</td>
</tr>
<tr class="odd">
<td><code>.v-flex-around</code></td>
<td><code>justify-content: space-around</code></td>
<td>Equal space around items</td>
</tr>
<tr class="even">
<td><code>.v-flex-evenly</code></td>
<td><code>justify-content: space-evenly</code></td>
<td>Equal space between and around</td>
</tr>
</tbody>
</table>
<h3 id="examples">Examples</h3>
<pre class="html"><code>&lt;div class=&quot;v-flex-start&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;v-flex-center&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;v-flex-between&quot;&gt;...&lt;/div&gt;</code></pre>
<h3 id="basic-syntax">Basic Syntax</h3>
<pre class="html"><code>&lt;div class=&quot;v-flex-{alignment}&quot;&gt;...&lt;/div&gt;</code></pre>
<h2 id="flex-grow-utilities">Flex Grow Utilities</h2>
<p>Control how flexible a flex item should grow relative to the rest of
the items with <code>.grow-{n}</code> classes.</p>
<table>
<thead>
<tr class="header">
<th>Class</th>
<th>CSS Output</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.grow-0</code></td>
<td><code>flex-grow: 0</code></td>
</tr>
<tr class="even">
<td><code>.grow-1</code></td>
<td><code>flex-grow: 1</code></td>
</tr>
<tr class="odd">
<td><code>.grow-2</code></td>
<td><code>flex-grow: 2</code></td>
</tr>
<tr class="even">
<td><code>.grow-3</code></td>
<td><code>flex-grow: 3</code></td>
</tr>
<tr class="odd">
<td><code>.grow-4</code></td>
<td><code>flex-grow: 4</code></td>
</tr>
<tr class="even">
<td><code>.grow-5</code></td>
<td><code>flex-grow: 5</code></td>
</tr>
<tr class="odd">
<td><code>.grow-6</code></td>
<td><code>flex-grow: 6</code></td>
</tr>
<tr class="even">
<td><code>.grow-7</code></td>
<td><code>flex-grow: 7</code></td>
</tr>
</tbody>
</table>
<h3 id="examples-1">Examples</h3>
<pre class="html"><code>&lt;div class=&quot;grow-1&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;grow-0&quot;&gt;...&lt;/div&gt;</code></pre>
<h3 id="basic-syntax-1">Basic Syntax</h3>
<pre class="html"><code>&lt;div class=&quot;grow-{n}&quot;&gt;...&lt;/div&gt;</code></pre>
<ul>
<li><p><code>{n}</code> is a number between <code>0</code> and
<code>7</code></p></li>
<li><p>Maps to <code>flex-grow: n</code></p></li>
<li><p>All utilities use <code>!important</code> if needed to override
base styles.</p></li>
</ul>
