<p>These utility classes help you control <strong>vertical
layout</strong> (column-based <code>flex-direction</code>) and vertical
alignment (<code>justify-content</code>) using concise and semantic
class names.</p>
<h4 id="doc-class-reference">Class Reference</h4>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 40%" />
<col style="width: 37%" />
</colgroup>
<thead>
<tr class="header">
<th>Class</th>
<th>CSS Output</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code>.v-flex-start</code></td>
<td><code>justify-content: start</code></td>
<td>Align items to the top</td>
</tr>
<tr class="even">
<td><code>.v-flex-end</code></td>
<td><code>justify-content: end</code></td>
<td>Align items to the bottom</td>
</tr>
<tr class="odd">
<td><code>.v-flex-center</code></td>
<td><code>justify-content: center</code></td>
<td>Center items vertically</td>
</tr>
<tr class="even">
<td><code>.v-flex-between</code></td>
<td><code>justify-content: space-between</code></td>
<td>Equal space between items</td>
</tr>
<tr class="odd">
<td><code>.v-flex-around</code></td>
<td><code>justify-content: space-around</code></td>
<td>Equal space around items</td>
</tr>
<tr class="even">
<td><code>.v-flex-evenly</code></td>
<td><code>justify-content: space-evenly</code></td>
<td>Equal space between and around</td>
</tr>
</tbody>
</table>
<h4 id="doc-basic-syntax">Basic Syntax</h4>
<pre class="html"><code>&lt;div class=&quot;v-flex-{alignment}&quot;&gt;...&lt;/div&gt;</code></pre>
<p>Where <code>{alignment}</code> is one of: <code>start</code>,
<code>end</code>, <code>center</code>, <code>between</code>,
<code>around</code>, <code>evenly</code>.</p>
<h4 id="doc-examples">Examples</h4>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-start gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-start gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-end gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-end gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-center gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-center gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-between gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-between gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-around gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-around gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-evenly gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-evenly gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="doc-flex-grow-utilities">Flex Grow Utilities</h3>
<p>Control how flexible a flex item should grow relative to the rest of
the items with <code>.grow-{n}</code> classes.</p>
<h4 id="doc-basic-syntax-1">Basic Syntax</h4>
<pre class="html"><code>&lt;div class=&quot;grow-{n}&quot;&gt;...&lt;/div&gt;</code></pre>
<ul>
<li><code>{n}</code> is a number between <code>0</code> and
<code>7</code></li>
<li>Maps to <code>flex-grow: n</code></li>
</ul>
<h4 id="doc-example">Example</h4>
<div
class="mt-5 border light:hatching-grey-100 light:border-grey-100 dark:hatching-grey-900 dark:border-grey-900 rounded v-flex-between gap-3 text-center w-64px h-256px">
<div class="p-3 bg-red fit-content rounded">
01
</div>
<div class="p-3 bg-red rounded grow-1">
02
</div>
<div class="p-3 bg-red rounded">
03
</div>
</div>
<pre class="html"><code>&lt;div class=&quot;v-flex-between gap-3&quot;&gt;
  &lt;div&gt;01&lt;/div&gt;
  &lt;div class=&quot;grow-1&quot;&gt;02&lt;/div&gt;
  &lt;div&gt;03&lt;/div&gt;
&lt;/div&gt;</code></pre>
<h3 id="doc-gap-utilities">Gap Utilities</h3>
<p>The <code>.gap-*</code> utility classes let you quickly control the
spacing between flex or grid items using a consistent spacing scale.</p>
<p>They apply the native CSS <code>gap</code> property, which works with
both flex and grid containers.</p>
<h4 id="doc-basic-syntax-2">Basic Syntax</h4>
<pre class="html"><code>&lt;div class=&quot;gap-{n}&quot;&gt;...&lt;/div&gt;</code></pre>
<ul>
<li><code>{n}</code> is a number between <code>0</code> and
<code>7</code></li>
</ul>
