:root {
  --light-grey-lighter-5: #ebecf1;
  --light-grey-lighter-10: #fafafb;
  --light-grey-lighter-15: #ffffff;
  --light-grey-lighter-20: #ffffff;

  --light-grey-darker-5: #cdd0db;
  --light-grey-darker-10: #bec2d1;
  --light-grey-darker-15: #afb4c6;
  --light-grey-darker-20: #a0a6bb;
}


.bg-light-grey-lighter-5 {
  background-color: var(--light-grey-lighter-5);
  color: var(--black);
}

.bg-light-grey-lighter-10 {
  background-color: var(--light-grey-lighter-10);
  color: var(--black);
}

.bg-light-grey-lighter-15 {
  background-color: var(--light-grey-lighter-15);
  color: var(--black);
}

.bg-light-grey-lighter-20 {
  background-color: var(--light-grey-lighter-20);
  color: var(--black);
}

.bg-light-grey-darker-5 {
  background-color: var(--light-grey-darker-5);
  color: var(--black);
}

.bg-light-grey-darker-10 {
  background-color: var(--light-grey-darker-10);
  color: var(--black);
}

.bg-light-grey-darker-15 {
  background-color: var(--light-grey-darker-15);
  color: var(--black);
}

.bg-light-grey-darker-20 {
  background-color: var(--light-grey-darker-20);
  color: var(--black);
}

.text-light-grey-lighter-5 {
  color: var(--light-grey-lighter-5);
}

.text-light-grey-lighter-10 {
  color: var(--light-grey-lighter-10);
}

.text-light-grey-lighter-15 {
  color: var(--light-grey-lighter-15);
}

.text-light-grey-lighter-20 {
  color: var(--light-grey-lighter-20);
}

.text-light-grey-darker-5 {
  color: var(--light-grey-darker-5);
}

.text-light-grey-darker-10 {
  color: var(--light-grey-darker-10);
}

.text-light-grey-darker-15 {
  color: var(--light-grey-darker-15);
}

.text-light-grey-darker-20 {
  color: var(--light-grey-darker-20);
}