:root {
  --orange-lighter-5: #ffb559;
  --orange-lighter-10: #ffc173;
  --orange-lighter-15: #ffcc8c;
  --orange-lighter-20: #ffd7a6;

  --orange-darker-5: #ff9f26;
  --orange-darker-10: #ff930d;
  --orange-darker-15: #f28700;
  --orange-darker-20: #d97800;
}


.bg-orange-lighter-5 {
  background-color: var(--orange-lighter-5);
  color: var(--black);
}

.bg-orange-lighter-10 {
  background-color: var(--orange-lighter-10);
  color: var(--black);
}

.bg-orange-lighter-15 {
  background-color: var(--orange-lighter-15);
  color: var(--black);
}

.bg-orange-lighter-20 {
  background-color: var(--orange-lighter-20);
  color: var(--black);
}

.bg-orange-darker-5 {
  background-color: var(--orange-darker-5);
  color: var(--black);
}

.bg-orange-darker-10 {
  background-color: var(--orange-darker-10);
  color: var(--black);
}

.bg-orange-darker-15 {
  background-color: var(--orange-darker-15);
  color: var(--black);
}

.bg-orange-darker-20 {
  background-color: var(--orange-darker-20);
  color: var(--black);
}

.text-orange-lighter-5 {
  color: var(--orange-lighter-5);
}

.text-orange-lighter-10 {
  color: var(--orange-lighter-10);
}

.text-orange-lighter-15 {
  color: var(--orange-lighter-15);
}

.text-orange-lighter-20 {
  color: var(--orange-lighter-20);
}

.text-orange-darker-5 {
  color: var(--orange-darker-5);
}

.text-orange-darker-10 {
  color: var(--orange-darker-10);
}

.text-orange-darker-15 {
  color: var(--orange-darker-15);
}

.text-orange-darker-20 {
  color: var(--orange-darker-20);
}