@import url(button.css);
@import url(../text/fonts.css);

.btn-blue {
  border: 1px solid var(--blue-600);
  color: var(--white);
  background-color: var(--blue-600);
}

.btn-blue:disabled {
  border-color: var(--blue-disabled);
  background-color: var(--blue-disabled);
  color: var(--white-disabled)
}

.btn-blue.outline {
  background-color: transparent;
  color: var(--blue-600);
}

.btn-blue.outline:disabled {
  color: var(--blue-disabled);
}


.btn-blue.outline:hover:not(:disabled),
.btn-blue:hover:not(:disabled) {
  color: #fff;
  border-color: var(--blue-500);
  background-color: var(--blue-500);
}

:not(.input-group) > .btn-blue:focus:not(:disabled),
:not(.input-group) > .btn-blue:focus-visible:not(:disabled) {
  box-shadow: 0 0 0 0.25rem var(--blue-300);
}
