@import url(button.css);
@import url(../text/fonts.css);

.btn-cyan {
  font-family: var(--font-family);
  border: 1px solid var(--cyan-500);
  color: var(--white-200);
  background-color: var(--cyan-500);
}

.btn-cyan:disabled {
  border-color: var(--cyan-700);
  background-color: var(--cyan-700);
  color: var(--grey-500)
}

.btn-cyan.outline {
  background-color: transparent;
  color: var(--cyan-500);
}

.btn-cyan.outline:disabled {
  color: var(--cyan-700);
}

.btn-cyan.outline:hover:not(:disabled),
.btn-cyan:hover:not(:disabled) {
  color: #fff;
  border-color: var(--cyan-600);
  background-color: var(--cyan-600);
}

:not(.input-group) > .btn-cyan:focus:not(:disabled),
:not(.input-group) > .btn-cyan:focus-visible:not(:disabled) {
  box-shadow: 0 0 0 0.25rem var(--cyan-300);
}