@import url(button.css);
@import url(../colors/disabled-colors.css);
@import url(../text/fonts.css);

.btn-red {
  --bg-light: var(--red-500);
  --bg-dark: var(--red-500);
  --border-light: var(--red-500);
  --border-dark: var(--red-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-red:disabled {
  --bg-light: var(--red-700);
  --bg-dark: var(--red-700);
  --border-light: var(--red-700);
  --border-dark: var(--red-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-red.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--red-500);
  --border-dark: var(--red-500);  
  --text-light: var(--red-500);
  --text-dark: var(--red-500);
}

.btn-red.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--red-700);
  --border-dark: var(--red-700);
  --text-light: var(--red-700);
  --text-dark: var(--red-700);
}

.btn-red.active:not(:disabled) {
  --bg-light: var(--red-700);
  --bg-dark: var(--red-700);
  --border-light: var(--red-700);
  --border-dark: var(--red-700);  
  --text-light: #fff;
  --text-dark: #fff;
}

.btn-red.outline:hover:not(:disabled):not(.active),
.btn-red:hover:not(:disabled):not(.active) {
  --bg-light: var(--red-600);
  --bg-dark: var(--red-600);
  --border-light: var(--red-600);
  --border-dark: var(--red-600);  
  --text-light: #fff;
  --text-dark: #fff;
}

:not(.input-group) > .btn-red:focus:not(:disabled),
:not(.input-group) > .btn-red:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--red-300);
}