@import url(button.css);
@import url(../text/fonts.css);


.btn-pink {
  --bg-light: var(--pink-500);
  --bg-dark: var(--pink-500);
  --border-light: var(--pink-500);
  --border-dark: var(--pink-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-pink:disabled {
  --bg-light: var(--pink-700);
  --bg-dark: var(--pink-700);
  --border-light: var(--pink-700);
  --border-dark: var(--pink-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-pink.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--pink-500);
  --border-dark: var(--pink-500);  
  --text-light: var(--pink-500);
  --text-dark: var(--pink-500);
}

.btn-pink.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--pink-700);
  --border-dark: var(--pink-700);
  --text-light: var(--pink-700);
  --text-dark: var(--pink-700);
}

.btn-pink.active:not(:disabled) {
  --bg-light: var(--pink-700);
  --bg-dark: var(--pink-700);
  --border-light: var(--pink-700);
  --border-dark: var(--pink-700);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

.btn-pink.outline:hover:not(:disabled):not(.active),
.btn-pink:hover:not(:disabled):not(.active) {
  --bg-light: var(--pink-600);
  --bg-dark: var(--pink-600);
  --border-light: var(--pink-600);
  --border-dark: var(--pink-600);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

:not(.input-group) > .btn-pink:focus:not(:disabled),
:not(.input-group) > .btn-pink:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--pink-300);
}