@import url(button.css);
@import url(../text/fonts.css);


.btn-cyan {
  --bg-light: var(--cyan-500);
  --bg-dark: var(--cyan-500);
  --border-light: var(--cyan-500);
  --border-dark: var(--cyan-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-cyan:disabled {
  --bg-light: var(--cyan-700);
  --bg-dark: var(--cyan-700);
  --border-light: var(--cyan-700);
  --border-dark: var(--cyan-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-cyan.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--cyan-500);
  --border-dark: var(--cyan-500);  
  --text-light: var(--cyan-500);
  --text-dark: var(--cyan-500);
}

.btn-cyan.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--cyan-700);
  --border-dark: var(--cyan-700);
  --text-light: var(--cyan-700);
  --text-dark: var(--cyan-700);
}

.btn-cyan.active:not(:disabled) {
  --bg-light: var(--cyan-700);
  --bg-dark: var(--cyan-700);
  --border-light: var(--cyan-700);
  --border-dark: var(--cyan-700);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

.btn-cyan.outline:hover:not(:disabled):not(.active),
.btn-cyan:hover:not(:disabled):not(.active) {
  --bg-light: var(--cyan-600);
  --bg-dark: var(--cyan-600);
  --border-light: var(--cyan-600);
  --border-dark: var(--cyan-600);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

:not(.input-group) > .btn-cyan:focus:not(:disabled),
:not(.input-group) > .btn-cyan:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--cyan-300);
}