@import url(button.css);
@import url(../text/fonts.css);

.btn-green {
  --bg-light: var(--green-500);
  --bg-dark: var(--green-500);
  --border-light: var(--green-500);
  --border-dark: var(--green-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-green:disabled {
  --bg-light: var(--green-700);
  --bg-dark: var(--green-700);
  --border-light: var(--green-700);
  --border-dark: var(--green-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-green.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--green-500);
  --border-dark: var(--green-500);  
  --text-light: var(--green-500);
  --text-dark: var(--green-500);
}

.btn-green.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--green-700);
  --border-dark: var(--green-700);
  --text-light: var(--green-700);
  --text-dark: var(--green-700);
}

.btn-green.active:not(:disabled) {
  --bg-light: var(--green-700);
  --bg-dark: var(--green-700);
  --border-light: var(--green-700);
  --border-dark: var(--green-700);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}


.btn-green.outline:hover:not(:disabled):not(.active),
.btn-green:hover:not(:disabled):not(.active) {
  --bg-light: var(--green-600);
  --bg-dark: var(--green-600);
  --border-light: var(--green-600);
  --border-dark: var(--green-600);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

:not(.input-group) > .btn-green:focus:not(:disabled),
:not(.input-group) > .btn-green:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--green-300);
}


