.btn,
.dark\:btn,
.light\:btn {
  color: inherit;
}



.btn,
.dark\:btn,
.light\:btn,
[class*="dark\:btn-"],
[class*="light\:btn-"],
[class*="btn-"] {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius : var(--spacing-2);  
  cursor: pointer;
  outline: 0; 
  transition: background-color,border-color,color,fill,stroke, 0.15s;  
}



.btn:disabled,
[class*="dark\:btn-"]:disabled,
[class*="light\:btn-"]:disabled,
[class*="btn-"]:disabled {  
  cursor: not-allowed;
}

.btn-circular {
  aspect-ratio: 1/1;
  border-radius: 100%
}


.btn-square {
  aspect-ratio: 1/1;
}


