@import url(button.css);
@import url(../text/fonts.css);

.btn-grey {
  --bg-light: var(--grey-500);
  --bg-dark: var(--grey-500);
  --border-light: var(--grey-500);
  --border-dark: var(--grey-500);
  --text-light: var(--black-800);
  --text-dark: var(--black-800);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-grey:disabled {
  --bg-light: var(--grey-800);
  --bg-dark: var(--grey-800);
  --border-light: var(--grey-800);
  --border-dark: var(--grey-800);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-grey.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--grey-600);
  --border-dark: var(--grey-500);  
  --text-light: var(--grey-600);
  --text-dark: var(--grey-500);
}

.btn-grey.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--grey-800);
  --border-dark: var(--grey-800);
  --text-light: var(--grey-800);
  --text-dark: var(--grey-800);
}

.btn-grey.active:not(:disabled) {
  --bg-light: var(--grey-700);
  --bg-dark: var(--grey-700);
  --border-light: var(--grey-700);
  --border-dark: var(--grey-700);  
  --text-light: #fff;
  --text-dark: #fff;
}

.btn-grey.outline:hover:not(:disabled):not(.active),
.btn-grey:hover:not(:disabled):not(.active) {
  --bg-light: var(--grey-600);
  --bg-dark: var(--grey-600);
  --border-light: var(--grey-600);
  --border-dark: var(--grey-600);  
  --text-light: #000;
  --text-dark: #000;
}

:not(.input-group) > .btn-grey:focus:not(:disabled),
:not(.input-group) > .btn-grey:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--grey-300);
}


