@import url(button.css);
@import url(../text/fonts.css);

.btn-black {
  --bg-light: var(--black-300);
  --bg-dark: var(--black-300);
  --border-light: var(--black-300);
  --border-dark: var(--black-300);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-black:disabled {
  --bg-light: var(--black-100);
  --bg-dark: var(--black-100);
  --border-light: var(--black-100);
  --border-dark: var(--black-100);
  --text-light: var(--grey-700);
  --text-dark: var(--grey-700);
}

.btn-black.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--black-500);
  --border-dark: var(--black-100);  
  --text-light: var(--black-500);
  --text-dark: var(--black-100);
}

.btn-black.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--black-100);
  --border-dark: var(--black-100);
  --text-light: var(--black-100);
  --text-dark: var(--black-100);
}

.btn-black.outline:hover:not(:disabled),
.btn-black:hover:not(:disabled) {
  --bg-light: var(--black-100);
  --bg-dark: var(--black-100);
  --border-light: var(--black-100);
  --border-dark: var(--black-100);  
  --text-light: #fff;
  --text-dark: #fff;
}

:not(.input-group) > .btn-black:focus:not(:disabled),
:not(.input-group) > .btn-black:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--grey-800);
}


