@import url(button.css);
@import url(../text/fonts.css);


.btn-yellow {
  --bg-light: var(--yellow-500);
  --bg-dark: var(--yellow-500);
  --border-light: var(--yellow-500);
  --border-dark: var(--yellow-500);
  --text-light: var(--black-800);
  --text-dark: var(--black-800);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-yellow:disabled {
  --bg-light: var(--yellow-700);
  --bg-dark: var(--yellow-700);
  --border-light: var(--yellow-700);
  --border-dark: var(--yellow-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-yellow.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--yellow-600);
  --border-dark: var(--yellow-500);  
  --text-light: var(--yellow-600);
  --text-dark: var(--yellow-500);
}

.btn-yellow.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--yellow-700);
  --border-dark: var(--yellow-700);
  --text-light: var(--yellow-700);
  --text-dark: var(--yellow-700);
}

.btn-yellow.active:not(:disabled) {
  --bg-light: var(--yellow-700);
  --bg-dark: var(--yellow-700);
  --border-light: var(--yellow-700);
  --border-dark: var(--yellow-700);  
  --text-light: #fff;
  --text-dark: #fff;
}

.btn-yellow.outline:hover:not(:disabled):not(.active),
.btn-yellow:hover:not(:disabled):not(.active) {
  --bg-light: var(--yellow-600);
  --bg-dark: var(--yellow-600);
  --border-light: var(--yellow-600);
  --border-dark: var(--yellow-600);  
  --text-light: #fff;
  --text-dark: #fff;
}

:not(.input-group) > .btn-yellow:focus:not(:disabled),
:not(.input-group) > .btn-yellow:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--yellow-300);
}