.btn-yellow,
.btn-orange,
.btn-red,
.btn-pink,
.btn-purple,
.btn-blue,
.btn-cyan,
.btn-green,
.btn-white,
.btn-grey,
.btn-black {
  font-family: var(--font-family);
  font-size: 1rem;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius : var(--spacing-2);
  cursor: pointer;
  outline: 0; 
  transition: background-color,border-color,color,fill,stroke, 0.15s;

}


.btn-yellow:disabled,
.btn-orange:disabled,
.btn-red:disabled,
.btn-pink:disabled,
.btn-purple:disabled,
.btn-blue:disabled,
.btn-cyan:disabled,
.btn-green:disabled,
.btn-white:disabled,
.btn-grey:disabled,
.btn-black:disabled {  
  cursor: not-allowed;
}

.btn-circular {
  aspect-ratio: 1/1;
  border-radius: 100%
}


.btn-square {
  aspect-ratio: 1/1;
}


