@import url(button.css);
@import url(../text/fonts.css);

.btn-grey {
  font-family: var(--font-family);
  border: 1px solid var(--grey-500);
  color: var(--black-800);
  background-color: var(--grey-500);
}

.btn-grey:disabled {
  border-color: var(--grey-800);
  background-color: var(--grey-800);
  color: var(--grey-500)
}

.btn-grey.outline {
  background-color: transparent;
  color: var(--grey-500);
}

.btn-grey.outline:disabled {
  color: var(--grey-800);
}

.btn-grey.outline:hover:not(:disabled),
.btn-grey:hover:not(:disabled) {
  color: #000;
  border-color: var(--grey-600);
  background-color: var(--grey-600);
}

:not(.input-group) > .btn-grey:focus:not(:disabled),
:not(.input-group) > .btn-grey:focus-visible:not(:disabled) {
  box-shadow: 0 0 0 0.25rem var(--grey-300);
}