.btn,
.dark\:btn,
.light\:btn {
  color: inherit;
  background-color: inherit;  
  --border-width: 1px;
  --border-bottom-width: 1px;
}

.btn,
.dark\:btn,
.light\:btn {
  color: inherit;
  background-color: inherit;  
  --border-width: 1px;
}

:not(.input-group) > .btn:focus:not(:disabled),
:not(.input-group) > .btn:focus-visible:not(:disabled),
:not(.input-group) > .dark\:btn:focus:not(:disabled),
:not(.input-group) > .dark\:btn:focus-visible:not(:disabled),
:not(.input-group) > .light\:btn:focus:not(:disabled),
:not(.input-group) > .light\:btn:focus-visible:not(:disabled) {
  --btn-box-shadow: oklch(var(--grey-500));
}


.btn,
.dark\:btn,
.light\:btn,
[class*="dark\:btn-"],
[class*="light\:btn-"],
[class*="btn-"] {

  appearance: button;
  font-family: var(--font-family);
  font-size: 1rem;
  padding: var(--spacing-2) var(--spacing-3);
  height: fit-content;
  border-radius : var(--spacing-2);    
  cursor: pointer;
  outline: 0;
  transition: background-color,border-color,color,fill,stroke, 0.15s;  

  background-color: light-dark(oklch(var(--bg-light, 0 0 0 / 0)), oklch(var(--bg-dark, 0 0 0 / 0)));

  border-color: light-dark(oklch(var(--border-light)), oklch(var(--border-dark)));
  border-top-width: var(--border-top-width, var(--border-width, 1px));
  border-right-width: var(--border-right-width, var(--border-width, 1px));
  border-bottom-width: var(--border-bottom-width, var(--border-width, 1px));
  border-left-width: var(--border-left-width, var(--border-width, 1px));
  
  color: light-dark(oklch(var(--text-light, var(--black-500))), oklch(var(--text-dark, var(--white-500))));
  
  box-shadow: 0 0 0 0.12rem var(--btn-box-shadow);
}

.btn:disabled,
.dark\:btn:disabled,
.light\:btn:disabled,
[class*="dark\:btn-"]:disabled,
[class*="light\:btn-"]:disabled,
[class*="btn-"]:disabled {  
  cursor: not-allowed;
}

.btn-circular {
  aspect-ratio: 1/1;
  border-radius: 100%;
  min-width: fit-content;
  min-height: fit-content;
  display: inline-flex;
  align-items: center;
}


.btn-square {
  aspect-ratio: 1/1;
  min-width: fit-content;
  min-height: fit-content;
  display: inline-flex;
  align-items: center;
}


