@import url(button.css);
@import url(../text/fonts.css);


.btn-orange {
  --bg-light: var(--orange-500);
  --bg-dark: var(--orange-500);
  --border-light: var(--orange-500);
  --border-dark: var(--orange-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-orange:disabled {
  --bg-light: var(--orange-700);
  --bg-dark: var(--orange-700);
  --border-light: var(--orange-700);
  --border-dark: var(--orange-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-orange.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--orange-500);
  --border-dark: var(--orange-500);  
  --text-light: var(--orange-500);
  --text-dark: var(--orange-500);
}

.btn-orange.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--orange-700);
  --border-dark: var(--orange-700);
  --text-light: var(--orange-700);
  --text-dark: var(--orange-700);
}

.btn-orange.active:not(:disabled) {
  --bg-light: var(--orange-700);
  --bg-dark: var(--orange-700);
  --border-light: var(--orange-700);
  --border-dark: var(--orange-700);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

.btn-orange.outline:hover:not(:disabled):not(.active),
.btn-orange:hover:not(:disabled):not(.active) {
  --bg-light: var(--orange-600);
  --bg-dark: var(--orange-600);
  --border-light: var(--orange-600);
  --border-dark: var(--orange-600);  
  --text-light: 1 0 0;
  --text-dark: 1 0 0;
}

:not(.input-group) > .btn-orange:focus:not(:disabled),
:not(.input-group) > .btn-orange:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--orange-300);
}