@import url(button.css);
@import url(../text/fonts.css);

.btn-white {
  --bg-light: var(--white-500);
  --bg-dark: var(--white-300);
  --border-light: var(--white-500);
  --border-dark: var(--white-300);
  --text-light: var(--black-600);
  --text-dark: var(--black-600);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-white:disabled {
  --bg-light: var(--white-900);
  --bg-dark: var(--white-900);
  --border-light: var(--white-900);
  --border-dark: var(--white-900);
  --text-light: var(--grey-600);
  --text-dark: var(--grey-600);
}

.btn-white.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--white-900);
  --border-dark: var(--white-300);  
  --text-light: var(--white-900);
  --text-dark: var(--white-300);
}

.btn-white.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--white-900);
  --border-dark: var(--white-900);
  --text-light: var(--white-900);
  --text-dark: var(--white-900);
}

.btn-white.active:not(:disabled) {
  --bg-light: var(--white-900);
  --bg-dark: var(--white-900);
  --border-light: var(--white-900);
  --border-dark: var(--white-900);  
  --text-light: #000;
  --text-dark: #000;
}

.btn-white.outline:hover:not(:disabled):not(.active),
.btn-white:hover:not(:disabled):not(.active) {
  --bg-light: var(--white-700);
  --bg-dark: var(--white-700);
  --border-light: var(--white-700);
  --border-dark: var(--white-700);  
  --text-light: #000;
  --text-dark: #000;
}

:not(.input-group) > .btn-white:focus:not(:disabled),
:not(.input-group) > .btn-white:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--white-50);
}


