@import url(button.css);
@import url(../text/fonts.css);



.btn-blue {
  --bg-light: var(--blue-500);
  --bg-dark: var(--blue-500);
  --border-light: var(--blue-500);
  --border-dark: var(--blue-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-blue:disabled {
  --bg-light: var(--blue-700);
  --bg-dark: var(--blue-700);
  --border-light: var(--blue-700);
  --border-dark: var(--blue-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}




.btn-blue.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--blue-500);
  --border-dark: var(--blue-500);  
  --text-light: var(--blue-500);
  --text-dark: var(--blue-500);
}

.btn-blue.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--blue-700);
  --border-dark: var(--blue-700);
  --text-light: var(--blue-700);
  --text-dark: var(--blue-700);
}

.btn-blue.active:not(:disabled) {
  --bg-light: var(--blue-700);
  --bg-dark: var(--blue-700);
  --border-light: var(--blue-700);
  --border-dark: var(--blue-700);  
  --text-light: #fff;
  --text-dark: #fff;
}

.btn-blue.outline:hover:not(:disabled):not(.active),
.btn-blue:hover:not(:disabled):not(.active) {
  --bg-light: var(--blue-600);
  --bg-dark: var(--blue-600);
  --border-light: var(--blue-600);
  --border-dark: var(--blue-600);  
  --text-light: #fff;
  --text-dark: #fff;
}

:not(.input-group) > .btn-blue:focus:not(:disabled),
:not(.input-group) > .btn-blue:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--blue-300);
}


