@import url(button.css);
@import url(../text/fonts.css);


.btn-purple {
  --bg-light: var(--purple-500);
  --bg-dark: var(--purple-500);
  --border-light: var(--purple-500);
  --border-dark: var(--purple-500);
  --text-light: var(--white-200);
  --text-dark: var(--white-200);
  --border-width: 1px;
  --btn-box-shadow: transparent;  
}

.btn-purple:disabled {
  --bg-light: var(--purple-700);
  --bg-dark: var(--purple-700);
  --border-light: var(--purple-700);
  --border-dark: var(--purple-700);
  --text-light: var(--grey-500);
  --text-dark: var(--grey-500);
}

.btn-purple.outline {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--purple-500);
  --border-dark: var(--purple-500);  
  --text-light: var(--purple-500);
  --text-dark: var(--purple-500);
}

.btn-purple.outline:disabled {
  --bg-light: transparent;
  --bg-dark: transparent;
  --border-light: var(--purple-700);
  --border-dark: var(--purple-700);
  --text-light: var(--purple-700);
  --text-dark: var(--purple-700);
}

.btn-purple.active:not(:disabled) {
  --bg-light: var(--purple-700);
  --bg-dark: var(--purple-700);
  --border-light: var(--purple-700);
  --border-dark: var(--purple-700);  
  --text-light: #fff;
  --text-dark: #fff;
}

.btn-purple.outline:hover:not(:disabled):not(.active),
.btn-purple:hover:not(:disabled):not(.active) {
  --bg-light: var(--purple-600);
  --bg-dark: var(--purple-600);
  --border-light: var(--purple-600);
  --border-dark: var(--purple-600);  
  --text-light: #fff;
  --text-dark: #fff;
}

:not(.input-group) > .btn-purple:focus:not(:disabled),
:not(.input-group) > .btn-purple:focus-visible:not(:disabled) {
  --btn-box-shadow: var(--purple-300);
}