@import url(button.css);
@import url(../text/fonts.css);

.btn-green {
  border: 1px solid var(--green-500);
  color: var(--white-200);
  background-color: var(--green-500);
}

.btn-green:disabled {
  border-color: var(--green-disabled);
  background-color: var(--green-disabled);
  color: var(--white-disabled)
}


.btn-green.outline {
  background-color: transparent;
  color: var(--green-500);
}

.btn-green.outline:disabled {
  color: var(--green-disabled);
}

.btn-green.outline:hover:not(:disabled),
.btn-green:hover:not(:disabled) {
  color: #fff;
  border-color: var(--green-600);
  background-color: var(--green-600);
}

:not(.input-group) > .btn-green:focus:not(:disabled),
:not(.input-group) > .btn-green:focus-visible:not(:disabled) {
  box-shadow: 0 0 0 0.25rem var(--green-300);
}