@import url(button.css);
@import url(../text/fonts.css);

.btn-purple {
  font-family: var(--font-family);
  border: 1px solid var(--purple-500);
  color: var(--white-200);
  background-color: var(--purple-500);
}

.btn-purple:disabled {
  border-color: var(--purple-disabled);
  background-color: var(--purple-disabled);
  color: var(--white-disabled)
}

.btn-purple.outline {
  background-color: transparent;
  color: var(--purple-500);
}

.btn-purple.outline:disabled {
  color: var(--purple-disabled);
}

.btn-purple.outline:hover:not(:disabled),
.btn-purple:hover:not(:disabled) {
  color: #fff;
  border-color: var(--purple-600);
  background-color: var(--purple-600);
}

:not(.input-group) > .btn-purple:focus:not(:disabled),
:not(.input-group) > .btn-purple:focus-visible:not(:disabled) {
  box-shadow: 0 0 0 0.25rem var(--purple-300);
}