<dialog id="basic-modal-example" class="modal" data-close-modal>
    <div class="modal-content">
        <header>
            <h2 class="mt-0">Basic Modal Example</h2>
            <button type="button" class="btn-close" data-close-modal aria-label="Close"></button>
        </header>
        <div>
            This is a basic example            
        </div>
        <footer class="align-right">
            <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="modal">Documentation</button>
            <button class="btn-red" data-close-modal>Close</button>
        </footer>
    </div>
</dialog>