<dialog id="long-content-modal" aria-modal="true" class="modal overflow-y-hidden" data-close-modal>
    <div class="overflow-y-auto">
        <div class="modal-content">
            <header>
                <h2 class="mt-0">Long content</h2>
            </header>
            <div>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>
                <p class="handwritten text-lg">I will not talk in class I will not talk in class</p>


            </div>
            <footer class="align-right">
                <button class="btn-blue" data-close-modal>Close</button>
            </footer>
        </div>
    </div>
</dialog>