<dialog id="long-content-modal" aria-modal="true" class="modal overflow-y-hidden" data-close-modal>
    <div class="overflow-y-auto">
        <div class="modal-content">
            <header>
                <h2 class="mt-0">Long content</h2>
            </header>
            <div class="fs-2xl">
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>
                <p class="handwritten">I will not talk in class <span class="d-none d-md-inline">I will not talk in class</span></p>


            </div>
            <footer class="align-right">
                <button class="btn-blue" data-close-modal>Close</button>
            </footer>
        </div>
    </div>
</dialog>