<dialog id="modal-500px" aria-modal="true" class="modal" data-close-modal>
    <div class="modal-content w-500px">
        <header>
            <h2 class="mt-0">500 Pixels Width Modal</h2>
             <button type="button" class="btn-close" data-close-modal aria-label="Close"></button>
        </header>
        <div class="text-center">
            <p>On sufficiently large viewports, this modal scales to a width of 500 pixels.</p>
        </div>
        <footer class="align-right">
            <button class="btn-blue" data-open-modal="documentation-modal"  data-documentation="modal">Documentation</button>
            <button class="btn-grey" data-close-modal>Close</button>
        </footer>
    </div>
</dialog>