<dialog id="no-animation-modal" aria-modal="true" class="modal no-animation" data-close-modal>
    <div class="modal-content">
        <header>
            <h2 class="mt-0">Without animation</h2>
            <button type="button" class="btn-close" data-close-modal aria-label="Close"></button>
        </header>
        <div>
            This overlay should be displayed without animation.
        </div>
        <footer class="align-right">
            <button class="btn-blue" data-open-modal="documentation-modal" data-documentation="modal">Documentation</button>
            <button class="btn-grey" data-close-modal>Close</button>
        </footer>
    </div>
</dialog>