<dialog id="blurred-modal" class="modal no-blur" data-close-modal>
    <div class="modal-content">
        <header>
            <h2 class="mt-0">Without Blur</h2>
        </header>
        <div>
            Overlay should be displayed without blur.
        </div>
        <footer class="align-right">
            <button class="btn-blue" data-close-modal>Close</button>
        </footer>
    </div>
</dialog>