<dialog id="simple-modal" class="modal" data-close-modal>
    <div class="modal-content">
        <header>
            <h2 class="mt-0">Modal Example</h2>
        </header>
        <div>
            Whoa There, Cowboy!
        </div>
        <footer class="align-right">
            <button class="btn-blue" data-close-modal>Close</button>
        </footer>
    </div>
</dialog>