<dialog id="toggle-modal-1" aria-modal="true" class="modal" data-close-modal>
    <div class="modal-content">
        <header>
            <h2 class="mt-0">Modal 1</h2>
            <button type="button" class="btn-close" data-close-modal aria-label="Close"></button>
        </header>
        <div>
            Click the button to open the second modal.
        </div>
        <footer class="align-right">
            <button class="btn-blue" data-open-modal="toggle-modal-2">Open second modal</button>
            <button class="btn-grey" data-close-modal>Close</button>
        </footer>
    </div>
</dialog>