

body:has(.modal[open]) {
  overflow-x: hidden;    
}


.modal::-webkit-scrollbar-thumb {  
  background-color: red;
  color: blue;
}

.modal {  
  z-index: 1055;
  max-height: 100vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid light-dark(var(--grey-500), var(--black-200));
  border-radius: var(--spacing-3);
  background-color: light-dark(var(--white-200), var(--black-800));
  height: fit-content;
  overflow-x: hidden;  
  overflow-y: auto;  
  color: inherit;
  --opening-duration: 300ms;
  --closing-duration: 200ms;
}

.modal>*:first-child {
  max-height: 96vh;
}

.modal-content {
  overscroll-behavior: contain;  
  height: fit-content;
  overflow-y: auto;
}



.modal-content>header {
  border-bottom: 1px solid light-dark(var(--grey-500), var(--grey-950));
  padding: var(--spacing-4);
}

.modal-content>div {
  padding: var(--spacing-4);
}

.modal-content>footer {
  border-top: 1px solid light-dark(var(--grey-500), var(--grey-950));
  padding: var(--spacing-4);
}




.modal::backdrop {
  background-color: light-dark(#0000008f, #000000af);
  opacity: 1;
  backdrop-filter: blur(0.375rem);
  height: 100%;
}



.modal.no-animation {
  --opening-duration: 0ms;
  --closing-duration: 0ms;
}

.modal.no-blur::backdrop {
  backdrop-filter: blur(0rem);
}


.modal.modal-is-opening {
  animation: modal-animation;
  animation-duration: var(--opening-duration);
}

.modal.modal-is-closing {
  animation: modal-animation;
  animation-duration: var(--closing-duration);
  animation-direction: reverse;
}

.modal.modal-is-opening::backdrop {
  animation: modal-backdrop-animation;
  animation-duration: var(--opening-duration);
}

.modal.modal-is-closing::backdrop {
  animation: modal-backdrop-animation;
  animation-duration: var(--closing-duration);
  animation-direction: reverse;
}





/*
.modal>article {
  
  margin: var(--spacing-6);
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  border: 1px solid light-dark(var(--grey-500), var(--grey-950));
  border-radius: var(--spacing-3);
  background-color: light-dark(var(--white-500), var(--black-500));
}
*/




@keyframes modal-animation {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-backdrop-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}