@import url(../palette.css);

.text-green { --text-light:var(--green-500);--text-dark:var(--green-500);}
.text-green-50  { --text-light:var(--green-50 );--text-dark:var(--green-50 );}
.text-green-100 { --text-light:var(--green-100);--text-dark:var(--green-100);}
.text-green-200 { --text-light:var(--green-200);--text-dark:var(--green-200);}
.text-green-300 { --text-light:var(--green-300);--text-dark:var(--green-300);}
.text-green-400 { --text-light:var(--green-400);--text-dark:var(--green-400);}
.text-green-500 { --text-light:var(--green-500);--text-dark:var(--green-500);}
.text-green-600 { --text-light:var(--green-600);--text-dark:var(--green-600);}
.text-green-700 { --text-light:var(--green-700);--text-dark:var(--green-700);}
.text-green-800 { --text-light:var(--green-800);--text-dark:var(--green-800);}
.text-green-900 { --text-light:var(--green-900);--text-dark:var(--green-900);}
.text-green-950 { --text-light:var(--green-950);--text-dark:var(--green-950);}

.light\:text-green { --text-light:var(--green-500 ); }
.light\:text-green-50  { --text-light:var(--green-50 ); }
.light\:text-green-100 { --text-light:var(--green-100); }
.light\:text-green-200 { --text-light:var(--green-200); }
.light\:text-green-300 { --text-light:var(--green-300); }
.light\:text-green-400 { --text-light:var(--green-400); }
.light\:text-green-500 { --text-light:var(--green-500); }
.light\:text-green-600 { --text-light:var(--green-600); }
.light\:text-green-700 { --text-light:var(--green-700); }
.light\:text-green-800 { --text-light:var(--green-800); }
.light\:text-green-900 { --text-light:var(--green-900); }
.light\:text-green-950 { --text-light:var(--green-950); }

.dark\:text-green  { --text-dark:var(--green-500 ); }
.dark\:text-green-50  { --text-dark:var(--green-50 ); }
.dark\:text-green-100 { --text-dark:var(--green-100); }
.dark\:text-green-200 { --text-dark:var(--green-200); }
.dark\:text-green-300 { --text-dark:var(--green-300); }
.dark\:text-green-400 { --text-dark:var(--green-400); }
.dark\:text-green-500 { --text-dark:var(--green-500); }
.dark\:text-green-600 { --text-dark:var(--green-600); }
.dark\:text-green-700 { --text-dark:var(--green-700); }
.dark\:text-green-800 { --text-dark:var(--green-800); }
.dark\:text-green-900 { --text-dark:var(--green-900); }
.dark\:text-green-950 { --text-dark:var(--green-950); }


.hover\:text-green:hover { --text-light:var(--green-500);--text-dark:var(--green-500);}
.hover\:text-green-50:hover  { --text-light:var(--green-50 );--text-dark:var(--green-50 );}
.hover\:text-green-100:hover { --text-light:var(--green-100);--text-dark:var(--green-100);}
.hover\:text-green-200:hover { --text-light:var(--green-200);--text-dark:var(--green-200);}
.hover\:text-green-300:hover { --text-light:var(--green-300);--text-dark:var(--green-300);}
.hover\:text-green-400:hover { --text-light:var(--green-400);--text-dark:var(--green-400);}
.hover\:text-green-500:hover { --text-light:var(--green-500);--text-dark:var(--green-500);}
.hover\:text-green-600:hover { --text-light:var(--green-600);--text-dark:var(--green-600);}
.hover\:text-green-700:hover { --text-light:var(--green-700);--text-dark:var(--green-700);}
.hover\:text-green-800:hover { --text-light:var(--green-800);--text-dark:var(--green-800);}
.hover\:text-green-900:hover { --text-light:var(--green-900);--text-dark:var(--green-900);}
.hover\:text-green-950:hover { --text-light:var(--green-950);--text-dark:var(--green-950);}

.light\:hover\:text-green:hover { --text-light:var(--green-500 ); }
.light\:hover\:text-green-50:hover  { --text-light:var(--green-50 ); }
.light\:hover\:text-green-100:hover { --text-light:var(--green-100); }
.light\:hover\:text-green-200:hover { --text-light:var(--green-200); }
.light\:hover\:text-green-300:hover { --text-light:var(--green-300); }
.light\:hover\:text-green-400:hover { --text-light:var(--green-400); }
.light\:hover\:text-green-500:hover { --text-light:var(--green-500); }
.light\:hover\:text-green-600:hover { --text-light:var(--green-600); }
.light\:hover\:text-green-700:hover { --text-light:var(--green-700); }
.light\:hover\:text-green-800:hover { --text-light:var(--green-800); }
.light\:hover\:text-green-900:hover { --text-light:var(--green-900); }
.light\:hover\:text-green-950:hover { --text-light:var(--green-950); }

.dark\:hover\:text-green:hover  { --text-dark:var(--green-500 ); }
.dark\:hover\:text-green-50:hover  { --text-dark:var(--green-50 ); }
.dark\:hover\:text-green-100:hover { --text-dark:var(--green-100); }
.dark\:hover\:text-green-200:hover { --text-dark:var(--green-200); }
.dark\:hover\:text-green-300:hover { --text-dark:var(--green-300); }
.dark\:hover\:text-green-400:hover { --text-dark:var(--green-400); }
.dark\:hover\:text-green-500:hover { --text-dark:var(--green-500); }
.dark\:hover\:text-green-600:hover { --text-dark:var(--green-600); }
.dark\:hover\:text-green-700:hover { --text-dark:var(--green-700); }
.dark\:hover\:text-green-800:hover { --text-dark:var(--green-800); }
.dark\:hover\:text-green-900:hover { --text-dark:var(--green-900); }
.dark\:hover\:text-green-950:hover { --text-dark:var(--green-950); }