@import url(../palette.css);

.text-yellow { --text-light:var(--yellow-500);--text-dark:var(--yellow-500);}
.text-yellow-50  { --text-light:var(--yellow-50 );--text-dark:var(--yellow-50 );}
.text-yellow-100 { --text-light:var(--yellow-100);--text-dark:var(--yellow-100);}
.text-yellow-200 { --text-light:var(--yellow-200);--text-dark:var(--yellow-200);}
.text-yellow-300 { --text-light:var(--yellow-300);--text-dark:var(--yellow-300);}
.text-yellow-400 { --text-light:var(--yellow-400);--text-dark:var(--yellow-400);}
.text-yellow-500 { --text-light:var(--yellow-500);--text-dark:var(--yellow-500);}
.text-yellow-600 { --text-light:var(--yellow-600);--text-dark:var(--yellow-600);}
.text-yellow-700 { --text-light:var(--yellow-700);--text-dark:var(--yellow-700);}
.text-yellow-800 { --text-light:var(--yellow-800);--text-dark:var(--yellow-800);}
.text-yellow-900 { --text-light:var(--yellow-900);--text-dark:var(--yellow-900);}
.text-yellow-950 { --text-light:var(--yellow-950);--text-dark:var(--yellow-950);}

.light\:text-yellow { --text-light:var(--yellow-500 ); }
.light\:text-yellow-50  { --text-light:var(--yellow-50 ); }
.light\:text-yellow-100 { --text-light:var(--yellow-100); }
.light\:text-yellow-200 { --text-light:var(--yellow-200); }
.light\:text-yellow-300 { --text-light:var(--yellow-300); }
.light\:text-yellow-400 { --text-light:var(--yellow-400); }
.light\:text-yellow-500 { --text-light:var(--yellow-500); }
.light\:text-yellow-600 { --text-light:var(--yellow-600); }
.light\:text-yellow-700 { --text-light:var(--yellow-700); }
.light\:text-yellow-800 { --text-light:var(--yellow-800); }
.light\:text-yellow-900 { --text-light:var(--yellow-900); }
.light\:text-yellow-950 { --text-light:var(--yellow-950); }

.dark\:text-yellow  { --text-dark:var(--yellow-500 ); }
.dark\:text-yellow-50  { --text-dark:var(--yellow-50 ); }
.dark\:text-yellow-100 { --text-dark:var(--yellow-100); }
.dark\:text-yellow-200 { --text-dark:var(--yellow-200); }
.dark\:text-yellow-300 { --text-dark:var(--yellow-300); }
.dark\:text-yellow-400 { --text-dark:var(--yellow-400); }
.dark\:text-yellow-500 { --text-dark:var(--yellow-500); }
.dark\:text-yellow-600 { --text-dark:var(--yellow-600); }
.dark\:text-yellow-700 { --text-dark:var(--yellow-700); }
.dark\:text-yellow-800 { --text-dark:var(--yellow-800); }
.dark\:text-yellow-900 { --text-dark:var(--yellow-900); }
.dark\:text-yellow-950 { --text-dark:var(--yellow-950); }


.hover\:text-yellow:hover { --text-light:var(--yellow-500);--text-dark:var(--yellow-500);}
.hover\:text-yellow-50:hover  { --text-light:var(--yellow-50 );--text-dark:var(--yellow-50 );}
.hover\:text-yellow-100:hover { --text-light:var(--yellow-100);--text-dark:var(--yellow-100);}
.hover\:text-yellow-200:hover { --text-light:var(--yellow-200);--text-dark:var(--yellow-200);}
.hover\:text-yellow-300:hover { --text-light:var(--yellow-300);--text-dark:var(--yellow-300);}
.hover\:text-yellow-400:hover { --text-light:var(--yellow-400);--text-dark:var(--yellow-400);}
.hover\:text-yellow-500:hover { --text-light:var(--yellow-500);--text-dark:var(--yellow-500);}
.hover\:text-yellow-600:hover { --text-light:var(--yellow-600);--text-dark:var(--yellow-600);}
.hover\:text-yellow-700:hover { --text-light:var(--yellow-700);--text-dark:var(--yellow-700);}
.hover\:text-yellow-800:hover { --text-light:var(--yellow-800);--text-dark:var(--yellow-800);}
.hover\:text-yellow-900:hover { --text-light:var(--yellow-900);--text-dark:var(--yellow-900);}
.hover\:text-yellow-950:hover { --text-light:var(--yellow-950);--text-dark:var(--yellow-950);}

.light\:hover\:text-yellow:hover { --text-light:var(--yellow-500 ); }
.light\:hover\:text-yellow-50:hover  { --text-light:var(--yellow-50 ); }
.light\:hover\:text-yellow-100:hover { --text-light:var(--yellow-100); }
.light\:hover\:text-yellow-200:hover { --text-light:var(--yellow-200); }
.light\:hover\:text-yellow-300:hover { --text-light:var(--yellow-300); }
.light\:hover\:text-yellow-400:hover { --text-light:var(--yellow-400); }
.light\:hover\:text-yellow-500:hover { --text-light:var(--yellow-500); }
.light\:hover\:text-yellow-600:hover { --text-light:var(--yellow-600); }
.light\:hover\:text-yellow-700:hover { --text-light:var(--yellow-700); }
.light\:hover\:text-yellow-800:hover { --text-light:var(--yellow-800); }
.light\:hover\:text-yellow-900:hover { --text-light:var(--yellow-900); }
.light\:hover\:text-yellow-950:hover { --text-light:var(--yellow-950); }

.dark\:hover\:text-yellow:hover  { --text-dark:var(--yellow-500 ); }
.dark\:hover\:text-yellow-50:hover  { --text-dark:var(--yellow-50 ); }
.dark\:hover\:text-yellow-100:hover { --text-dark:var(--yellow-100); }
.dark\:hover\:text-yellow-200:hover { --text-dark:var(--yellow-200); }
.dark\:hover\:text-yellow-300:hover { --text-dark:var(--yellow-300); }
.dark\:hover\:text-yellow-400:hover { --text-dark:var(--yellow-400); }
.dark\:hover\:text-yellow-500:hover { --text-dark:var(--yellow-500); }
.dark\:hover\:text-yellow-600:hover { --text-dark:var(--yellow-600); }
.dark\:hover\:text-yellow-700:hover { --text-dark:var(--yellow-700); }
.dark\:hover\:text-yellow-800:hover { --text-dark:var(--yellow-800); }
.dark\:hover\:text-yellow-900:hover { --text-dark:var(--yellow-900); }
.dark\:hover\:text-yellow-950:hover { --text-dark:var(--yellow-950); }