@import url(../palette.css);

.text-orange { --text-light:var(--orange-500);--text-dark:var(--orange-500);}
.text-orange-50  { --text-light:var(--orange-50 );--text-dark:var(--orange-50 );}
.text-orange-100 { --text-light:var(--orange-100);--text-dark:var(--orange-100);}
.text-orange-200 { --text-light:var(--orange-200);--text-dark:var(--orange-200);}
.text-orange-300 { --text-light:var(--orange-300);--text-dark:var(--orange-300);}
.text-orange-400 { --text-light:var(--orange-400);--text-dark:var(--orange-400);}
.text-orange-500 { --text-light:var(--orange-500);--text-dark:var(--orange-500);}
.text-orange-600 { --text-light:var(--orange-600);--text-dark:var(--orange-600);}
.text-orange-700 { --text-light:var(--orange-700);--text-dark:var(--orange-700);}
.text-orange-800 { --text-light:var(--orange-800);--text-dark:var(--orange-800);}
.text-orange-900 { --text-light:var(--orange-900);--text-dark:var(--orange-900);}
.text-orange-950 { --text-light:var(--orange-950);--text-dark:var(--orange-950);}

.light\:text-orange { --text-light:var(--orange-500 ); }
.light\:text-orange-50  { --text-light:var(--orange-50 ); }
.light\:text-orange-100 { --text-light:var(--orange-100); }
.light\:text-orange-200 { --text-light:var(--orange-200); }
.light\:text-orange-300 { --text-light:var(--orange-300); }
.light\:text-orange-400 { --text-light:var(--orange-400); }
.light\:text-orange-500 { --text-light:var(--orange-500); }
.light\:text-orange-600 { --text-light:var(--orange-600); }
.light\:text-orange-700 { --text-light:var(--orange-700); }
.light\:text-orange-800 { --text-light:var(--orange-800); }
.light\:text-orange-900 { --text-light:var(--orange-900); }
.light\:text-orange-950 { --text-light:var(--orange-950); }

.dark\:text-orange  { --text-dark:var(--orange-500 ); }
.dark\:text-orange-50  { --text-dark:var(--orange-50 ); }
.dark\:text-orange-100 { --text-dark:var(--orange-100); }
.dark\:text-orange-200 { --text-dark:var(--orange-200); }
.dark\:text-orange-300 { --text-dark:var(--orange-300); }
.dark\:text-orange-400 { --text-dark:var(--orange-400); }
.dark\:text-orange-500 { --text-dark:var(--orange-500); }
.dark\:text-orange-600 { --text-dark:var(--orange-600); }
.dark\:text-orange-700 { --text-dark:var(--orange-700); }
.dark\:text-orange-800 { --text-dark:var(--orange-800); }
.dark\:text-orange-900 { --text-dark:var(--orange-900); }
.dark\:text-orange-950 { --text-dark:var(--orange-950); }


.hover\:text-orange:hover { --text-light:var(--orange-500);--text-dark:var(--orange-500);}
.hover\:text-orange-50:hover  { --text-light:var(--orange-50 );--text-dark:var(--orange-50 );}
.hover\:text-orange-100:hover { --text-light:var(--orange-100);--text-dark:var(--orange-100);}
.hover\:text-orange-200:hover { --text-light:var(--orange-200);--text-dark:var(--orange-200);}
.hover\:text-orange-300:hover { --text-light:var(--orange-300);--text-dark:var(--orange-300);}
.hover\:text-orange-400:hover { --text-light:var(--orange-400);--text-dark:var(--orange-400);}
.hover\:text-orange-500:hover { --text-light:var(--orange-500);--text-dark:var(--orange-500);}
.hover\:text-orange-600:hover { --text-light:var(--orange-600);--text-dark:var(--orange-600);}
.hover\:text-orange-700:hover { --text-light:var(--orange-700);--text-dark:var(--orange-700);}
.hover\:text-orange-800:hover { --text-light:var(--orange-800);--text-dark:var(--orange-800);}
.hover\:text-orange-900:hover { --text-light:var(--orange-900);--text-dark:var(--orange-900);}
.hover\:text-orange-950:hover { --text-light:var(--orange-950);--text-dark:var(--orange-950);}

.light\:hover\:text-orange:hover { --text-light:var(--orange-500 ); }
.light\:hover\:text-orange-50:hover  { --text-light:var(--orange-50 ); }
.light\:hover\:text-orange-100:hover { --text-light:var(--orange-100); }
.light\:hover\:text-orange-200:hover { --text-light:var(--orange-200); }
.light\:hover\:text-orange-300:hover { --text-light:var(--orange-300); }
.light\:hover\:text-orange-400:hover { --text-light:var(--orange-400); }
.light\:hover\:text-orange-500:hover { --text-light:var(--orange-500); }
.light\:hover\:text-orange-600:hover { --text-light:var(--orange-600); }
.light\:hover\:text-orange-700:hover { --text-light:var(--orange-700); }
.light\:hover\:text-orange-800:hover { --text-light:var(--orange-800); }
.light\:hover\:text-orange-900:hover { --text-light:var(--orange-900); }
.light\:hover\:text-orange-950:hover { --text-light:var(--orange-950); }

.dark\:hover\:text-orange:hover  { --text-dark:var(--orange-500 ); }
.dark\:hover\:text-orange-50:hover  { --text-dark:var(--orange-50 ); }
.dark\:hover\:text-orange-100:hover { --text-dark:var(--orange-100); }
.dark\:hover\:text-orange-200:hover { --text-dark:var(--orange-200); }
.dark\:hover\:text-orange-300:hover { --text-dark:var(--orange-300); }
.dark\:hover\:text-orange-400:hover { --text-dark:var(--orange-400); }
.dark\:hover\:text-orange-500:hover { --text-dark:var(--orange-500); }
.dark\:hover\:text-orange-600:hover { --text-dark:var(--orange-600); }
.dark\:hover\:text-orange-700:hover { --text-dark:var(--orange-700); }
.dark\:hover\:text-orange-800:hover { --text-dark:var(--orange-800); }
.dark\:hover\:text-orange-900:hover { --text-dark:var(--orange-900); }
.dark\:hover\:text-orange-950:hover { --text-dark:var(--orange-950); }