@import url(../palette.css);

.text-white { --text-light:var(--white-500);--text-dark:var(--white-500);}
.text-white-50  { --text-light:var(--white-50 );--text-dark:var(--white-50 );}
.text-white-100 { --text-light:var(--white-100);--text-dark:var(--white-100);}
.text-white-200 { --text-light:var(--white-200);--text-dark:var(--white-200);}
.text-white-300 { --text-light:var(--white-300);--text-dark:var(--white-300);}
.text-white-400 { --text-light:var(--white-400);--text-dark:var(--white-400);}
.text-white-500 { --text-light:var(--white-500);--text-dark:var(--white-500);}
.text-white-600 { --text-light:var(--white-600);--text-dark:var(--white-600);}
.text-white-700 { --text-light:var(--white-700);--text-dark:var(--white-700);}
.text-white-800 { --text-light:var(--white-800);--text-dark:var(--white-800);}
.text-white-900 { --text-light:var(--white-900);--text-dark:var(--white-900);}
.text-white-950 { --text-light:var(--white-950);--text-dark:var(--white-950);}

.light\:text-white { --text-light:var(--white-500 ); }
.light\:text-white-50  { --text-light:var(--white-50 ); }
.light\:text-white-100 { --text-light:var(--white-100); }
.light\:text-white-200 { --text-light:var(--white-200); }
.light\:text-white-300 { --text-light:var(--white-300); }
.light\:text-white-400 { --text-light:var(--white-400); }
.light\:text-white-500 { --text-light:var(--white-500); }
.light\:text-white-600 { --text-light:var(--white-600); }
.light\:text-white-700 { --text-light:var(--white-700); }
.light\:text-white-800 { --text-light:var(--white-800); }
.light\:text-white-900 { --text-light:var(--white-900); }
.light\:text-white-950 { --text-light:var(--white-950); }

.dark\:text-white  { --text-dark:var(--white-500 ); }
.dark\:text-white-50  { --text-dark:var(--white-50 ); }
.dark\:text-white-100 { --text-dark:var(--white-100); }
.dark\:text-white-200 { --text-dark:var(--white-200); }
.dark\:text-white-300 { --text-dark:var(--white-300); }
.dark\:text-white-400 { --text-dark:var(--white-400); }
.dark\:text-white-500 { --text-dark:var(--white-500); }
.dark\:text-white-600 { --text-dark:var(--white-600); }
.dark\:text-white-700 { --text-dark:var(--white-700); }
.dark\:text-white-800 { --text-dark:var(--white-800); }
.dark\:text-white-900 { --text-dark:var(--white-900); }
.dark\:text-white-950 { --text-dark:var(--white-950); }


hover\:.text-white:hover { --text-light:var(--white-500);--text-dark:var(--white-500);}
hover\:.text-white-50:hover  { --text-light:var(--white-50 );--text-dark:var(--white-50 );}
hover\:.text-white-100:hover { --text-light:var(--white-100);--text-dark:var(--white-100);}
hover\:.text-white-200:hover { --text-light:var(--white-200);--text-dark:var(--white-200);}
hover\:.text-white-300:hover { --text-light:var(--white-300);--text-dark:var(--white-300);}
hover\:.text-white-400:hover { --text-light:var(--white-400);--text-dark:var(--white-400);}
hover\:.text-white-500:hover { --text-light:var(--white-500);--text-dark:var(--white-500);}
hover\:.text-white-600:hover { --text-light:var(--white-600);--text-dark:var(--white-600);}
hover\:.text-white-700:hover { --text-light:var(--white-700);--text-dark:var(--white-700);}
hover\:.text-white-800:hover { --text-light:var(--white-800);--text-dark:var(--white-800);}
hover\:.text-white-900:hover { --text-light:var(--white-900);--text-dark:var(--white-900);}
hover\:.text-white-950:hover { --text-light:var(--white-950);--text-dark:var(--white-950);}

.light\:hover\:text-white:hover { --text-light:var(--white-500 ); }
.light\:hover\:text-white-50:hover  { --text-light:var(--white-50 ); }
.light\:hover\:text-white-100:hover { --text-light:var(--white-100); }
.light\:hover\:text-white-200:hover { --text-light:var(--white-200); }
.light\:hover\:text-white-300:hover { --text-light:var(--white-300); }
.light\:hover\:text-white-400:hover { --text-light:var(--white-400); }
.light\:hover\:text-white-500:hover { --text-light:var(--white-500); }
.light\:hover\:text-white-600:hover { --text-light:var(--white-600); }
.light\:hover\:text-white-700:hover { --text-light:var(--white-700); }
.light\:hover\:text-white-800:hover { --text-light:var(--white-800); }
.light\:hover\:text-white-900:hover { --text-light:var(--white-900); }
.light\:hover\:text-white-950:hover { --text-light:var(--white-950); }

.dark\:hover\:text-white:hover  { --text-dark:var(--white-500 ); }
.dark\:hover\:text-white-50:hover  { --text-dark:var(--white-50 ); }
.dark\:hover\:text-white-100:hover { --text-dark:var(--white-100); }
.dark\:hover\:text-white-200:hover { --text-dark:var(--white-200); }
.dark\:hover\:text-white-300:hover { --text-dark:var(--white-300); }
.dark\:hover\:text-white-400:hover { --text-dark:var(--white-400); }
.dark\:hover\:text-white-500:hover { --text-dark:var(--white-500); }
.dark\:hover\:text-white-600:hover { --text-dark:var(--white-600); }
.dark\:hover\:text-white-700:hover { --text-dark:var(--white-700); }
.dark\:hover\:text-white-800:hover { --text-dark:var(--white-800); }
.dark\:hover\:text-white-900:hover { --text-dark:var(--white-900); }
.dark\:hover\:text-white-950:hover { --text-dark:var(--white-950); }