@import url(layout/spacing.css);

:root {
  --border-radius: var(--spacing-4);
  --border-color: light-dark(#00000014, #ffffff14);
}


.border {
  border-width: 1px;
  border-style: solid;
}


.border-solid {
  border-style: solid;
}

.border-dashed {
  border-style: dashed;
}

.border-dotted {
  border-style: dotted;
}

.border-double {
  border-style: double;
}



.border-red {
  border-color: var(--red);
}

.border-orange {
  border-color: var(--orange);
}

.border-yellow {
  border-color: var(--yellow);
}

.border-green {
  border-color: var(--green);
}

.border-blue {
  border-color: var(--blue);
}

.border-purple {
  border-color: var(--purple);
}

.border-dark-grey {
  border-color: var(--dark-grey);
}

.border-light-grey {
  border-color: var(--light-grey);
}

.border-grey {
  border-color: var(--grey);
}

.border-negative-grey {
  border-color: var(--negative-grey);
}

.border-white {
  border-color: var(--white);
}

.border-black {
  border-color: var(--black);
}



.rounded-0 {
  border-radius: 0 !important;
}

.rounded,
.rounded-1 {
  border-radius: var(--spacing-1) !important;
}

.rounded-2 {
  border-radius: var(--spacing-2) !important;
}

.rounded,
.rounded-3 {
  border-radius: var(--spacing-3) !important;
}

.rounded-4 {
  border-radius: var(--spacing-4) !important;
}

.rounded-5 {
  border-radius: var(--spacing-5) !important;
}

.rounded-6 {
  border-radius: var(--spacing-6) !important;
}

.rounded-7 {
  border-radius: var(--spacing-7) !important;
}


.rounded-pill {
  border-radius: 50vh!important;
}



.border-top {
  border-top-width: 1px;
  border-top-style: solid;
}


.border-right {
  border-right-width: 1px;
  border-right-style: solid;
}


.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-left {
  border-left-width: 1px;
  border-left-style: solid;
}






.border-0 {
  border-width: 0;
}

.border-1 {
  border-width: 1px; 
}

.border-2 {
  border-width: 2px;
}

.border-3 {
  border-width: 3px;
}

.border-4 {
  border-width: 4px;
}

.border-5 {
  border-width: 5px;
}