@import url(colors/colors.css);
@import url(horizontal-rule.css);
@import url(forms/forms.css);
@import url(headings.css);
@import url(colors/colors.css);
@import url(buttons/buttons.css);
@import url(cards.css);
@import url(borders/borders.css);
@import url(overflow.css);
@import url(transform/transform.css);
@import url(layout/layout.css);
@import url(backgrounds/backgrounds.css);
@import url(colors/greyscale.css);
@import url(cursor.css);
@import url(navbar.css);
@import url(text/text.css);
@import url(code/code.css);
@import url(selection.css);
@import url(modal/modal.css);
@import url(scrollbar.css);

*, :after, :before, ::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

:root {
  /* color-scheme: light dark; */
  color-scheme: var(--color-scheme, light);
  --background-color: light-dark(var(--white-100), var(--black-800));
  --text-color: light-dark(var(--black-500), var(--white-500));
}

body {
  font-optical-sizing: auto;
  background-color: var(--background-color);
  color: var(--text-color);  
}
