@import url(../../colors/palette.css);

.stripes-pink { 
  --stripes-bg-light:var(--pink-100);
  --stripes-fg-light:var(--pink-200);
  --stripes-bg-dark:var(--pink-900);
  --stripes-fg-dark:var(--pink-950);
}

.stripes-bg-pink { 
  --stripes-bg-light:var(--pink-100);
  --stripes-bg-dark:var(--pink-900);
}

.stripes-fg-pink { 
  --stripes-fg-light:var(--pink-200);
  --stripes-fg-dark:var(--pink-950);
}

.stripes-bg-pink-50  { --stripes-bg-light:var(--pink-50 );--stripes-bg-dark:var(--pink-50 );}
.stripes-bg-pink-100 { --stripes-bg-light:var(--pink-100);--stripes-bg-dark:var(--pink-100);}
.stripes-bg-pink-200 { --stripes-bg-light:var(--pink-200);--stripes-bg-dark:var(--pink-200);}
.stripes-bg-pink-300 { --stripes-bg-light:var(--pink-300);--stripes-bg-dark:var(--pink-300);}
.stripes-bg-pink-400 { --stripes-bg-light:var(--pink-400);--stripes-bg-dark:var(--pink-400);}
.stripes-bg-pink-500 { --stripes-bg-light:var(--pink-500);--stripes-bg-dark:var(--pink-500);}
.stripes-bg-pink-600 { --stripes-bg-light:var(--pink-600);--stripes-bg-dark:var(--pink-600);}
.stripes-bg-pink-700 { --stripes-bg-light:var(--pink-700);--stripes-bg-dark:var(--pink-700);}
.stripes-bg-pink-800 { --stripes-bg-light:var(--pink-800);--stripes-bg-dark:var(--pink-800);}
.stripes-bg-pink-900 { --stripes-bg-light:var(--pink-900);--stripes-bg-dark:var(--pink-900);}
.stripes-bg-pink-950 { --stripes-bg-light:var(--pink-950);--stripes-bg-dark:var(--pink-950);}

.stripes-fg-pink-50  { --stripes-fg-light:var(--pink-50 );--stripes-fg-dark:var(--pink-50 );}
.stripes-fg-pink-100 { --stripes-fg-light:var(--pink-100);--stripes-fg-dark:var(--pink-100);}
.stripes-fg-pink-200 { --stripes-fg-light:var(--pink-200);--stripes-fg-dark:var(--pink-200);}
.stripes-fg-pink-300 { --stripes-fg-light:var(--pink-300);--stripes-fg-dark:var(--pink-300);}
.stripes-fg-pink-400 { --stripes-fg-light:var(--pink-400);--stripes-fg-dark:var(--pink-400);}
.stripes-fg-pink-500 { --stripes-fg-light:var(--pink-500);--stripes-fg-dark:var(--pink-500);}
.stripes-fg-pink-600 { --stripes-fg-light:var(--pink-600);--stripes-fg-dark:var(--pink-600);}
.stripes-fg-pink-700 { --stripes-fg-light:var(--pink-700);--stripes-fg-dark:var(--pink-700);}
.stripes-fg-pink-800 { --stripes-fg-light:var(--pink-800);--stripes-fg-dark:var(--pink-800);}
.stripes-fg-pink-900 { --stripes-fg-light:var(--pink-900);--stripes-fg-dark:var(--pink-900);}
.stripes-fg-pink-950 { --stripes-fg-light:var(--pink-950);--stripes-fg-dark:var(--pink-950);}

.light\:stripes-pink { 
  --stripes-bg-light:var(--pink-100);
  --stripes-fg-light:var(--pink-200);
}

.light\:stripes-bg-pink     { --stripes-bg-light:var(--pink-100); }
.light\:stripes-bg-pink-50  { --stripes-bg-light:var(--pink-50 ); }
.light\:stripes-bg-pink-100 { --stripes-bg-light:var(--pink-100); }
.light\:stripes-bg-pink-200 { --stripes-bg-light:var(--pink-200); }
.light\:stripes-bg-pink-300 { --stripes-bg-light:var(--pink-300); }
.light\:stripes-bg-pink-400 { --stripes-bg-light:var(--pink-400); }
.light\:stripes-bg-pink-500 { --stripes-bg-light:var(--pink-500); }
.light\:stripes-bg-pink-600 { --stripes-bg-light:var(--pink-600); }
.light\:stripes-bg-pink-700 { --stripes-bg-light:var(--pink-700); }
.light\:stripes-bg-pink-800 { --stripes-bg-light:var(--pink-800); }
.light\:stripes-bg-pink-900 { --stripes-bg-light:var(--pink-900); }
.light\:stripes-bg-pink-950 { --stripes-bg-light:var(--pink-950); }

.light\:stripes-fg-pink     { --stripes-fg-light:var(--pink-200); }
.light\:stripes-fg-pink-50  { --stripes-fg-light:var(--pink-50 ); }
.light\:stripes-fg-pink-100 { --stripes-fg-light:var(--pink-100); }
.light\:stripes-fg-pink-200 { --stripes-fg-light:var(--pink-200); }
.light\:stripes-fg-pink-300 { --stripes-fg-light:var(--pink-300); }
.light\:stripes-fg-pink-400 { --stripes-fg-light:var(--pink-400); }
.light\:stripes-fg-pink-500 { --stripes-fg-light:var(--pink-500); }
.light\:stripes-fg-pink-600 { --stripes-fg-light:var(--pink-600); }
.light\:stripes-fg-pink-700 { --stripes-fg-light:var(--pink-700); }
.light\:stripes-fg-pink-800 { --stripes-fg-light:var(--pink-800); }
.light\:stripes-fg-pink-900 { --stripes-fg-light:var(--pink-900); }
.light\:stripes-fg-pink-950 { --stripes-fg-light:var(--pink-950); }

.dark\:stripes-pink { 
  --stripes-bg-dark:var(--pink-900);
  --stripes-fg-dark:var(--pink-950);
}

.dark\:stripes-bg-pink     { --stripes-bg-dark:var(--pink-900); }
.dark\:stripes-bg-pink-50  { --stripes-bg-dark:var(--pink-50 ); }
.dark\:stripes-bg-pink-100 { --stripes-bg-dark:var(--pink-100); }
.dark\:stripes-bg-pink-200 { --stripes-bg-dark:var(--pink-200); }
.dark\:stripes-bg-pink-300 { --stripes-bg-dark:var(--pink-300); }
.dark\:stripes-bg-pink-400 { --stripes-bg-dark:var(--pink-400); }
.dark\:stripes-bg-pink-500 { --stripes-bg-dark:var(--pink-500); }
.dark\:stripes-bg-pink-600 { --stripes-bg-dark:var(--pink-600); }
.dark\:stripes-bg-pink-700 { --stripes-bg-dark:var(--pink-700); }
.dark\:stripes-bg-pink-800 { --stripes-bg-dark:var(--pink-800); }
.dark\:stripes-bg-pink-900 { --stripes-bg-dark:var(--pink-900); }
.dark\:stripes-bg-pink-950 { --stripes-bg-dark:var(--pink-950); }

.dark\:stripes-fg-pink     { --stripes-fg-dark:var(--pink-950); }
.dark\:stripes-fg-pink-50  { --stripes-fg-dark:var(--pink-50 ); }
.dark\:stripes-fg-pink-100 { --stripes-fg-dark:var(--pink-100); }
.dark\:stripes-fg-pink-200 { --stripes-fg-dark:var(--pink-200); }
.dark\:stripes-fg-pink-300 { --stripes-fg-dark:var(--pink-300); }
.dark\:stripes-fg-pink-400 { --stripes-fg-dark:var(--pink-400); }
.dark\:stripes-fg-pink-500 { --stripes-fg-dark:var(--pink-500); }
.dark\:stripes-fg-pink-600 { --stripes-fg-dark:var(--pink-600); }
.dark\:stripes-fg-pink-700 { --stripes-fg-dark:var(--pink-700); }
.dark\:stripes-fg-pink-800 { --stripes-fg-dark:var(--pink-800); }
.dark\:stripes-fg-pink-900 { --stripes-fg-dark:var(--pink-900); }
.dark\:stripes-fg-pink-950 { --stripes-fg-dark:var(--pink-950); }