@import url(../../colors/palette.css);

.stripes-cyan { 
  --stripes-bg-light:var(--cyan-100);
  --stripes-fg-light:var(--cyan-200);
  --stripes-bg-dark:var(--cyan-900);
  --stripes-fg-dark:var(--cyan-950);
}

.stripes-bg-cyan-50  { --stripes-bg-light:var(--cyan-50 );--stripes-bg-dark:var(--cyan-50 );}
.stripes-bg-cyan-100 { --stripes-bg-light:var(--cyan-100);--stripes-bg-dark:var(--cyan-100);}
.stripes-bg-cyan-200 { --stripes-bg-light:var(--cyan-200);--stripes-bg-dark:var(--cyan-200);}
.stripes-bg-cyan-300 { --stripes-bg-light:var(--cyan-300);--stripes-bg-dark:var(--cyan-300);}
.stripes-bg-cyan-400 { --stripes-bg-light:var(--cyan-400);--stripes-bg-dark:var(--cyan-400);}
.stripes-bg-cyan-500 { --stripes-bg-light:var(--cyan-500);--stripes-bg-dark:var(--cyan-500);}
.stripes-bg-cyan-600 { --stripes-bg-light:var(--cyan-600);--stripes-bg-dark:var(--cyan-600);}
.stripes-bg-cyan-700 { --stripes-bg-light:var(--cyan-700);--stripes-bg-dark:var(--cyan-700);}
.stripes-bg-cyan-800 { --stripes-bg-light:var(--cyan-800);--stripes-bg-dark:var(--cyan-800);}
.stripes-bg-cyan-900 { --stripes-bg-light:var(--cyan-900);--stripes-bg-dark:var(--cyan-900);}
.stripes-bg-cyan-950 { --stripes-bg-light:var(--cyan-950);--stripes-bg-dark:var(--cyan-950);}

.stripes-fg-cyan-50  { --stripes-fg-light:var(--cyan-50 );--stripes-fg-dark:var(--cyan-50 );}
.stripes-fg-cyan-100 { --stripes-fg-light:var(--cyan-100);--stripes-fg-dark:var(--cyan-100);}
.stripes-fg-cyan-200 { --stripes-fg-light:var(--cyan-200);--stripes-fg-dark:var(--cyan-200);}
.stripes-fg-cyan-300 { --stripes-fg-light:var(--cyan-300);--stripes-fg-dark:var(--cyan-300);}
.stripes-fg-cyan-400 { --stripes-fg-light:var(--cyan-400);--stripes-fg-dark:var(--cyan-400);}
.stripes-fg-cyan-500 { --stripes-fg-light:var(--cyan-500);--stripes-fg-dark:var(--cyan-500);}
.stripes-fg-cyan-600 { --stripes-fg-light:var(--cyan-600);--stripes-fg-dark:var(--cyan-600);}
.stripes-fg-cyan-700 { --stripes-fg-light:var(--cyan-700);--stripes-fg-dark:var(--cyan-700);}
.stripes-fg-cyan-800 { --stripes-fg-light:var(--cyan-800);--stripes-fg-dark:var(--cyan-800);}
.stripes-fg-cyan-900 { --stripes-fg-light:var(--cyan-900);--stripes-fg-dark:var(--cyan-900);}
.stripes-fg-cyan-950 { --stripes-fg-light:var(--cyan-950);--stripes-fg-dark:var(--cyan-950);}

.light\:stripes-bg-cyan     { --stripes-bg-light:var(--cyan-100); }
.light\:stripes-bg-cyan-50  { --stripes-bg-light:var(--cyan-50 ); }
.light\:stripes-bg-cyan-100 { --stripes-bg-light:var(--cyan-100); }
.light\:stripes-bg-cyan-200 { --stripes-bg-light:var(--cyan-200); }
.light\:stripes-bg-cyan-300 { --stripes-bg-light:var(--cyan-300); }
.light\:stripes-bg-cyan-400 { --stripes-bg-light:var(--cyan-400); }
.light\:stripes-bg-cyan-500 { --stripes-bg-light:var(--cyan-500); }
.light\:stripes-bg-cyan-600 { --stripes-bg-light:var(--cyan-600); }
.light\:stripes-bg-cyan-700 { --stripes-bg-light:var(--cyan-700); }
.light\:stripes-bg-cyan-800 { --stripes-bg-light:var(--cyan-800); }
.light\:stripes-bg-cyan-900 { --stripes-bg-light:var(--cyan-900); }
.light\:stripes-bg-cyan-950 { --stripes-bg-light:var(--cyan-950); }

.light\:stripes-fg-cyan     { --stripes-fg-light:var(--cyan-200); }
.light\:stripes-fg-cyan-50  { --stripes-fg-light:var(--cyan-50 ); }
.light\:stripes-fg-cyan-100 { --stripes-fg-light:var(--cyan-100); }
.light\:stripes-fg-cyan-200 { --stripes-fg-light:var(--cyan-200); }
.light\:stripes-fg-cyan-300 { --stripes-fg-light:var(--cyan-300); }
.light\:stripes-fg-cyan-400 { --stripes-fg-light:var(--cyan-400); }
.light\:stripes-fg-cyan-500 { --stripes-fg-light:var(--cyan-500); }
.light\:stripes-fg-cyan-600 { --stripes-fg-light:var(--cyan-600); }
.light\:stripes-fg-cyan-700 { --stripes-fg-light:var(--cyan-700); }
.light\:stripes-fg-cyan-800 { --stripes-fg-light:var(--cyan-800); }
.light\:stripes-fg-cyan-900 { --stripes-fg-light:var(--cyan-900); }
.light\:stripes-fg-cyan-950 { --stripes-fg-light:var(--cyan-950); }

.dark\:stripes-bg-cyan     { --stripes-bg-dark:var(--cyan-900); }
.dark\:stripes-bg-cyan-50  { --stripes-bg-dark:var(--cyan-50 ); }
.dark\:stripes-bg-cyan-100 { --stripes-bg-dark:var(--cyan-100); }
.dark\:stripes-bg-cyan-200 { --stripes-bg-dark:var(--cyan-200); }
.dark\:stripes-bg-cyan-300 { --stripes-bg-dark:var(--cyan-300); }
.dark\:stripes-bg-cyan-400 { --stripes-bg-dark:var(--cyan-400); }
.dark\:stripes-bg-cyan-500 { --stripes-bg-dark:var(--cyan-500); }
.dark\:stripes-bg-cyan-600 { --stripes-bg-dark:var(--cyan-600); }
.dark\:stripes-bg-cyan-700 { --stripes-bg-dark:var(--cyan-700); }
.dark\:stripes-bg-cyan-800 { --stripes-bg-dark:var(--cyan-800); }
.dark\:stripes-bg-cyan-900 { --stripes-bg-dark:var(--cyan-900); }
.dark\:stripes-bg-cyan-950 { --stripes-bg-dark:var(--cyan-950); }

.dark\:stripes-fg-cyan     { --stripes-fg-dark:var(--cyan-950); }
.dark\:stripes-fg-cyan-50  { --stripes-fg-dark:var(--cyan-50 ); }
.dark\:stripes-fg-cyan-100 { --stripes-fg-dark:var(--cyan-100); }
.dark\:stripes-fg-cyan-200 { --stripes-fg-dark:var(--cyan-200); }
.dark\:stripes-fg-cyan-300 { --stripes-fg-dark:var(--cyan-300); }
.dark\:stripes-fg-cyan-400 { --stripes-fg-dark:var(--cyan-400); }
.dark\:stripes-fg-cyan-500 { --stripes-fg-dark:var(--cyan-500); }
.dark\:stripes-fg-cyan-600 { --stripes-fg-dark:var(--cyan-600); }
.dark\:stripes-fg-cyan-700 { --stripes-fg-dark:var(--cyan-700); }
.dark\:stripes-fg-cyan-800 { --stripes-fg-dark:var(--cyan-800); }
.dark\:stripes-fg-cyan-900 { --stripes-fg-dark:var(--cyan-900); }
.dark\:stripes-fg-cyan-950 { --stripes-fg-dark:var(--cyan-950); }