:root {

  --red-disabled: light-dark( #eca7a3, #874444);
  --orange-disabled: light-dark( #f9d4a8 , #947149);
  --yellow-disabled: light-dark( #eae5a6 , #868248);
  --green-disabled: light-dark( #8bcca5 , #266947);
  --blue-disabled: light-dark( #a0abef , #3b4891);
  --purple-disabled: light-dark( #dda7e5 , #784487);  
  --light-grey-disabled: light-dark( #ecedf1 , #878a93);
  --dark-grey-disabled: light-dark(  #9ca0ad, #383d4e );
  --grey-disabled: light-dark(var(--light-grey-disabled), var(--dark-grey-disabled));
  --negative-grey-disabled: light-dark(var(--dark-grey-disabled), var(--light-grey-disabled));

  --white-disabled: light-dark(#f3edef, #8e9097);
  --black-disabled: light-dark(#888a90, #333134);
}

