/* https://huetone.ardov.me/?palette=N4IgdghgtgpiBcIAOAbCBPA5gJwPYFcwATEAGhAAt8YBnBAbVElgRACEVqyQBjXFXNjrx6IAMQwAHADMA7NICc3MTxgwi0gEzKIAVg0xZyyQBYiAZg3LdsnpfPKAjEQgw7TgEYKIEHk4BsslIk5GKO5v4Ksv7KAAwwJtK6knEK5rrmHiAAugC%2BpEzQcIgA4thqYNx8AkIM4tKx0pJqygbSLso8ujCaHlmhEO2yENqhCpo8kpKxyv5EHv66urOxELEm-eKJkuaWyiaOc7vK5o66mpoxoZrhso4QOfmFLKXYGFX8gsKiEuYwfw5QpNgSkBjBXK5lAoTNDocpZB4EQjZhFUfseCYMX5Qqj-BFlBdCaNxI1SdI4ppYpTtHkCuAiqwOL4ANYfGrfLZEMxmfbmEx8wHicx2EUnfnigk8CYTAkmTRykxOaSOZXk0KODwajVOSSOXWg8SOA7GuLmWJmhy057FEBld7kapfOpiIjqN2tDzzebKDwQX2%2Bn1IxE%2BrWanT%2Bv06e7RqG6BRx5ahSQg7HiST%2BdPp%2BEQYbDR7ZcgAF1wYFodV0M3IjlilZAlNrZtrJhr3Artf8LfIsk7IGmtYUPfjMzyQA */


:root {
  --yellow-50: oklch(0.98 0.0217 92.5);
  --yellow-100: oklch(0.95 0.0447 91.74);
  --yellow-200: oklch(0.92 0.0806 92.83);
  --yellow-300: oklch(0.89 0.107 92.01);
  --yellow-400: oklch(0.85 0.1375 91.16);
  --yellow-500: oklch(0.8 0.1581 88.32);
  --yellow-600: oklch(0.73 0.1433 88.52);
  --yellow-700: oklch(0.63 0.1232 88.91);
  --yellow-800: oklch(0.55 0.1069 88.41);
  --yellow-900: oklch(0.45 0.0864 89.44);
  --yellow-950: oklch(0.35 0.0638 91.04);

  --orange-50: oklch(0.96 0.0169 61.96);
  --orange-100: oklch(0.92 0.0376 62.16);
  --orange-200: oklch(0.86 0.0685 61.65);
  --orange-300: oklch(0.81 0.0942 60.61);
  --orange-400: oklch(0.74 0.1271 58.87);
  --orange-500: oklch(0.67 0.161 53.14);
  --orange-600: oklch(0.61 0.1453 53.38);
  --orange-700: oklch(0.53 0.1241 53.9);
  --orange-800: oklch(0.46 0.1072 54.34);
  --orange-900: oklch(0.38 0.0856 55.37);
  --orange-950: oklch(0.29 0.0619 56.61);

  --red-50: oklch(0.95 0.021 6.62);
  --red-100: oklch(0.88 0.0459 6.22);
  --red-200: oklch(0.79 0.0878 7.54);
  --red-300: oklch(0.72 0.125 9.29);
  --red-400: oklch(0.64 0.1714 12.4);
  --red-500: oklch(0.56 0.2109 19.68);
  --red-600: oklch(0.51 0.1901 19.29);
  --red-700: oklch(0.44 0.1636 18.93);
  --red-800: oklch(0.39 0.1421 18.4);
  --red-900: oklch(0.32 0.1133 17.37);
  --red-950: oklch(0.25 0.0842 16.44);


  --magenta-50: oklch(0.95 0.0258 335.45);
  --magenta-100: oklch(0.9 0.0559 335.43);
  --magenta-200: oklch(0.82 0.1029 336.98);
  --magenta-300: oklch(0.75 0.1422 337.54);
  --magenta-400: oklch(0.68 0.192 339.41);
  --magenta-500: oklch(0.6 0.2343 342.15);
  --magenta-600: oklch(0.55 0.2119 341.96);
  --magenta-700: oklch(0.48 0.1821 341.52);
  --magenta-800: oklch(0.42 0.1573 341.67);
  --magenta-900: oklch(0.34 0.1263 341.92);
  --magenta-950: oklch(0.27 0.0919 341.68);


  --violet-50: oklch(0.95 0.0232 299.37);
  --violet-100: oklch(0.9 0.0487 299.77);
  --violet-200: oklch(0.83 0.0892 298.26);
  --violet-300: oklch(0.76 0.1233 297.3);
  --violet-400: oklch(0.68 0.1718 295.41);
  --violet-500: oklch(0.58 0.224 291.9);
  --violet-600: oklch(0.53 0.2022 291.93);
  --violet-700: oklch(0.46 0.1724 292.45);
  --violet-800: oklch(0.41 0.1488 292.59);
  --violet-900: oklch(0.33 0.119 292.92);
  --violet-950: oklch(0.26 0.0856 294.11);


  --blue-50: oklch(0.96 0.0157 266.28);
  --blue-100: oklch(0.91 0.0353 264.39);
  --blue-200: oklch(0.84 0.0646 264.57);
  --blue-300: oklch(0.79 0.0904 264.14);
  --blue-400: oklch(0.71 0.1272 263.49);
  --blue-500: oklch(0.62 0.1727 262.74);
  --blue-600: oklch(0.56 0.1543 262.53);
  --blue-700: oklch(0.49 0.1326 262.55);
  --blue-800: oklch(0.43 0.1142 262.79);
  --blue-900: oklch(0.35 0.0905 262.95);
  --blue-950: oklch(0.27 0.0651 263.25);


  --cyan-50: oklch(0.97 0.0161 206.44);
  --cyan-100: oklch(0.93 0.0331 208.37);
  --cyan-200: oklch(0.87 0.06 206.72);
  --cyan-300: oklch(0.82 0.0794 208);
  --cyan-400: oklch(0.76 0.1007 208.46);
  --cyan-500: oklch(0.69 0.1148 210.51);
  --cyan-600: oklch(0.63 0.104 210.02);
  --cyan-700: oklch(0.55 0.0893 210.12);
  --cyan-800: oklch(0.48 0.0778 210.57);
  --cyan-900: oklch(0.39 0.0626 209.06);
  --cyan-950: oklch(0.3 0.0467 208.45);


  --green-50: oklch(0.97 0.0157 139.44);
  --green-100: oklch(0.93 0.0327 138.21);
  --green-200: oklch(0.88 0.0609 137.69);
  --green-300: oklch(0.84 0.0836 138.1);
  --green-400: oklch(0.78 0.1137 138.1);
  --green-500: oklch(0.71 0.1509 138.51);
  --green-600: oklch(0.64 0.1357 138.5);
  --green-700: oklch(0.56 0.1157 138.24);
  --green-800: oklch(0.49 0.0999 138.6);
  --green-900: oklch(0.4 0.0797 138.35);
  --green-950: oklch(0.31 0.0568 138.49);


  --white-50: oklch(0.9 0 0);
  --white-100: oklch(0.81 0 0);
  --white-200: oklch(0.91 0 0);
  --white-300: oklch(0.88 0 0);
  --white-400: oklch(0.83 0 0);
  --white-500: oklch(0.78 0 0);
  --white-600: oklch(0.71 0 0);
  --white-700: oklch(0.61 0 0);
  --white-800: oklch(0.53 0 0);
  --white-900: oklch(0.44 0 0);
  --white-950: oklch(0.34 0 0);


  --grey-50: oklch(0.98 0 0);
  --grey-100: oklch(0.95 0 0);
  --grey-200: oklch(0.91 0 0);
  --grey-300: oklch(0.88 0 0);
  --grey-400: oklch(0.83 0 0);
  --grey-500: oklch(0.78 0 0);
  --grey-600: oklch(0.71 0 0);
  --grey-700: oklch(0.61 0 0);
  --grey-800: oklch(0.53 0 0);
  --grey-900: oklch(0.44 0 0);
  --grey-950: oklch(0.34 0 0);


  --black-50: oklch(0.42 0 0);
  --black-100: oklch(0.38 0 0);
  --black-200: oklch(0.36 0 0);
  --black-300: oklch(0.33 0 0);
  --black-400: oklch(0.29 0 0);
  --black-500: oklch(0.26 0 0);
  --black-600: oklch(0.24 0 0);
  --black-700: oklch(0.22 0 0);
  --black-800: oklch(0.21 0 0);
  --black-900: oklch(0.19 0 0);
  --black-950: oklch(0.1 0 0);
}