:root {
  --purple-lighter-5: #c146cf;
  --purple-lighter-10: #c75ad4;
  --purple-lighter-15 : #ce6ed9;
  --purple-lighter-20: #d583de;

  --purple-darker-5: #a52fb3;
  --purple-darker-10: #93299f;
  --purple-darker-15: #80248a;
  --purple-darker-20: #6d1f76;
}


.bg-purple-lighter-5 { background-color: var(--purple-lighter-5); color: var(--white); }
.bg-purple-lighter-10 { background-color: var(--purple-lighter-10); color: var(--white); }
.bg-purple-lighter-15 { background-color: var(--purple-lighter-15); color: var(--white); }
.bg-purple-lighter-20 { background-color: var(--purple-lighter-20); color: var(--white); }

.bg-purple-darker-5 { background-color: var(--purple-darker-5); color: var(--white); }
.bg-purple-darker-10 { background-color: var(--purple-darker-10); color: var(--white); }
.bg-purple-darker-15 { background-color: var(--purple-darker-15); color: var(--white); }
.bg-purple-darker-20 { background-color: var(--purple-darker-20); color: var(--white); }

.text-purple-lighter-5 { color: var(--purple-lighter-5); }
.text-purple-lighter-10 { color: var(--purple-lighter-10); }
.text-purple-lighter-15 { color: var(--purple-lighter-15); }
.text-purple-lighter-20 { color: var(--purple-lighter-20); }

.text-purple-darker-5 { color: var(--purple-darker-5); }
.text-purple-darker-10 { color: var(--purple-darker-10); }
.text-purple-darker-15 { color: var(--purple-darker-15); }
.text-purple-darker-20 { color: var(--purple-darker-20); }