:root {
  --red-lighter-5: #e14539;
  --red-lighter-10: #e55a4f;
  --red-lighter-15 : #e86f66;
  --red-lighter-20: #eb837c;

  --red-darker-5: #c92a1e;
  --red-darker-10: #b3251b;
  --red-darker-15: #9d2118;
  --red-darker-20: #871c14;
}


.bg-red-lighter-5 { background-color: var(--red-lighter-5); color: var(--white); }
.bg-red-lighter-10 { background-color: var(--red-lighter-10); color: var(--white); }
.bg-red-lighter-15 { background-color: var(--red-lighter-15); color: var(--white); }
.bg-red-lighter-20 { background-color: var(--red-lighter-20); color: var(--white); }

.bg-red-darker-5 { background-color: var(--red-darker-5); color: var(--white); }
.bg-red-darker-10 { background-color: var(--red-darker-10); color: var(--white); }
.bg-red-darker-15 { background-color: var(--red-darker-15); color: var(--white); }
.bg-red-darker-20 { background-color: var(--red-darker-20); color: var(--white); }

.text-red-lighter-5 { color: var(--red-lighter-5); }
.text-red-lighter-10 { color: var(--red-lighter-10); }
.text-red-lighter-15 { color: var(--red-lighter-15); }
.text-red-lighter-20 { color: var(--red-lighter-20); }

.text-red-darker-5 { color: var(--red-darker-5); }
.text-red-darker-10 { color: var(--red-darker-10); }
.text-red-darker-15 { color: var(--red-darker-15); }
.text-red-darker-20 { color: var(--red-darker-20); }