.h-flex,
.h-flex-start {
  display: flex;
  justify-content: start;
}

.h-flex-end {
  display: flex;
  justify-content: end;
}

.h-flex-center {
  display: flex;
  justify-content: center;
}

.h-flex-between {
  display: flex;
  justify-content: space-between;
}

.h-flex-around {
  display: flex;
  justify-content: space-around;
}

.h-flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.v-flex,
.v-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.v-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.v-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.v-flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.v-flex-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.v-flex-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.flex-nowrap {flex-wrap: nowrap;}
.flex-wrap {flex-wrap: wrap;}
.flex-wrap-reverse {flex-wrap: wrap-reverse;}

.items-start { align-items: flex-start;}
.items-end { align-items: flex-end;}
.items-end-safe { align-items: safe flex-end;}
.items-center { align-items: center;}
.items-center-safe { align-items: safe center;}
.items-baseline { align-items: baseline;}
.items-baseline-last { align-items: last baseline;}
.items-stretch { align-items: stretch;}

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-end-safe { justify-content: safe flex-end; }
.justify-center { justify-content: center; }
.justify-center-safe { justify-content: safe center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
.justify-stretch { justify-content: stretch; }
.justify-baseline { justify-content: baseline; }
.justify-normal { justify-content: normal; }

.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }
.grow-7 { flex-grow: 7; }

.flex-0 { flex: 0}
.flex-1 { flex: 1}
.flex-2 { flex: 2}
.flex-3 { flex: 3}
.flex-4 { flex: 4}
.flex-5 { flex: 5}
.flex-6 { flex: 6}
.flex-7 { flex: 7}

.shrink-0 { flex-shrink: 0}  
.shrink,
.shrink-1 { flex-shrink: 1}  
.shrink-2 { flex-shrink: 2}  
.shrink-3 { flex-shrink: 3}  
.shrink-4 { flex-shrink: 4}  
.shrink-5 { flex-shrink: 5}  
.shrink-6 { flex-shrink: 6}  
.shrink-7 { flex-shrink: 7}  

.self-auto { align-self: auto; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-end-safe { align-self: safe flex-end; }
.self-center { align-self: center; }
.self-center-safe { align-self: safe center; }
.self-stretch { align-self: stretch; }
.self-baseline { align-self: baseline; }
.self-baseline-last { align-self: last baseline; }


.justify-self-auto { justify-self: auto; }
.justify-self-start { justify-self: flex-start; }
.justify-self-end { justify-self: flex-end; }
.justify-self-end-safe { justify-self: safe flex-end; }
.justify-self-center { justify-self: center; }
.justify-self-center-safe { justify-self: safe center; }
.justify-self-stretch { justify-self: stretch; }
.justify-self-baseline { justify-self: baseline; }
.justify-self-baseline-last { justify-self: last baseline; }

.place-self-auto { place-self: auto; }
.place-self-start { place-self: start; }
.place-self-end { place-self: end; }
.place-self-end-safe { place-self: safe end; }
.place-self-center { place-self: center; }
.place-self-center-safe { place-self: safe center; }
.place-self-stretch { place-self: stretch; }