.h-flex,
.h-flex-start {
  display: flex;
  justify-content: start;
}

.h-flex-end {
  display: flex;
  justify-content: end;
}

.h-flex-center {
  display: flex;
  justify-content: center;
}

.h-flex-between {
  display: flex;
  justify-content: space-between;
}

.h-flex-around {
  display: flex;
  justify-content: space-around;
}

.h-flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.v-flex,
.v-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.v-flex-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.v-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.v-flex-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.v-flex-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.v-flex-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.grow-0 { flex-grow: 0; }
.grow-1 { flex-grow: 1; }
.grow-2 { flex-grow: 2; }
.grow-3 { flex-grow: 3; }
.grow-4 { flex-grow: 4; }
.grow-5 { flex-grow: 5; }
.grow-6 { flex-grow: 6; }
.grow-7 { flex-grow: 7; }