@import url(spacing.css);

.grid {
  grid-template-columns: repeat(auto-fit,minmax(0%,1fr));
  grid-column-gap: var(--spacing-2);
  grid-row-gap: var(--spacing-2);
  display: grid;    
}


.v-grid {
  grid-template-columns: repeat(1,1fr);
  grid-column-gap: var(--spacing-2);
  grid-row-gap: var(--spacing-2);
  display: grid;    
}