@import url(spacing.css);

.m-0 {
  margin: 0!important;
}

.m-1 {
  margin: var(--spacing-1)!important;
}

.m-2 {
  margin: var(--spacing-2)!important;
}

.m-3 {
  margin: var(--spacing-3)!important;
}

.m-4 {
  margin: var(--spacing-4)!important;
}

.m-5 {
  margin: var(--spacing-5)!important;
}

.m-6 {
  margin: var(--spacing-6)!important;
}

.m-7 {
  margin: var(--spacing-7)!important;
}

.m-auto {
  margin: auto!important;
}




.mx-0 {
  margin-left: 0!important;
  margin-right: 0!important;
}

.mx-1 {
  margin-left: var(--spacing-1)!important;
  margin-right: var(--spacing-1)!important;
}

.mx-2 {
  margin-left: var(--spacing-2)!important;
  margin-right: var(--spacing-2)!important;
}

.mx-3 {
  margin-left: var(--spacing-3)!important;
  margin-right: var(--spacing-3)!important;
}

.mx-4 {
  margin-left: var(--spacing-4)!important;
  margin-right: var(--spacing-4)!important;
}

.mx-5 {
  margin-left: var(--spacing-5)!important;
  margin-right: var(--spacing-5)!important;
}

.mx-6 {
  margin-left: var(--spacing-6)!important;
  margin-right: var(--spacing-6)!important;
}

.mx-7 {
  margin-left: var(--spacing-7)!important;
  margin-right: var(--spacing-7)!important;
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}



.my-0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.my-1 {
  margin-top: var(--spacing-1)!important;
  margin-bottom: var(--spacing-1)!important;
}

.my-2 {
  margin-top: var(--spacing-2)!important;
  margin-bottom: var(--spacing-2)!important;
}

.my-3 {
  margin-top: var(--spacing-3)!important;
  margin-bottom: var(--spacing-3)!important;
}

.my-4 {
  margin-top: var(--spacing-4)!important;
  margin-bottom: var(--spacing-4)!important;
}

.my-5 {
  margin-top: var(--spacing-5)!important;
  margin-bottom: var(--spacing-5)!important;
}

.my-6 {
  margin-top: var(--spacing-6)!important;
  margin-bottom: var(--spacing-6)!important;
}

.my-7 {
  margin-top: var(--spacing-7)!important;
  margin-bottom: var(--spacing-7)!important;
}

.my-auto {
  margin-top: auto!important;
  margin-bottom: auto!important;
}



.mb-0 {
  margin-bottom: 0!important;
}

.mb-1 {
  margin-bottom: var(--spacing-1)!important;
}

.mb-2 {
  margin-bottom: var(--spacing-2)!important;
}

.mb-3 {
  margin-bottom: var(--spacing-3)!important;
}

.mb-4 {
  margin-bottom: var(--spacing-4)!important;
}

.mb-5 {
  margin-bottom: var(--spacing-5)!important;
}

.mb-6 {
  margin-bottom: var(--spacing-6)!important;
}

.mb-7 {
  margin-bottom: var(--spacing-7)!important;
}

.mb-auto {
  margin-bottom: auto!important;
}





.mt-0 {
  margin-top: 0!important;
}

.mt-1 {
  margin-top: var(--spacing-1)!important;
}

.mt-2 {
  margin-top: var(--spacing-2)!important;
}

.mt-3 {
  margin-top: var(--spacing-3)!important;
}

.mt-4 {
  margin-top: var(--spacing-4)!important;
}

.mt-5 {
  margin-top: var(--spacing-5)!important;
}

.mt-6 {
  margin-top: var(--spacing-6)!important;
}

.mt-7 {
  margin-top: var(--spacing-7)!important;
}

.mt-auto {
  margin-top: auto!important;
}





.ml-0 {
  margin-left: 0!important;
}

.ml-1 {
  margin-left: var(--spacing-1)!important;
}

.ml-2 {
  margin-left: var(--spacing-2)!important;
}

.ml-3 {
  margin-left: var(--spacing-3)!important;
}

.ml-4 {
  margin-left: var(--spacing-4)!important;
}

.ml-5 {
  margin-left: var(--spacing-5)!important;
}

.ml-6 {
  margin-left: var(--spacing-6)!important;
}

.ml-7 {
  margin-left: var(--spacing-7)!important;
}

.ml-auto {
  margin-left: auto!important;
}





.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: var(--spacing-1);
}

.mr-2 {
  margin-right: var(--spacing-2);
}

.mr-3 {
  margin-right: var(--spacing-3);
}

.mr-4 {
  margin-right: var(--spacing-4);
}

.mr-5 {
  margin-right: var(--spacing-5);
}

.mr-6 {
  margin-right: var(--spacing-6);
}

.mr-7 {
  margin-right: var(--spacing-7);
}

.mr-auto {
  margin-right: auto;
}