.position-relative,
.relative {
  position: relative;
}

.position-absolute,
.absolute {
  position: absolute;
}

.position-static,
.static {
  position: static;
}

.position-fixed,
.fixed {
  position: fixed;
}

.position-sticky,
.sticky {
  position: sticky;
}


.top-0 { top:0; }
.top-50 { top:50%; }

.top-8px { top: 8px }
.top-16px { top: 16px }
.top-24px { top: 24px }
.top-32px { top: 32px }
.top-48px { top: 48px }
.top-64px { top: 64px }
.top-128px { top: 128px }
.top-256px { top: 256px }
.top-500px { top: 500px }


.right-0 { right:0; }
.right-50 { right:50%; }

.right-8px { right: 8px }
.right-16px { right: 16px }
.right-24px { right: 24px }
.right-32px { right: 32px }
.right-48px { right: 48px }
.right-64px { right: 64px }
.right-128px { right: 128px }
.right-256px { right: 256px }
.right-500px { right: 500px }


.bottom-0 { bottom:0; }
.bottom-50 { bottom:50%; }

.bottom-8px { bottom: 8px }
.bottom-16px { bottom: 16px }
.bottom-24px { bottom: 24px }
.bottom-32px { bottom: 32px }
.bottom-48px { bottom: 48px }
.bottom-64px { bottom: 64px }
.bottom-128px { bottom: 128px }
.bottom-256px { bottom: 256px }
.bottom-500px { bottom: 500px }


.left-0 { left:0; }
.left-50 { left:50%; }

.left-8px { left: 8px }
.left-16px { left: 16px }
.left-24px { left: 24px }
.left-32px { left: 32px }
.left-48px { left: 48px }
.left-64px { left: 64px }
.left-128px { left: 128px }
.left-256px { left: 256px }
.left-500px { left: 500px }

