@import url(spacing.css);



.v-grid,
[class*="v-grid-"] {
  grid-template-rows: repeat(1,1fr);
  grid-column-gap: var(--spacing-2);
  grid-row-gap: var(--spacing-2);
  display: grid;   
  grid-auto-flow: column;
}

.v-grid {
  grid-auto-flow: row;
}

.v-grid-2 { grid-template-rows: repeat(2, 1fr); }
.v-grid-3 { grid-template-rows: repeat(3, 1fr); }
.v-grid-4 { grid-template-rows: repeat(4, 1fr); }
.v-grid-5 { grid-template-rows: repeat(5, 1fr); }
.v-grid-6 { grid-template-rows: repeat(6, 1fr); }
.v-grid-7 { grid-template-rows: repeat(7, 1fr); }
.v-grid-8 { grid-template-rows: repeat(8, 1fr); }
.v-grid-9 { grid-template-rows: repeat(9, 1fr); }
.v-grid-10 { grid-template-rows: repeat(10, 1fr); }
.v-grid-11 { grid-template-rows: repeat(11, 1fr); }
.v-grid-12 { grid-template-rows: repeat(12, 1fr); }

.v-grid-2-auto { grid-template-rows: repeat(2, auto); }
.v-grid-3-auto { grid-template-rows: repeat(3, auto); }
.v-grid-4-auto { grid-template-rows: repeat(4, auto); }
.v-grid-5-auto { grid-template-rows: repeat(5, auto); }
.v-grid-6-auto { grid-template-rows: repeat(6, auto); }
.v-grid-7-auto { grid-template-rows: repeat(7, auto); }
.v-grid-8-auto { grid-template-rows: repeat(8, auto); }
.v-grid-9-auto { grid-template-rows: repeat(9, auto); }
.v-grid-10-auto { grid-template-rows: repeat(10, auto); }
.v-grid-11-auto { grid-template-rows: repeat(11, auto); }
.v-grid-12-auto { grid-template-rows: repeat(12, auto); }

.v-span-2 { grid-row: span 2; }
.v-span-3 { grid-row: span 3; }
.v-span-4 { grid-row: span 4; }
.v-span-5 { grid-row: span 5; }
.v-span-6 { grid-row: span 6; }