/* Width Utilities */
.w-auto { width: auto!important; }
.w-fit { width: fit-content!important; }
.w-min { width: min-content!important; }
.w-max { width: max-content!important; }

.w-8px { width: 8px!important; }
.w-16px { width: 16px!important; }
.w-32px { width: 32px!important; }
.w-64px { width: 64px!important; }
.w-128px { width: 128px!important; }
.w-256px { width: 256px!important; }

.w-sm { width: var(--breakpoint-sm)!important; }
.w-md { width: var(--breakpoint-md)!important; }
.w-lg { width: var(--breakpoint-lg)!important; }
.w-xl { width: var(--breakpoint-xl)!important; }
.w-xxl { width: var(--breakpoint-xxl)!important; }

.w-min-sm { min-width: var(--breakpoint-sm)!important; }
.w-min-md { min-width: var(--breakpoint-md)!important; }
.w-min-lg { min-width: var(--breakpoint-lg)!important; }
.w-min-xl { min-width: var(--breakpoint-xl)!important; }
.w-min-xxl { min-width: var(--breakpoint-xxl)!important; }

.w-max-sm { max-width: var(--breakpoint-sm)!important; }
.w-max-md { max-width: var(--breakpoint-md)!important; }
.w-max-lg { max-width: var(--breakpoint-lg)!important; }
.w-max-xl { max-width: var(--breakpoint-xl)!important; }
.w-max-xxl { max-width: var(--breakpoint-xxl)!important; }


.w-25 { width: 25%!important; }
.w-50 { width: 50%!important; }
.w-75 { width: 75%!important; }
.w-100 { width: 100%!important; }

.w-min-25 { min-width: 25%!important; }
.w-min-50 { min-width: 50%!important; }
.w-min-75 { min-width: 75%!important; }
.w-min-100 { min-width: 100%!important; }

.w-max-25 { max-width: 25%!important; }
.w-max-50 { max-width: 50%!important; }
.w-max-75 { max-width: 75%!important; }
.w-max-100 { max-width: 100%!important; }


.w-25vw { width: 25vw!important; }
.w-50vw { width: 50vw!important; }
.w-75vw { width: 75vw!important; }
.w-96vw { width: 96vw!important; }
.w-100vw { width: 100vw!important; }

.w-min-25vw { min-width: 25vw!important; }
.w-min-50vw { min-width: 50vw!important; }
.w-min-75vw { min-width: 75vw!important; }
.w-min-96vw { min-width: 96vw!important; }
.w-min-100vw { min-width: 100vw!important; }

.w-max-25vw { max-width: 25vw!important; }
.w-max-50vw { max-width: 50vw!important; }
.w-max-75vw { max-width: 75vw!important; }
.w-max-96vw { max-width: 96vw!important; }
.w-max-100vw { max-width: 100vw!important; }

.w-25vh { width: 25vh!important; }
.w-50vh { width: 50vh!important; }
.w-75vh { width: 75vh!important; }
.w-100vh { width: 100vh!important; }

.w-100dvw { width: 100dvw!important; }
.w-100dvh { width: 100dvh!important; }

.w-100lvw { width: 100lvw!important; }
.w-100lvh { width: 100lvh!important; }

.w-100svw { width: 100svw!important; }
.w-100svh { width: 100svh!important; }

.w-min { width: min-content!important; }
.w-max { width: max-content!important; }
.w-fit { width: fit-content!important; }
