/* Width Utilities */
.w-auto { width: auto!important; }
.w-fit { width: fit-content!important; }
.w-min { width: min-content!important; }
.w-max { width: max-content!important; }

.w-8px { width: 8px!important; }
.w-16px { width: 16px!important; }
.w-24px { width: 24px!important; }
.w-32px { width: 32px!important; }
.w-48px { width: 48px!important; }
.w-64px { width: 64px!important; }
.w-128px { width: 128px!important; }
.w-256px { width: 256px!important; }
.w-500px { width: 500px!important; }

.w-min-8px { min-width: 8px!important; }
.w-min-16px { min-width: 16px!important; }
.w-min-24px { min-width: 24px!important; }
.w-min-32px { min-width: 32px!important; }
.w-min-48px { min-width: 48px!important; }
.w-min-64px { min-width: 64px!important; }
.w-min-128px { min-width: 128px!important; }
.w-min-256px { min-width: 256px!important; }
.w-min-500px { min-width: 500px!important; }


.w-max-8px { max-width: 8px!important; }
.w-max-16px { max-width: 16px!important; }
.w-max-24px { max-width: 24px!important; }
.w-max-32px { max-width: 32px!important; }
.w-max-48px { max-width: 48px!important; }
.w-max-64px { max-width: 64px!important; }
.w-max-128px { max-width: 128px!important; }
.w-max-256px { max-width: 256px!important; }
.w-max-500px { max-width: 500px!important; }


.w-100wh-8px { width: calc(100vw - 8px); }
.w-100wh-16px { width: calc(100vw - 16px); }
.w-100wh-32px { width: calc(100vw - 32px); }
.w-100wh-48px { width: calc(100vw - 48px); }
.w-100wh-64px { width: calc(100vw - 64px); }
.w-100wh-128px { width: calc(100vw - 128px); }
.w-100wh-256px { width: calc(100vw - 256px); }

.w-sm { width: var(--breakpoint-sm)!important; }
.w-md { width: var(--breakpoint-md)!important; }
.w-lg { width: var(--breakpoint-lg)!important; }
.w-xl { width: var(--breakpoint-xl)!important; }
.w-xxl { width: var(--breakpoint-xxl)!important; }

.w-min-sm { min-width: var(--breakpoint-sm)!important; }
.w-min-md { min-width: var(--breakpoint-md)!important; }
.w-min-lg { min-width: var(--breakpoint-lg)!important; }
.w-min-xl { min-width: var(--breakpoint-xl)!important; }
.w-min-xxl { min-width: var(--breakpoint-xxl)!important; }

.w-max-sm { max-width: var(--breakpoint-sm)!important; }
.w-max-md { max-width: var(--breakpoint-md)!important; }
.w-max-lg { max-width: var(--breakpoint-lg)!important; }
.w-max-xl { max-width: var(--breakpoint-xl)!important; }
.w-max-xxl { max-width: var(--breakpoint-xxl)!important; }



.w-25 { width: 25%!important; }
.w-50 { width: 50%!important; }
.w-75 { width: 75%!important; }
.w-100 { width: 100%!important; }

.w-min-25 { min-width: 25%!important; }
.w-min-50 { min-width: 50%!important; }
.w-min-75 { min-width: 75%!important; }
.w-min-100 { min-width: 100%!important; }

.w-max-25 { max-width: 25%!important; }
.w-max-50 { max-width: 50%!important; }
.w-max-75 { max-width: 75%!important; }
.w-max-100 { max-width: 100%!important; }


.w-20vw { width: 20vw!important; }
.w-25vw { width: 25vw!important; }
.w-50vw { width: 50vw!important; }
.w-75vw { width: 75vw!important; }
.w-96vw { width: 96vw!important; }
.w-100vw { width: 100vw!important; }

.w-min-20vw { min-width: 20vw!important; }
.w-min-25vw { min-width: 25vw!important; }
.w-min-50vw { min-width: 50vw!important; }
.w-min-75vw { min-width: 75vw!important; }
.w-min-96vw { min-width: 96vw!important; }
.w-min-100vw { min-width: 100vw!important; }

.w-max-20vw { max-width: 20vw!important; }
.w-max-25vw { max-width: 25vw!important; }
.w-max-50vw { max-width: 50vw!important; }
.w-max-75vw { max-width: 75vw!important; }
.w-max-96vw { max-width: 96vw!important; }
.w-max-100vw { max-width: 100vw!important; }

.w-20vh { width: 20vh!important; }
.w-25vh { width: 25vh!important; }
.w-50vh { width: 50vh!important; }
.w-75vh { width: 75vh!important; }
.w-100vh { width: 100vh!important; }

.w-min-20vh { min-width: 20vh!important; }
.w-min-25vh { min-width: 25vh!important; }
.w-min-50vh { min-width: 50vh!important; }
.w-min-75vh { min-width: 75vh!important; }
.w-min-100vh { min-width: 100vh!important; }

.w-max-20vh { max-width: 20vh!important; }
.w-max-25vh { max-width: 25vh!important; }
.w-max-50vh { max-width: 50vh!important; }
.w-max-75vh { max-width: 75vh!important; }
.w-max-100vh { max-width: 100vh!important; }

.w-100dvw { width: 100dvw!important; }
.w-100dvh { width: 100dvh!important; }

.w-100lvw { width: 100lvw!important; }
.w-100lvh { width: 100lvh!important; }

.w-100svw { width: 100svw!important; }
.w-100svh { width: 100svh!important; }

.w-100vmin { width: 100vmin!important}
.w-100vmax { width: 100vmax!important}

.w-min { width: min-content!important; }
.w-max { width: max-content!important; }
.w-fit { width: fit-content!important; }
